@charset "UTF-8";

* {
    box-sizing:                 border-box;
}
body,
html {
    width:                      100%;
    height:                     100%;
    padding:                    0;
    margin:                     0;
    position:                   relative;
    color:                      #383838;
    font-family:                'Lato', sans-serif;
}
body {
    background-color:           #FAFBFC;
    color:                      #383838;
}
h1 {
    margin:                     0;
    font-family:                Helvetica, Arial, sans-serif;
}
h3,
h4,
h5,
h6 {
    font-size:                  20px;
    margin:                     0 0 8px 0;
    font-family:                Helvetica, Arial, sans-serif;
}
h5 {
    font-size:                  17px;
}
h6 {
    font-size:                  15px;
    color:                      #2c3e50;
}
div,
a,
span,
li {
    font-family:                'Lato', sans-serif;
}
.bold {
    font-weight:                bold;
}
.italic {
    font-style:                 italic;
}

/* Content */
.content {
    float:                      left;
    width:                      100%;
    background-color:           #FFFFFF;
}
.content .container {
    height:                     100%;
}

/* Header */
.header {
    position:                   relative;
    z-index: 10;
    width:                      100%;
    height:                     56px;
    background-color:           #101010;
    padding:                    8px 0 0 0;
    box-shadow:                 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.header ul,
.header li {
    float:                      left;
    list-style:                 none;
    padding:                    0;
    margin:                     0 8px 0 0;
    line-height:                48px;
    height:                     48px;
    font-size:                  18px;
}
.header ul li a {
    float:                      left;
    padding:                    0 8px 0 8px;
    text-decoration:            none;
    color:                      #D0D0D0;
    outline:                    none;
    line-height:                48px;
    height:                     48px;
}
.header .container ul li span.icon-cirle {
    color:                      #FFFFFF;
}
.header ul li:first-child a {
    padding:                    0 8px 0 0;
}
.header ul li a.active {
    background-color:           #FAFBFC;
    color:                      #383838;
    border-radius:              2px 2px 0 0;
    height:                     56px;
}
.header ul li.wheel a {
    color:                      #FFFFFF;
}
.header .container {
    color:                      #FFFFFF;
}
.header .container .download {
    float:                      right;
    margin:                     8px 0 0 20px;
    background-color:           #585858;
    color:                      #FFFFFF;
    padding:                    4px 10px 4px 10px;
    border-radius:              4px;
    text-decoration:            none;
    font-family:                Helvetica, Arial, sans-serif;
    font-size:                  14px;
    font-weight:                bold;
    letter-spacing:             0.03em;
    line-height:                18px;
    height:                     28px;
}
.header .container .download span {
    float:                      left;
    height:                     100%;
    margin:                     0 8px 0 0;
}
.header .container .download img {
    float:                      right;
    height:                     20px;
}

/* Sub header */
.sub-header {
    position:                   relative;
    z-index:                    5;
    float:                      left;
    width:                      100%;
    height:                     80px;
    margin:                     0;
    background-color:           #FAFBFC;
    border:                     1px solid #E0E0E0;
    border-width:               0 0 1px 0;
    box-shadow:                 0px 2px 2px rgba(0, 0, 0, 0.1);
    cursor:                     default;
}
.sub-header h1 {
    float:                      left;
    width:                      calc(100% - 128px);
    height:                     64px;
    line-height:                84px;
    font-size:                  36px;
    text-align:                 left;
    margin:                     0;
    padding:                    0;
    font-family:                'Open Sans', sans-serif;
}
.sub-header h1 span {
    font-size:                  28px;
    color:                      #95a5a6;
}
.sub-header .header-image {
    float:                      right;
    width:                      100px;
    margin:                     13px 0 0 0;
}

.sub-header h2 {
    float:                      left;
    width:                      calc(100% - 128px);
    height:                     16px;
    line-height:                16px;
    font-size:                  16px;
    text-align:                 right;
    margin:                     0;
    padding:                    0;
    font-family:                'Open Sans', sans-serif;
    font-weight:                normal;
}
.sub-header h2 {
    margin:                     -24px 0 0;
    color:                      #95a5a6;
    font-size:                  12px;
    text-transform:             uppercase;
    letter-spacing:             0.04em;
}

/* Titles */
h3 {
    float:                      left;
    width:                      100%;
    color:                      #FFFFFF;
    background-color:           #ecf0f1;
    border:                     4px solid #000000;
    border-width:               1px 1px 4px 1px;
    height:                     34px;
    line-height:                34px;
    padding:                    0 0 0 4px;
    letter-spacing:             0.08em;
    text-transform:             uppercase;
    font-family:                Helvetica, Arial, sans-serif;
    font-size:                  17px;
    font-weight:                normal;
    margin:                     8px 0 0 0;
}
h3.margin-top {
    margin-top:                 16px;
}
h3.margin-bottom {
    margin-bottom:              16px;
}
h3.index {
    margin-bottom:              20px;
}
h3.red,
span.color-box.red {
    border-color:               #c0392b;
    background-color:           #e74c3c;
}
h3.red img {
    border-color:               #c0392b;
}
h3.green,
span.color-box.green {
    border-color:               #27ae60;
    background-color:           #2ecc71;
}
h3.green img {
    border-color:               #27ae60;
}
h3.blue,
span.color-box.blue {
    border-color:               #2980b9;
    background-color:           #3498db;
}
h3.blue img {
    border-color:               #2980b9;
}
h3.dark-blue {
    border-color:               #2c3e50;
    background-color:           #34495e;
}
h3.dark-blue img {
    border-color:               #2c3e50;
}
h3.yellow,
span.color-box.yellow {
    border-color:               #f39c12;
    background-color:           #f1c40f;
}
h3.yellow img {
    border-color:               #f39c12;
}
h3.purple,
span.color-box.purple {
    border-color:               #8e44ad;
    background-color:           #9b59b6;
}
h3.purple img {
    border-color:               #8e44ad;
}
h3.orange,
span.color-box.orange {
    border-color:               #d35400;
    background-color:           #e67e22;
}
h3.orange img {
    border-color:               #d35400;
}
h3.gray {
    border-color:               #7f8c8d;
    background-color:           #95a5a6;
}
h3.gray img {
    border-color:               #7f8c8d;
}
h3.light-gray {
    border-color:               #bdc3c7;
    background-color:           #ecf0f1;
}
h3.light-gray img {
    border-color:               #bdc3c7;
}
h3.light-gray {
    color:                      #34495e;
}
h3.with-icon {
    height:                     52px;
    padding:                    4px;
    margin: 0px;
}
h3 img,
h3 span {
    float:                      left;
    color:                      #FFFFFF;
    height:                     40px;
    line-height:                40px;
    font-family:                Helvetica, Arial, sans-serif;
}
h3 span {
    margin:                     0 0 0 4px;
}
h3 img {
    width:                      40px;
    border:                     3px solid #000000;
    border-radius:              24px;
    padding:                    4px;
    margin:                     0 4px 0 0;
    background-color:           #FFFFFF;
}
h5 a {
    float:                      right;
    height:                     24px;
    font-weight:                normal;
    font-size:                  15px;
    line-height:                24px;
    padding:                    0 4px 0 8px;
    border:                     1px solid #E0E0E0;
    border-radius:              2px;
    background-color:           #FAFBFC;
    color:                      #2980b9;
    cursor:                     pointer;
    text-decoration:            none;
    opacity:                    0.3;
    transition:                 opacity 0.3s;
}
div.two h5 a:hover {
    text-decoration:            none;
}
div.two h5:hover a {
    opacity:                    1;
}

span.color-box {
    float:                      left;
    width:                      96px;
    height:                     48px;
    line-height:                48px;
    text-align:                 center;
    border-width:               2px;
    color:                      #FFFFFF;
    font-weight:                bold;
}

/* Blocks */
div.one,
div.two,
div.three,
div.five {
    float:                      left;
    padding:                    16px;
    font-size:                  18px;
    line-height:                25px;
}
div.one.first,
div.two.first,
div.three.first,
div.five.first {
    padding-left:               0;
}
div.three.center {
    padding-left:               8px;
    padding-right:              8px;
}
div.one.last,
div.two.last,
div.three.last,
div.five.last {
    padding-right:              0;
}

div.one .see-also,
div.two .see-also,
div.three  .see-also {
    float:                      left;
    width:                      100%;
    text-align:                 right;
    font-size:                  14px;
    margin:                     4px 0 4px 0;
    opacity:                    0.8;
}
div p,
div > div.p {
    float:                      left;
    width:                      100%;
    padding:                    8px 8px 0 8px;
    margin:                     0;
    /*border: 1px solid red;*/
    border:                     1px solid #E0E0E0;
    border-width:               0 1px 0 1px;
    background-color:           #FAFBFC;
}
div p.last,
div > div.p.last {
    border-width:               0 1px 1px 1px;
    margin:                     0 0 12px 0;
}
div.half p {
    margin:                     0;
    padding:                    0 8px 0 8px;
    float:                      left;
}
/*
    border-color:               #2980b9;
    background-color:           #3498db;
*/
div.one.sub-title {
    float:                      left;
    border:                     2px solid #3498db;
    border-radius:              8px;
    margin:                     32px 0 16px 0;
}
div.one.sub-title img {
    float:                      left;
    margin:                     0 16px 0 90px;
}
div.one.sub-title span {
    width:                      510px;
}
div.one.sub-title span.title,
div.one.sub-title span.text {
    float:                      left;
    color:                      #2980b9;
}
div.one.sub-title span.title {
    height:                     104px;
    line-height:                104px;
    font-size:                  20px;
}
div.one.sub-title span.text {
    height:                     104px;
    line-height:                18px;
    font-size:                  15px;
    padding:                    16px 0 0 0;
}

.index-links {
    float:                      left;
    width:                      100%;
    border:                     1px solid #E0E0E0;
    border-width:               0 1px 1px 1px;
    background-color:           #FAFBFC;
    padding:                    8px 0 8px 0;
}
.index-links div.half {
    float:                      left;
    width:                      50%;
}
.index-links div.half p {
    border:                     0;
}
.index-links a {
    float:                      left;
    width:                      100%;
    height:                     24px;
    line-height:                24px;
}

/* One */
div.one {
    width:                      100%;
}
div.one .index-row,
div.two .index-row {
    float:                      left;
    width:                      100%;
    padding:                    12px 0 12px 12px;
    margin:                     0px;
    border:                     1px solid #E0E0E0;
    border-width:               0 1px 0 1px;
    background-color:           #FAFBFC;
}
div.two .index-row.padding {
    padding:                    12px;
}
div.one .index-row.last,
div.two .index-row.last {
    border-width:               0 1px 1px 1px;
    margin:                     0 0 12px 0;
}
div.one .index-row img,
div.one .index-row a,
div.one .index-row span,
div.two .index-row img,
div.two .index-row a,
div.two .index-row span {
    float:                      left;
    height:                     32px;
}
div.one .index-row a,
div.one .index-row span,
div.two .index-row a,
div.two .index-row span {
    line-height:                32px;
}
div.one .index-row img {
    width:                      48px;
    height:                     48px;
    border:                     3px solid #E0E8EF;
    border-radius:              24px;
    padding:                    4px;
    margin:                     -8px 32px 0 0;
}

/* Two */
div.two {
    width:                      640px;
}

/* Three */
div.three {
    width:                      320px;
    position:                   relative;
}
div.three.right {
    float:                      right;
}
div.three.right .active-program {
    float:                      left;
    width:                      100%;
    margin:                     0 0 16px 0;
}
div.three.right .active-program span {
    color:                      #2980b9;
    text-transform:             uppercase;
    font-size:                  14px;
}
div.three.right li {
    margin:                     0 0 4px 0;
}
div.three.right li:last-child {
    margin:                     0 0 16px 0;
}
div.three.right .index {
    float:                      left;
    width:                      100%;
}
div.three.right .index.margin-bottom {
    margin-bottom:              16px;
}
div.three.right .index a {
    float:                      left;
    width:                      100%;
    height:                     24px;
    line-height:                24px;
    margin:                     0 0 4px 0;
    padding:                    0 0 0 24px;
}
div.three.right .index a.active {
    font-weight:                bold;
    background-color:           #FAFBFC;
    line-height:                26px;
    padding:                    0 0 0 12px;
}

/* Five */
div.five {
    width:                      196px;
    margin:                     32px 0 0 0;
    padding:                    0 10px 0 10px;
    height:                     176px;
}
div.five.margin-bottom {
    margin-bottom:              32px;
}
div.five.first,
div.five.last {
    width:                      186px;
}
div.five .tile {
    float:                      left;
    position:                   relative;
    width:                      176px;
    height:                     176px;
    margin:                     0;
    padding:                    0;
}
div.five .tile .details {
    position:                   absolute;
    z-index:                    40;
    width:                      256px;
    left:                       88px;
    top:                        88px;
    margin:                     128px 0 0 -128px;
    opacity:                    0;
    transition:                 opacity 0.3s 0.2s ease, transform 0.3s 0.2s ease;
    pointer-events:             none;
    font-size:                  16px;
    line-height:                20px;
    transform:                  translateY(0);
}
div.five .tile .details pre span {
    font-size:                  12px;
    line-height:                14px;
}
div.five .tile .details pre {
    padding:                    4px 8px 4px 8px;
}
div.five .tile:hover .details {
    opacity:                    0.95;
    transform:                  translateY(-128px);
}

div.five .tile .details .details-triangle,
div.five .tile .details .details-inner-triangle {
    position:                   absolute;
    left:                       102px;
    width:                      0;
    height:                     0;
}
div.five .tile .details .details-inner-triangle {
    position:                   absolute;
    left:                       102px;
    top:                        2px;
    z-index:                    10;
}

/* Orange */
div.five .tile .details.orange .details-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #d35400;
}
div.five .tile .details.orange .details-inner-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #e67e22;
}
div.five .tile .details.orange .details-header {
    background-color:           #e67e22;
    border:                     1px solid #d35400;
}
div.five .tile .details.orange .details-content {
    border:                     1px solid #d35400;
    border-width:               0 1px 0 1px;
}
div.five .tile .details.orange .details-content .details-footer {
    background-color:           #e67e22;
    border:                     1px solid #d35400;
}

/* Red */
div.five .tile .details.red .details-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #c0392b;
}
div.five .tile .details.red .details-inner-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #e74c3c;
}
div.five .tile .details.red .details-header {
    background-color:           #e74c3c;
    border:                     1px solid #c0392b;
}
div.five .tile .details.red .details-content {
    border:                     1px solid #c0392b;
    border-width:               0 1px 0 1px;
}
div.five .tile .details.red .details-content .details-footer {
    background-color:           #e74c3c;
    border:                     1px solid #c0392b;
}

/* Blue */
div.five .tile .details.blue .details-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #2980b9;
}
div.five .tile .details.blue .details-inner-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #3498db;
}
div.five .tile .details.blue .details-header {
    background-color:           #3498db;
    border:                     1px solid #2980b9;
}
div.five .tile .details.blue .details-content {
    border:                     1px solid #2980b9;
    border-width:               0 1px 0 1px;
}
div.five .tile .details.blue .details-content .details-footer {
    background-color:           #3498db;
    border:                     1px solid #2980b9;
}

/* Green */
div.five .tile .details.green .details-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #27ae60;
}
div.five .tile .details.green .details-inner-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #2ecc71;
}
div.five .tile .details.green .details-header {
    background-color:           #2ecc71;
    border:                     1px solid #27ae60;
}
div.five .tile .details.green .details-content {
    border:                     1px solid #27ae60;
    border-width:               0 1px 0 1px;
}
div.five .tile .details.green .details-content .details-footer {
    background-color:           #2ecc71;
    border:                     1px solid #27ae60;
}

/* Yellow */
div.five .tile .details.yellow .details-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #f39c12;
}
div.five .tile .details.yellow .details-inner-triangle {
    border-left:                24px solid transparent;
    border-right:               24px solid transparent;
    border-bottom:              24px solid #f1c40f;
}
div.five .tile .details.yellow .details-header {
    background-color:           #f1c40f;
    border:                     1px solid #f39c12;
}
div.five .tile .details.yellow .details-content {
    border:                     1px solid #f39c12;
    border-width:               0 1px 0 1px;
}
div.five .tile .details.yellow .details-content .details-footer {
    background-color:           #f1c40f;
    border:                     1px solid #f39c12;
}

div.five .tile .details .details-header {
    position:                   absolute;
    left:                       0;
    top:                        24px;
    width:                      256px;
    height:                     32px;
    box-shadow:                 4px 4px 4px rgba(0, 0, 0, 0.5);
}
div.five .tile .details .details-content {
    position:                   absolute;
    left:                       0;
    top:                        56px;
    width:                      256px;
    background-color:           #FFFFFF;
    padding:                    8px;
    box-shadow:                 4px 4px 4px rgba(0, 0, 0, 0.5);
}
div.five .tile .details .details-content h4 {
    float:                      left;
    width:                      100%;
    font-size:                  16px;
    line-height:                24px;
}
div.five .tile .details .details-content .details-footer {
    position:                   absolute;
    left:                       -1px;
    bottom:                     -32px;
    width:                      256px;
    height:                     32px;
    box-shadow:                 4px 4px 4px rgba(0, 0, 0, 0.5);
}
div.five .tile .details .details-content .details-footer a {
    float:                      right;
    height:                     32px;
    line-height:                32px;
    outline:                    none;
    font-size:                  12px;
    text-transform:             uppercase;
    letter-spacing:             0.03em;
    color:                      #FFFFFF;
    text-decoration:            none;
    padding:                    0 8px 0 0;
}

div.five .tile .tile-title {
    position:                   absolute;
    left:                       0px;
    bottom:                     0px;
    width:                      176px;
    height:                     40px;
    text-align:                 center;
}
div.five .tile .tile-title.blue {
    background-color:           #3498db;
    border:                     1px solid #2980b9;
    border-width:               1px 1px 4px 1px;
}
div.five .tile .tile-title.red {
    background-color:           #e74c3c;
    border:                     1px solid #c0392b;
    border-width:               1px 1px 4px 1px;
}
div.five .tile .tile-title.orange {
    background-color:           #e67e22;
    border:                     1px solid #d35400;
    border-width:               1px 1px 4px 1px;
}
div.five .tile .tile-title.green {
    background-color:           #2ecc71;
    border:                     1px solid #27ae60;
    border-width:               1px 1px 4px 1px;
}
div.five .tile .tile-title.yellow {
    background-color:           #f1c40f;
    border:                     1px solid #f39c12;
    border-width:               1px 1px 4px 1px;
}
div.five .tile .tile-content {
    position:                   absolute;
    left:                       0px;
    top:                        0px;
    width:                      176px;
    height:                     136px;
    text-align:                 center;
    background-color:           #FAFBFC;
    border:                     1px solid #E0E0E0;
    border-width:               1px 1px 0 1px;
}
div.five .tile a.image-link {
    position:                   absolute;
    left:                       58px;
    top:                        36px;
    outline:                    none;
    cursor:                     pointer;
}
div.five .tile a.image-link.for-loop {
    left:                       38px;
    top:                        26px;
}
div.five .tile a.image-link.for-condition {
    left:                       35px;
    top:                        29px;
}
div.five .tile .tile-title a.title-link {
    line-height:                40px;
    padding:                    0;
    margin:                     0;
    color:                      #FFFFFF;
    padding:                    0;
    font-family:                Helvetica, Arial, sans-serif;
    font-weight:                bold;
    text-decoration:            none;
    cursor:                     pointer;
    outline:                    none;
}
div.five .tile .tile-title a.title-link:hover {
    text-decoration:            underline;
}

/* Two, three */
div.two.img img,
div.three.img img {
    background-color:           #FFFFFF;
    border:                     1px solid #E0E0E0;
    border-radius:              2px;
    padding:                    16px;
}
div.two.img img,
div.three.img img {
    width:                      100%;
}
div.two ul,
div.three ul {
    padding:                    8px 0 0 21px;
    margin:                     0;
    /*border: 1px solid red;*/
    border:                     1px solid #E0E0E0;
    border-width:               0 1px 0 1px;
    background-color:           #FAFBFC;
}
div.two ul.clear,
div.three ul.clear {
    background-color:           transparent;
    border:                     0;
    margin:                     0;
}
div.two ul.last,
div.three ul.last {
    float:                      left;
    position:                   relative;
    width:                      100%;
    border-width:               0 1px 1px 1px;
    margin:                     0 0 12px 0;
}
div.three ul.last li {
    float:                      left;
    width:                      100%;
    height:                     20px;
    line-height:                20px;
}
div.three ul.last li img {
    position:                   absolute;
    right:                      16px;
    bottom:                     16px;
    opacity:                    0.5;
}
div.two li,
div.three li {
    padding:                    0;
    margin:                     0 0 0 8px;
}
div.two ul.clear li,
div.three ul.clear li {
    padding:                    0;
    margin:                     0 0 12px 0;
}
div.one a,
div.two a,
div.three a {
    color:                      #2980b9;
    text-decoration:            none;
    outline:                    none;
}
div.one a:hover,
div.two a:hover,
div.three a:hover {
    color:                      #3498db;
    text-decoration:            underline;
}

div.one table,
div.two table,
div.three table {
    border-collapse:            collapse;
    border:                     1px solid #E0E0E0;
    background-color:           #FFFFFF;
}
div.one table th,
div.two table th,
div.three table th,
div.one table td,
div.two table td,
div.three table td {
    border:                     1px solid #E0E0E0;
    padding:                    8px 16px 8px 16px;
    text-align:                 left;
}
div.one table th,
div.two table th,
div.three table th {
    background-color:           #FAFBFC;
}

.button {
    color:                      #FFFFFF;
    background-color:           #2ecc71;
    border:                     1px solid #27ae60;
    border-radius:              2px;
    padding:                    6px 12px 6px 12px;
    font-family:                Helvetica, Arial, sans-serif;
    font-family:                'Open Sans', sans-serif;
    font-size:                  15px;
    line-height:                15px;
    cursor:                     pointer;
}
.button.disabled {
    opacity:                    0.5;
}

.simulator-options {
    float:                      left;
    width:                      100%;
    margin:                     0 0 16px 0;
}

.container {
    margin:                     0 auto 0 auto;
    width:                      960px;
}

/* Source */
pre,
pre span {
    font-family:                Courier;
    font-size:                  15px;
    font-family:                monospace;
    line-height:                18px;
}
pre {
    float:                      left;
    width:                      100%;
    padding:                    16px;
    border:                     1px solid #E0E0E0;
    border-radius:              2px;
    background-color:           #FAFBFC;
}
pre.top {
    margin:                     0;
    border-width:               0 1px 1px 1px;
}
pre .comment {
    background-color:           #FFFFFF;
    height:                     24px;
    padding:                    0 12px 0 12px;
    border-radius:              12px;
    line-height:                24px;
    font-size:                  14px;
}
pre .blue {
    color:                      #2980b9;
}
pre .dark-blue {
    color:                      #2980b9;
}
pre .light-blue {
    color:                      #3498db;
}
pre .yellow {
    color:                      #f1c40f;
}
pre .orange {
    color:                      #e67e22;
}
pre .red {
    color:                      #c0392b;
}
pre .purple {
    color:                      #9b59b6;
}
pre .green {
    color:                      #2ecc71;
}
pre .black {
    color:                      #383838;
}

/* Editor */
.editor {
    float:                      left;
    width:                      100%;
    height:                     417px;
    border:                     1px solid #E0E0E0;
    border-radius:              2px;
}
.editor .toolbar {
    float:                      left;
    width:                      100%;
    height:                     41px;
    border-radius:              2px 2px 0 0;
    border:                     1px solid #E0E0E0;
    border-width:               0 0 1px 0;
    background-color:           #FAFBFC;
    margin:                     0;
}
.editor .toolbar ul {
    float:                      left;
    width:                      100%;
    height:                     24px;
    line-height:                24px;
    list-style:                 none;
    margin:                     8px 0 0 0;
    padding:                    0;
}
.editor .toolbar li {
    float:                      left;
    height:                     24px;
    line-height:                24px;
    list-style:                 none;
    margin:                     0 0 0 8px;
    padding:                    0 8px 0 8px;
    background-color:           #3498db;
    border:                     1px solid #2980b9;
    border-radius:              2px;
    color:                      #FFFFFF;
    font-size:                  15px;
    font-family:                Helvetica, Arial, sans-serif;
    opacity:                    0.5;
    cursor:                     pointer;
}

.editor .toolbar li.active {
    opacity:                    1
}
.editor .toolbar li.compile {
    float:                      right;
    margin:                     0 8px 0 0;
    background-color:           #f1c40f;
    border:                     1px solid #f39c12;
    border-radius:              2px;
    opacity:                    1;
}
.editor textarea,
.editor pre {
    float:                      left;
    width:                      100%;
    height:                     374px;
    border:                     0;
    border-radius:              0 0 2px 2px;
    padding:                    8px;
    margin:                     0;
}
.editor textarea {
    resize:                     none;
}
.editor pre {
    display:                    none;
    overflow:                   hidden;
    overflow-y:                 scroll;
    background-color:           #FFFFFF;
}

/* Footer */
.footer {
    float:                      left;
    position:                   relative;
    width:                      100%;
    height:                     32px;
    margin:                     0;
    padding:                    0;
    border:                     1px solid #F0F0F0;
    border-width:               1px 0 0 0;
}
.footer .container {
    height:                     100%;
    margin-top:                 0;
}
.footer .container .badge {
    float:                      right;
    margin:                     20px 0 0 8px;
}
.footer .links-wrapper {
    float:                      left;
    clear:                      both;
    width:                      500px;
    padding:                    8px 0 0 0;
}
.footer .links-wrapper .links {
    float:                      left;
    width:                      304px;
    padding:                    16px;
    background-color:           #FFFFFF;
    border:                     1px solid #ecf0f1;
}
.footer .links-wrapper a {
    text-decoration:            none;
    font-size:                  14px;
    color:                      #34495e;
    margin:                     0 8px 0 0;
}
.footer .links-wrapper a:hover {
    text-decoration:            underline;
}
.footer .copyright {
    float:                      left;
    clear:                      both;
    height:                     64px;
    color:                      #95a5a6;
    font-size:                  10px;
    text-transform:             uppercase;
    letter-spacing:             0.03em;
    margin:                     0;
    line-height:                64px;
    opacity:                    0.8;
}
.footer ul,
.footer li {
    width:                      100%;
    float:                      left;
    margin:                     0;
    list-style:                 none;
}
.footer ul {
    padding:                    0 0 0 12px;
    color:                      #FFFFFF;
}
.footer li {
    height:                     20px;
    margin:                     0 0 4px 0;
    position:                   relative;
}
.footer li::before {
    position:                   absolute;
    left:                       -12px;
    top:                        -1px;
    content:                    "• ";
    color:                      #6F42C1;
}
.footer div.three ul li {
    margin:                     0 0 8px 0;
    padding:                    0;
}
.footer li .badge {
    margin:                     0;
    padding:                    0;
}

.list-link,
div.one a.list-link,
div.three a.list-link {
    float:                      left;
    width:                      192px;
    color:                      #34495e;
    padding:                    0;
    font-weight:                bold;
}
.list-link .icon-right {
    color:                      #808890;
    text-align:                 left;
}

[data-icon]:before {
    font-family:                "icons" !important;
    content:                    attr(data-icon);
    font-style:                 normal !important;
    font-weight:                normal !important;
    font-variant:               normal !important;
    text-transform:             none !important;
    speak:                      none;
    line-height:                1;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family:                  "icons" !important;
  font-style:                   normal !important;
  font-weight:                  normal !important;
  font-variant:                 normal !important;
  text-transform:               none !important;
  speak:                        none;
  line-height:                  1;
  -webkit-font-smoothing:       antialiased;
  -moz-osx-font-smoothing:      grayscale;
}

.icon-circle:before {
  content:                      "\62";
}
.icon-puzzle-piece:before {
  content:                      "\61";
}
.icon-play:before {
  content:                      "\64";
}
.icon-document:before {
  content:                      "\65";
}
.icon-right:before {
  content:                      "\63";
}
