@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot?r=3");
  src:url("../fonts/icons.eot?r=3#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff?r=3") format("woff"),
    url("../fonts/icons.ttf?r=3") format("truetype"),
    url("../fonts/icons.svg#icons?r=3") format("svg");
  font-weight: normal;
  font-style: normal;

}

* {
    box-sizing:         border-box;
}
body,
html {
    width:              100%;
    height:             100%;
    padding:            0;
    margin:             0;
    position:           relative;
}
body {
    background-color:   #F9F9F9;
}
h1 {
    font-family:        'Montserrat', sans-serif;
    margin:             0;
}
h3 {
    font-family:        'Montserrat', sans-serif;
    font-size:          22px;
    margin:             0 0 8px 0;
}
div {
    font-family:        'Roboto Condensed', sans-serif;
}
.bold {
    font-weight:        bold;
}
div.one {
    float:              left;
    width:              100%;
    padding:            16px;
    font-size:          20px;
}
div.two {
    float:              left;
    width:              640px;
    padding:            16px;
    font-size:          20px;
}
div.three {
    float:              left;
    width:              320px;
    padding:            16px;
    font-size:          20px;
    position:           relative;
}
div.three.right {
    float:              right;
}
div.two h3 .icon,
div.three h3 .icon {
    color:              #004358;
    font-size:          19px;
    text-align:         center;
    opacity:            0.6;
}
div.two.img img,
div.three.img img {
    background-color:   #FFFFFF;
    border-radius:      8px;
    padding:            16px;
}
div.two.img img,
div.three.img img {
    width:              100%;
}
div.two ul,
div.three ul {
    padding:            0 0 0 21px;
    margin:             8px 0 0 0;
}
div.two li,
div.three li {
    padding:            0;
    margin:             0;
}
div.one a,
div.two a,
div.three a {
    color:              #1F8A70;
    text-decoration:    none;
    outline:            none;
}
div.one a:hover,
div.two a:hover,
div.three a:hover {
    color:              #1F8A70;
    text-decoration:    underline;
}

div.one table,
div.two table,
div.three table {
    border-collapse:    collapse;
    border:             1px solid #000000;
}
div.one table th,
div.two table th,
div.three table th,
div.one table td,
div.two table td,
div.three table td {
    border:             1px solid #000000;
    padding:            4px 8px 4px 4px;
    text-align:         left;
}

.container {
    margin:             0 auto 0 auto;
    width:              960px;
}

.header {
    position:           fixed;
    top:                0;
    left:               0;
    width:              100%;
    height:             48px;
    background-color:   #101010;
    z-index:            100;
}
.header ul,
.header li {
    float:              left;
    list-style:         none;
    padding:            0;
    margin:             0 16px 0 0;
    line-height:        48px;
    font-size:          20px;
}
.header ul li a {
    text-decoration:    none;
    color:              #FFFFFF;
    outline:            none;
}
.header ul li a.active {
    text-decoration:    underline;
}
.header ul li.yellow a {
    color:              #FFE11A;
}
.blue {
    color:              #004358;
}
.yellow {
    color:              #FFE11A;
}
.green {
    color:              #1F8A70;
}
.dark-green {
    color:              #0F4538;
    font-weight:        bold;
}
.light-green {
    color:              #BEDB39;
}
.orange {
    color:              #FD7400;
}

.header .container {
    color:              #FFFFFF;
}
.header .container .badge {
    float:              right;
    margin:             14px 0 0 8px;
}

pre {
    background-color:   rgba(255, 225, 26, 0.1);
    border:             1px solid rgb(255, 225, 26);
    padding:            16px;
    font-family:        Courier;
    font-size:          15px;
    border-radius:      8px;
}

.content {
    float:              left;
    width:              100%;
    min-height:         calc(100% - 288px);
}
.content .container {
    background-color: red;
    height: 100%;
}

.sub-header {
    float:              left;
    width:              100%;
    height:             112px;
    margin:             48px 0 16px 0;
    background-color:   #202020;
    background:         -moz-linear-gradient(top, #181818 0%, #282828 100%); /* FF3.6-15 */
    background:         -webkit-linear-gradient(top, #181818 0%,#282828 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom, #181818 0%, #282828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
}
.sub-header h1 {
    float:              left;
    width:              100%;
    height:             64px;
    line-height:        84px;
    font-size:          64px;
    text-align:         center;
    margin:             0;
    padding:            0;
    font-family:        'Open Sans', sans-serif;
}
.sub-header h1 span {
    font-size:          40px;
}

.sub-header h2,
.footer h3 {
    float:              left;
    width:              100%;
    height:             32px;
    line-height:        32px;
    font-size:          16px;
    color:              #FFFFFF;
    text-align:         center;
    margin:             0;
    padding:            0;
    font-family:        'Open Sans', sans-serif;
    font-weight:        normal;
}

.footer {
    float:              left;
    width:              100%;
    margin:             0;
    background-color:   #202020;
    background:         -moz-linear-gradient(top, #181818 0%, #282828 100%); /* FF3.6-15 */
    background:         -webkit-linear-gradient(top, #181818 0%,#282828 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom, #181818 0%, #282828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
}
.footer,
.footer .container {
    position:           relative;
    height:             128px;
}
.footer .container .small-print {
    position:           absolute;
    color:              #404040;
    font-size:          10px;
    left:               0px;
    width:              960px;
    text-align:         right;
    bottom:             0;
}
.footer h3 {
    text-align:                 left;
    color:                      #BEDB39;
}
.footer ul,
.footer li {
    width:                      100%;
    float:                      left;
    margin:                     0;
    list-style:                 none;
}
.footer ul {
    padding:                    0 0 0 12px;
    color:                      #FFFFFF;
}
.footer li {
    height:                     20px;
    margin:                     0 0 4px 0;
    position:                   relative;
}
.footer li::before {
    position:                   absolute;
    left:                       -12px;
    top:                        -1px;
    content:                    "• ";
    color:                      #BEDB39;
}
.footer div.three ul li {
    margin:                     0 0 8px 0;
    padding:                    0;
}
.footer li .badge {
    margin:                     0;
    padding:                    0;
}

.list-link {
    float:                      left;
    position:                   relative;
    width:                      192px;
}
.list-link:before {
    position:                   absolute;
    right:                      16px;
}

[data-icon]:before {
    font-family:                "icons" !important;
    content:                    attr(data-icon);
    font-style:                 normal !important;
    font-weight:                normal !important;
    font-variant:               normal !important;
    text-transform:             none !important;
    speak:                      none;
    line-height:                1;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family:                  "icons" !important;
  font-style:                   normal !important;
  font-weight:                  normal !important;
  font-variant:                 normal !important;
  text-transform:               none !important;
  speak:                        none;
  line-height:                  1;
  -webkit-font-smoothing:       antialiased;
  -moz-osx-font-smoothing:      grayscale;
}

.icon-circle:before {
  content: "\62";
}
.icon-puzzle-piece:before {
  content: "\61";
}
.icon-play:before {
  content: "\64";
}
.icon-document:before {
  content: "\65";
}
.icon-right:before {
  content: "\63";
}
