/* Components */
.components-container .components-content {
    float:                          left;
    width:                          100%;
    height:                         780px;
}
.components-container .title,
.components-container .group {
    float:                          left;
    width:                          100%;
    padding:                        0 0 0 8px;
    margin:                         0 0 0 0;
}
.components-container .title {
    height:                         32px;
    line-height:                    32px;
    font-family:                    latolight;
    font-size:                      17px;
    color:                          var(--ui-text1);
    opacity:                        0.65;
}
input[type="button"].component-button:active,
input[type="button"].component-button:focus,
input[type="button"].component-button {
    float:                          left;
    width:                          48px;
    height:                         48px;
    border:                         2px solid transparent;
    border-radius:                  24px;
    background-repeat:              no-repeat;
    background-size:                44px 44px;
    background-position:            0 0;
    background-color:               transparent;
    margin:                         0 4px 4px 0;
    box-shadow:                     none;
    opacity:                        0.6;
    transition:                     opacity 0.3s, background-color 0.3s;
}
input[type="button"].active.component-button:focus,
input[type="button"].active.component-button {
    background-color:               var(--color-blue);
    opacity:                        1;
}
input[type="button"].component-button:hover {
    opacity:                        1;
}
input[type="button"].component-button:focus {
    background-color:               var(--color-blue);
}
input[type="button"].component-button.component-btn {
    background-image:               url('images/buttons/buttonBlack.svg');
}
input[type="button"].active.component-button.component-btn,
body.ide.dark input[type="button"].component-button.component-btn {
    background-image:               url('images/buttons/buttonWhite.svg');
}
input[type="button"].component-button.component-select-btn {
    background-image:               url('images/buttons/selectButtonBlack.svg');
}
input[type="button"].active.component-button.component-select-btn,
body.ide.dark input[type="button"].component-button.component-select-btn {
    background-image:               url('images/buttons/selectButtonWhite.svg');
}
input[type="button"].component-button.component-text-input {
    background-image:               url('images/buttons/textInputBlack.svg');
}
input[type="button"].active.component-button.component-text-input,
body.ide.dark input[type="button"].component-button.component-text-input {
    background-image:               url('images/buttons/textInputWhite.svg');
}
input[type="button"].component-button.component-status-light {
    background-image:               url('images/buttons/statusLightBlack.svg');
}
input[type="button"].active.component-button.component-status-light,
body.ide.dark input[type="button"].component-button.component-status-light {
    background-image:               url('images/buttons/statusLightWhite.svg');
}
input[type="button"].component-button.component-panel {
    background-image:               url('images/buttons/panelBlack.svg');
}
input[type="button"].active.component-button.component-panel,
body.ide.dark input[type="button"].component-button.component-panel {
    background-image:               url('images/buttons/panelWhite.svg');
}
input[type="button"].component-button.component-tabs {
    background-image:               url('images/buttons/tabsBlack.svg');
}
input[type="button"].active.component-button.component-tabs,
body.ide.dark input[type="button"].component-button.component-tabs {
    background-image:               url('images/buttons/tabsWhite.svg');
}
input[type="button"].component-button.component-slider {
    background-image:               url('images/buttons/sliderBlack.svg');
}
input[type="button"].active.component-button.component-slider,
body.ide.dark input[type="button"].component-button.component-slider {
    background-image:               url('images/buttons/sliderWhite.svg');
}
input[type="button"].component-button.component-label {
    background-image:               url('images/buttons/labelBlack.svg');
}
input[type="button"].active.component-button.component-label,
body.ide.dark input[type="button"].component-button.component-label {
    background-image:               url('images/buttons/labelWhite.svg');
}
input[type="button"].component-button.component-checkbox {
    background-image:               url('images/buttons/checkboxBlack.svg');
}
input[type="button"].active.component-button.component-checkbox,
body.ide.dark input[type="button"].component-button.component-checkbox {
    background-image:               url('images/buttons/checkboxWhite.svg');
}
input[type="button"].component-button.component-rect-stripe {
    background-image:               url('images/buttons/rectStripeBlack.svg');
}
input[type="button"].active.component-button.component-rect-stripe,
body.ide.dark input[type="button"].component-button.component-rect-stripe {
    background-image:               url('images/buttons/rectStripeWhite.svg');
}
input[type="button"].component-button.component-circle-stripe {
    background-image:               url('images/buttons/circleStripeBlack.svg');
}
input[type="button"].active.component-button.component-circle-stripe,
body.ide.dark input[type="button"].component-button.component-circle-stripe {
    background-image:               url('images/buttons/circleStripeWhite.svg');
}
input[type="button"].component-button.component-image {
    background-image:               url('images/buttons/imageBlack.svg');
}
input[type="button"].active.component-button.component-image,
body.ide.dark input[type="button"].component-button.component-image {
    background-image:               url('images/buttons/imageWhite.svg');
}
input[type="button"].component-button.component-pu-device {
    background-image:               url('images/buttons/puDeviceBlack.svg');
}
input[type="button"].active.component-button.component-pu-device,
body.ide.dark input[type="button"].component-button.component-pu-device {
    background-image:               url('images/buttons/puDeviceWhite.svg');
}
input[type="button"].component-button.component-ev3-sensor {
    background-image:               url('images/buttons/ev3SensorBlack.svg');
}
input[type="button"].active.component-button.component-ev3-sensor,
body.ide.dark input[type="button"].component-button.component-ev3-sensor {
    background-image:               url('images/buttons/ev3SensorWhite.svg');
}
input[type="button"].component-button.component-ev3-motor {
    background-image:               url('images/buttons/ev3MotorBlack.svg');
}
input[type="button"].active.component-button.component-ev3-motor,
body.ide.dark input[type="button"].component-button.component-ev3-motor {
    background-image:               url('images/buttons/ev3MotorWhite.svg');
}
input[type="button"].component-button.component-radio {
    background-image:               url('images/buttons/radioBlack.svg');
}
input[type="button"].active.component-button.component-radio,
body.ide.dark input[type="button"].component-button.component-radio {
    background-image:               url('images/buttons/radioWhite.svg');
}
input[type="button"].component-button.component-loading {
    background-image:               url('images/buttons/loadingBlack.svg');
}
input[type="button"].active.component-button.component-loading,
body.ide.dark input[type="button"].component-button.component-loading {
    background-image:               url('images/buttons/loadingWhite.svg');
}
input[type="button"].component-button.component-progress {
    background-image:               url('images/buttons/progressBlack.svg');
}
input[type="button"].active.component-button.component-progress,
body.ide.dark input[type="button"].component-button.component-progress {
    background-image:               url('images/buttons/progressWhite.svg');
}
input[type="button"].component-button.component-text {
    background-image:               url('images/buttons/textBlack.svg');
}
input[type="button"].active.component-button.component-text,
body.ide.dark input[type="button"].component-button.component-text {
    background-image:               url('images/buttons/textWhite.svg');
}
input[type="button"].component-button.component-header {
    background-image:               url('images/buttons/headerBlack.svg');
}
input[type="button"].active.component-button.component-header,
body.ide.dark input[type="button"].component-button.component-header {
    background-image:               url('images/buttons/headerWhite.svg');
}
input[type="button"].component-button.component-dropdown {
    background-image:               url('images/buttons/dropdownBlack.svg');
}
input[type="button"].active.component-button.component-dropdown,
body.ide.dark input[type="button"].component-button.component-dropdown {
    background-image:               url('images/buttons/dropdownWhite.svg');
}
input[type="button"].component-button.component-list-items {
    background-image:               url('images/buttons/listItemsBlack.svg');
}
input[type="button"].active.component-button.component-list-items,
body.ide.dark input[type="button"].component-button.component-list-items {
    background-image:               url('images/buttons/listItemsWhite.svg');
}
input[type="button"].component-button.component-timer {
    background-image:               url('images/buttons/timerBlack.svg');
}
input[type="button"].active.component-button.component-timer,
body.ide.dark input[type="button"].component-button.component-timer {
    background-image:               url('images/buttons/timerWhite.svg');
}
input[type="button"].component-button.component-clock {
    background-image:               url('images/buttons/clockBlack.svg');
}
input[type="button"].active.component-button.component-clock,
body.ide.dark input[type="button"].component-button.component-clock {
    background-image:               url('images/buttons/clockWhite.svg');
}
