/* File icon */
.file-icon {
    position:                       absolute;
    left:                           -24px;
    top:                            1px;
    width:                          20px;
    height:                         20px;
}
.file-icon.large {
    width:                          48px;
    height:                         48px;
}
/* Folder icon */
.folder-icon {
    position:                       absolute;
    left:                           -27px;
    top:                            1px;
    width:                          20px;
    height:                         20px;
}
