.home-screen {
    overflow:                       auto;
    background:                     var(--home-background);
    -webkit-user-select:            none;
}
.home-screen .home-title {
    line-height:                    32px;
    font-family:                    latolight;
    font-size:                      21px;
    color:                          var(--ui-text1);
    color:                          #FFFFFF;
}
.home-screen .home-screen-image-clip {
    left:                           0;
    top:                            0;
    overflow:                       hidden;
    z-index:                        10;
}
.home-screen .home-screen-image-clip .home-screen-image {
    position:                       absolute;
    right:                          -180px;
    bottom:                         -230px;
    -webkit-user-select:            none;
}
.home-screen-content {
    left:                           50%;
    top:                            50%;
    width:                          300px;
    max-width:                      100%;
    transform:                      translate(-50%, -50%);
    z-index:                        100;
}
.home-screen-content h1 {
    padding:                        16px 0 16px 0;
    margin:                         0;
    color:                          #FFFFFF;
    font-family:                    latolight;
    -webkit-user-select:            none;
}
.home-screen-content h1 img,
.home-screen-content h1 span {
    float:                          left;
    -webkit-user-select:            none;
}
.home-screen-content h1 img {
    margin:                         8px 8px 0 0;
}
.home-screen-content h1,
.home-screen-content h1 span {
    float:                          left;
    height:                         64px;
    line-height:                    48px;
    font-family:                    latolight;
}
.home-screen-content .home-screen-tile {
    float:                          left;
    position:                       relative;
    width:                          300px;
    height:                         64px;
    padding:                        0 0 0 8px;
    margin:                         0;
    color:                          #FFFFFF;
}
.home-screen-content .home-screen-tile .home-screen-tile-content {
    outline:                        none;
    cursor:                         pointer;
    border:                         1px solid transparent;
}
.home-screen-content .home-screen-tile .home-screen-tile-content.focus {
    border:                         var(--focus-border-dotted);
}
.home-screen-content .home-screen-tile .home-screen-tile-content img.file-icon.large {
    float:                          left;
    position:                       relative;
    left:                           15px;
    top:                            7px;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text {
    width:                          calc(100% - 76px);
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text .title {
    height:                         64px;
    line-height:                    64px;
    padding:                        0 0 0 8px;
    margin:                         0 0 0 0;
    font-family:                    latolight;
    font-size:                      17px;
    color:                          #FFFFFF;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text.with-sub-title .title {
    height:                         48px;
    line-height:                    48px;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text .sub-title {
    position:                       absolute;
    left:                           92px;
    top:                            36px;
    width:                          calc(100% - 112px);
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    font-size:                      12px;
    font-style:                     italic;
    white-space:                    nowrap;
}
.home-screen-content .home-screen-tile .home-screen-tile-content.focus .home-screen-tile-text .title {
    opacity:                        1;
}
.home-screen-content .home-screen-tile .progress-bar {
    position:                       absolute;
    left:                           96px;
    top:                            48px;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text a {
    float:                          left;
    border:                         1px solid transparent;
    height:                         50%;
    padding:                        0 0 0 8px;
    line-height:                    38px;
    font-family:                    latolight;
    outline:                        none;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text a.title1,
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text a.title2 {
    height:                         24px;
    line-height:                    24px;
    border:                         1px solid transparent;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text a.title1 {
    margin-top:                     6px;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text a.title1:focus {
    border:                         var(--focus-border-dotted);
    border-radius:                  0 4px 0 0;
    opacity:                        1;
}
.home-screen-content .home-screen-tile .home-screen-tile-content .home-screen-tile-text a.title2:focus {
    border:                         var(--focus-border-dotted);
    border-radius:                  0 0 4px 0;
    opacity:                        1;
}
