/* Menu */
body.ide .main-menu {
    left:                           0;
    top:                            0;
    height:                         40px;
    background-color:               var(--main-menu-background);
    padding:                        0 0 0 4px;
    z-index:                        50010;
    -webkit-user-select:            none;
}
body.ide .main-menu img {
    float:                          left;
    width:                          28px;
    height:                         28px;
    margin:                         6px 8px 0 8px;
}
body.ide .main-menu .main-menu-item {
    height:                         32px;
    line-height:                    28px;
    font-size:                      15px;
    margin:                         4px 4px 0 0;
    padding:                        0 4px 0 4px;
    border:                         0;
    background-color:               transparent;
    color:                          var(--ui-text1);
    cursor:                         pointer;
}
body.ide .main-menu .main-menu-item a {
    border:                         0;
    line-height:                    32px;
    font-size:                      15px;
    padding:                        0;
    margin:                         0;
    background-color:               transparent;
    color:                          var(--main-menu-text);
    outline:                        none;
    text-decoration:                none;
}
body.ide .main-menu.alt-pressed .main-menu-item a .hotkey {
    text-decoration:                underline;
}
body.ide .main-menu div.main-menu-item.visible {
    background-color:               var(--ui-background1);
}
body.ide .main-menu div.main-menu-item.visible a {
    color:                          var(--ui-text1);
}

.main-menu .main-menu-item .left-side {
    display:                        none;
}
.main-menu .main-menu-item {
    position:                       relative;
    z-index:                        100;
}
.main-menu .main-menu-item.visible .menu {
    display:                        block;
}
.main-menu .menu.simulator-menu {
    padding:                        0 0 0 64px;
}
.main-menu .menu.simulator-menu .menu-option-separator {
    position:                       relative;
}
.main-menu .menu.simulator-menu .left-side {
    display:                        block;
    position:                       absolute;
    left:                           0;
    top:                            -2px;
    width:                          64px;
    height:                         calc(100% + 2px);
    border:                         1px solid var(--ui-background5);
    border-width:                   0 1px 0 0;
    background-color:               var(--ui-background4);
    z-index:                        -1;
}
.main-menu .menu.simulator-menu .menu-option-separator.simulator-nxt::after,
.main-menu .menu.simulator-menu .menu-option-separator.simulator-ev3::after,
.main-menu .menu.simulator-menu .menu-option-separator.simulator-poweredup::after,
.main-menu .menu.simulator-menu .menu-option-separator.simulator-spike::after {
    position:                       absolute;
    content:                        ' ';
    width:                          48px;
    height:                         48px;
    left:                           -56px;
    top:                            17px;
    background-repeat:              no-repeat;
    background-size:                48px 48px;
    background-position:            0 0;
    z-index:                        100px;
}
.main-menu .menu.simulator-menu .menu-option-separator.simulator-nxt::after {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="48" height="48" xmlns="http://www.w3.org/2000/svg"><rect x="8" y="0.5" width="32" height="47" style="fill:rgb(160,160,160);stroke:rgb(0,0,0);stroke-width:0.5;"/><rect x="6" y="3" rx="0.5" ry="0.5" width="36" height="42" style="fill:rgb(230,230,230);stroke:rgb(0,0,0);stroke-width:0.5;"/><rect rx="1" ry="1" x="11" y="8" width="26" height="16" style="fill:rgb(100,100,100);stroke:rgb(0,0,0);stroke-width:0.5;"/><rect rx="1" ry="1" x="21.5" y="27" width="5" height="5" style="fill:rgb(160,160,160);"/><rect rx="1" ry="1" x="21.5" y="33" width="5" height="3" style="fill:rgb(100,100,100);"/><polygon points="28,27.5 31,29.5 28,31.5" style="stroke:rgb(140,140,140);stroke-width:1;" stroke-linejoin="round" fill="rgb(140,140,140)" /><polygon points="20,27.5 17,29.5 20,31.5" style="stroke:rgb(140,140,140);stroke-width:1;" stroke-linejoin="round" fill="rgb(140,140,140)" /><rect x="10" y="40.5" width="6" height="3" style="fill:rgba(0,0,0,0.2);"/></svg>');
}
.main-menu .menu.simulator-menu .menu-option-separator.simulator-ev3::after {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="48" height="48" xmlns="http://www.w3.org/2000/svg"><rect x="3" y="10" width="42" height="28" style="fill:rgb(255,255,255);stroke:black;stroke-width:0.5;"/><rect x="6" y="0" width="36" height="48" style="fill:rgb(255,255,255);"/><rect x="6" y="0" width="36" height="22" style="fill:rgb(160,160,160);"/><rect x="9" y="3" width="30" height="16" style="fill:rgb(100,100,100);stroke:rgb(0,0,0);stroke-width:0.5;"/><rect x="6" y="43" width="36" height="5" style="fill:rgb(160,160,160);"/><rect x="37" y="44" width="3" height="3" style="fill:rgb(150,150,150);stroke:rgb(0,0,0);stroke-width:0.5;"/><rect x="6" y="0" width="36" height="48" style="fill:transparent;stroke:rgb(0,0,0);stroke-width:0.5;"/><polygon points="20 25 28 25 32 29 32 35 28 39 20 39 16 35 16 29" style="fill:rgb(160,160,160);stroke-width:0" stroke-linejoin="round"/><rect x="21.5" y="29.5" width="5" height="5" style="fill:rgb(120,120,120);"/><rect x="8" y="22" width="7" height="4" style="fill:rgb(160,160,160);"/></svg>');
}
.main-menu .menu.simulator-menu .menu-option-separator.simulator-poweredup::after {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="48" height="48" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="48" height="16" style="fill:rgb(120,120,120);stroke:rgb(0,0,0);stroke-width:0.5;" stroke-linejoin="round"/><rect x="0" y="32" width="48" height="16" style="fill:rgb(120,120,120);stroke:rgb(0,0,0);stroke-width:0.5;" stroke-linejoin="round"/><rect x="5" y="0" width="38" height="48" style="fill:rgb(160,160,160);stroke:rgb(0,0,0);stroke-width:0.5;" stroke-linejoin="round"/><rect x="5" y="22" width="5" height="26" style="fill:rgb(150,150,150);stroke:rgb(0,0,0);stroke-width:0.5;"/><rect x="38" y="22" width="5" height="26" style="fill:rgb(150,150,150);stroke:rgb(0,0,0);stroke-width:0.5;"/><rect x="21" y="10" width="6" height="6" style="fill:transparent;stroke:rgba(0,0,0,0.5);stroke-width:0.5;" stroke-linejoin="round"/><rect x="21" y="29" width="6" height="6" style="fill:rgb(109,109,109);stroke:rgb(0,0,0);stroke-width:0.5;" stroke-linejoin="round"/><rect x="22" y="41" width="4" height="6" style="fill:rgb(255,255,255);stroke:rgb(0,0,0);stroke-width:0.5;"/></svg>');
}
.main-menu .menu.simulator-menu .menu-option-separator.simulator-spike::after {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="48" height="48" xmlns="http://www.w3.org/2000/svg"><rect rx="2" ry="2" x="6" y="0.5" width="36" height="47" style="fill:rgb(255,255,255);stroke:black;stroke-width:0.5;"/><rect rx="1" ry="1" x="12" y="12" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="17" y="12" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="22" y="12" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="27" y="12" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="32" y="12" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="12" y="17" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="17" y="17" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="22" y="17" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="27" y="17" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="32" y="17" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="12" y="22" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="17" y="22" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="22" y="22" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="27" y="22" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="32" y="22" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="12" y="27" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="17" y="27" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="22" y="27" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="27" y="27" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="32" y="27" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="12" y="32" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="17" y="32" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="22" y="32" width="4" height="4" style="fill:rgba(0,0,0,0.4);"/><rect rx="1" ry="1" x="27" y="32" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><rect rx="1" ry="1" x="32" y="32" width="4" height="4" style="fill:rgba(0,0,0,0.2);"/><circle cx="33.5" cy="6" r="2.5" style="fill:transparent;stroke:rgba(0,0,0,0.5);stroke-width:0.5;"/><rect rx="2" ry="2" x="14" y="40" width="20" height="4" style="fill:transparent;stroke:rgba(0,0,0,0.5);stroke-width:0.5;"/><circle cx="24" cy="42" r="3.5" style="fill:rgb(255,255,255);stroke:rgba(0,0,0,0.5);stroke-width:0.5;"/></svg>');
}
.menu::before {
    position:                       absolute;
    left:                           0px;
    top:                            -2px;
    width:                          100%;
    height:                         2px;
    content:                        ' ';
    background-color:               var(--ui-background1);
}
.menu {
    display:                        none;
    position:                       absolute;
    min-width:                      128px;
    top:                            32px;
    left:                           0px;
    background-color:               var(--ui-background1);
    z-index:                        52000;
    cursor:                         pointer;
    box-shadow:                     1px 1px 3px rgba(0, 0, 0, 0.5);
}
.menu .menu-option {
    float:                          left;
    position:                       relative;
    width:                          100%;
    height:                         32px;
    color:                          var(--ui-text1);
    padding:                        2px 16px 2px 16px;
    white-space:                    nowrap;
    z-index:                        100;
}
.menu .menu-option.with-remark {
    height:                         52px;
    padding:                        2px 16px 0 16px;
}
.menu .menu-option .title {
    float:                          left;
}
.menu .menu-option .menu-option-remark {
    font-size:                      12px;
    height:                         12px;
    line-height:                    12px;
    font-style:                     italic;
}
body.ide .menu .menu-option .menu-option-remark {
    color:                          var(--color-blue);
}
body.ide.dark .menu .menu-option .menu-option-remark {
    color:                          var(--color-yellow);
}
.menu .menu-option .hotkey {
    float:                          right;
}
.menu .menu-option.disabled {
    color:                          var(--main-menu-disabled-text);
    cursor:                         default;
}
.menu .menu-option.disabled .menu-option-remark {
    opacity:                        0.5;
}
.menu .menu-option.with-check {
    padding:                        2px 16px 2px 40px;
}
.menu .menu-option.active {
    background-color:               var(--ui-background5);
}
.menu .menu-option-separator {
    background-color:               var(--ui-background1);
    height:                         13px;
    margin:                         0;
}
.menu .menu-option-separator .line {
    margin:                         6px 0 0 0;
    background-color:               var(--ui-background5);
    width:                          100%;
    height:                         1px;
    pointer-events:                 none;
}
.menu .menu-option.with-check.checked::before {
    position:                       absolute;
    left:                           16px;
    top:                            2px;
    content:                        "\2713";
}

/* Help */
.main-menu .help {
    height:                         40px;
    font-size:                      15px;
}
@media only screen and (max-width: 760px) {
    .main-menu .help {
        display:                    none;
    }
}
.main-menu .help span.label {
    float:                          left;
    height:                         40px;
    margin:                         0 8px 0 0;
    line-height:                    40px;
    color:                          var(--color-white);
    font-size:                      13px;
}
.main-menu .help input[type="text"] {
    float:                          left;
    outline:                        none;
    width:                          96px;
    height:                         24px;
    font-size:                      15px;
    margin:                         8px 8px 0 0;
    padding:                        0 8px 0 8px;
    border:                         var(--ui-border3);
    border-radius:                  16px;
}
.main-menu .help .help-menu {
    min-width:                      200px;
    top:                            36px;
    right:                          8px;
    max-height:                     512px;
    background-color:               var(--ui-background1);
    z-index:                        100;
    cursor:                         pointer;
    box-shadow:                     1px 1px 3px rgba(0, 0, 0, 0.5);
    display:                        none;
    overflow:                       hidden;
    overflow-y:                     scroll;
}
.main-menu .help .help-category {
    height:                         32px;
    line-height:                    32px;
    padding:                        0 0 0 8px;
    color:                          var(--color-white);
    background-color:               var(--color-blue);
    font-weight:                    bold;
}
.main-menu .help .help-menu-item {
    height:                         28px;
    line-height:                    28px;
    color:                          var(--ui-text1);
    padding:                        0 16px 0 24px;
    white-space:                    nowrap;
    cursor:                         pointer;
    outline:                        none;
}
.main-menu .help .help-menu-item.disabled {
    cursor:                         default;
}
.main-menu .help .help-menu-item:hover {
    background-color:               var(--ui-background5);
}
