.toolbar {
    float:                          left;
    width:                          100%;
    height:                         40px;
    background-color:               var(--ui-background2);
    margin:                         0;
    border:                         var(--ui-border1);
    border-width:                   0 0 1px 0;
}
.resource-options .tool-options-toolbar input[type="button"].icon-button.blue,
.resource-options .tool-options-toolbar input {
    opacity:                        0;
    transition:                     opacity .5s;
}
.resource-options .tool-options-toolbar input[type="button"].icon-button.blue,
.resource-options .tool-options-toolbar input,
.resource-options input.toolbar-button {
    background-color:               transparent;
    border:                         2px solid transparent;
    width:                          24px;
    height:                         24px;
    border-radius:                  12px;
    box-shadow:                     none;
    transition:                     border-color 0.2s;
}
.resource-options .tool-options-toolbar:hover input[type="button"].icon-button.blue,
.resource-options .tool-options-toolbar.focus input[type="button"].icon-button.blue,
.resource-options .tool-options-toolbar:hover input,
.resource-options .tool-options-toolbar.focus input {
    opacity:                        1;
}
.resource-options input.toolbar-button:hover,
.resource-options input.toolbar-button.focus,
.resource-options .tool-options-toolbar input[type="button"].icon-button.blue:hover,
.resource-options .tool-options-toolbar input[type="button"].icon-button.blue.focus,
.resource-options .tool-options-toolbar input:hover {
    border:                         2px solid var(--color-blue);
}
.resource-options input.toolbar-button.active,
.resource-options .tool-options-toolbar input[type="button"].icon-button.blue.active,
.resource-options .tool-options-toolbar input.active {
    z-index:                        100;
    opacity:                        1;
}
/*.resource-options input.toolbar-button.active,*/
.resource-options .tool-options-toolbar:hover input[type="button"].icon-button.blue.active,
.resource-options .tool-options-toolbar.focus input[type="button"].icon-button.blue.active,
.resource-options .tool-options-toolbar:hover input.active,
.resource-options .tool-options-toolbar.focus input.active {
    border-color:                   var(--color-green);
}
.resource-options .tool-options-toolbar input[type="button"].icon-button.blue.active,
.resource-options .tool-options-toolbar input.active {
   position:                        absolute;
    left:                           0;
    top:                            0;
 }
.resource-options .tool-options-toolbar {
    position:                       relative;
    background-color:               transparent;
    border-radius:                  12px;
    box-shadow:                     none;
    max-width:                      24px;
    transition:                     max-width .5s;
    height:                         24px;
    overflow:                       hidden;
}
.resource-options .tool-options-toolbar:hover,
.resource-options .tool-options-toolbar.focus {
    max-width:                      180px;
}
.resource-options .tool-options-toolbar:hover input[type="button"].icon-button.blue.active,
.resource-options .tool-options-toolbar.focus input[type="button"].icon-button.blue.active {
    position:                       static;
    left:                           auto;
    top:                            auto;
}
.resource-options body.ide.dark .icon-button {
    opacity:                        0.5;
}
