/* EV3 */
@keyframes flash-red {
    0%   {background-color: #E0E4E8; }
    40%  {background-color: #440000; }
    50%  {background-color: #FF0000; }
    60%  {background-color: #440000; }
    100% {background-color: #E0E4E8; }
}
@keyframes flash-orange {
    0%   {background-color: #E0E4E8; }
    40%  {background-color: #884400; }
    50%  {background-color: #FFAA00; }
    60%  {background-color: #884400; }
    100% {background-color: #E0E4E8; }
}
@keyframes flash-green {
    0%   {background-color: #E0E4E8; }
    40%  {background-color: #004400; }
    50%  {background-color: #00AA00; }
    60%  {background-color: #004400; }
    100% {background-color: #E0E4E8; }
}
@keyframes pulse-red {
    0%   {background-color: #E0E4E8; }
    10%  {background-color: #FF0000; }
    20%  {background-color: #E0E4E8; }
    100% {background-color: #E0E4E8; }
}
@keyframes pulse-orange {
    0%   {background-color: #E0E4E8; }
    10%  {background-color: #884400; }
    20%  {background-color: #E0E4E8; }
    100% {background-color: #E0E4E8; }
}
@keyframes pulse-green {
    0%   {background-color: #E0E4E8; }
    40%  {background-color: #004400; }
    20%  {background-color: #E0E4E8; }
    100% {background-color: #E0E4E8; }
}
.ev3 div {
    box-sizing:                     border-box;
}
.ev3 {
    display:                        none;
    float:                          left;
    width:                          268px;
    height:                         336px;
    margin-top:                     8px;
}
.ev3.visible {
    display:                        block;
}
.ev3 .ev3-left,
.ev3 .ev3-right {
    float:                          left;
    width:                          13px;
    height:                         216px;
    background-color:               #FDFEFF;
    margin:                         55px 0 0 0;
    border:                         1px solid rgba(0, 0, 0, 0.5);
}
.ev3 .ev3-left {
    border-width:                   1px 0 1px 1px;
    border-radius:                  2px 0 0 2px;
}
.ev3 .ev3-right {
    border-width:                   1px 1px 1px 0;
    border-radius:                  0 2px 2px 0;
}
.ev3 .ev3-body {
    float:                          left;
    width:                          242px;
    height:                         100%;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-radius:                  6px;
    -webkit-user-select:            none;
}
.ev3 .ev3-display {
    float:                          left;
    width:                          240px;
    height:                         156px;
    background-color:               #D0D4D8;
    border-radius:                  6px 6px 0 0;
}
.ev3 .ev3-display .display-border {
    float:                          left;
    position:                       relative;
    border:                         4px solid #000000;
    border-width:                   4px 12px 4px 12px;
    border-radius:                  6px;
    margin:                         8px 0 0 19px;
}
.ev3 .ev3-display .display-border .button {
    position:                       absolute;
    top:                            8px;
    right:                          8px;
    display:                        none;
}
.ev3 .ev3-display .display-border:hover .button {
    display:                        block;
}
.ev3 .ev3-display .display-border canvas {
    float:                          left;
    width:                          178px;
    height:                         128px;
}
.ev3 .ev3-panel {
    float:                          left;
    position:                       relative;
    width:                          240px;
    height:                         130px;
    background-color:               #FFFFFF;
}
.ev3 .ev3-panel .ev3-buttons {
    float:                          left;
    position:                       relative;
    width:                          144px;
    height:                         96px;
    margin:                         17px 0 0 48px;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light {
    position:                       absolute;
    left:                           32px;
    top:                            12px;
    width:                          80px;
    height:                         72px;
    background-color:               #E0E4E8;
    border-radius:                  12px;
    border:                         1px solid rgba(0, 0, 0, 0.5);
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.red {
    background-color:               #FF0000;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.red.flash {
    animation-name:                 flash-red;
    animation-duration:             0.5s;
    animation-iteration-count:      infinite;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.red.pulse {
    animation-name:                 pulse-red;
    animation-duration:             0.5s;
    animation-iteration-count:      infinite;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.orange {
    background-color:               #FFAA00;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.orange.flash {
    animation-name:                 flash-orange;
    animation-duration:             0.5s;
    animation-iteration-count:      infinite;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.orange.pulse {
    animation-name:                 pules-orange;
    animation-duration:             0.5s;
    animation-iteration-count:      infinite;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.green {
    background-color:               #00AA00;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.green.flash {
    animation-name:                 flash-green;
    animation-duration:             0.5s;
    animation-iteration-count:      infinite;
}
.ev3 .ev3-panel .ev3-buttons .ev3-light.green.pulse {
    animation-name:                 pulse-green;
    animation-duration:             0.5s;
    animation-iteration-count:      infinite;
}
.ev3 .ev3-panel .ev3-buttons .ev3-button-up,
.ev3 .ev3-panel .ev3-buttons .ev3-button-down,
.ev3 .ev3-panel .ev3-buttons .ev3-button-left,
.ev3 .ev3-panel .ev3-buttons .ev3-button-right,
.ev3 .ev3-panel .ev3-buttons .ev3-button-center,
.ev3 .ev3-panel .ev3-button-stop {
    position:                       absolute;
    left:                           50px;
    width:                          40px;
    height:                         26px;
    background-color:               #D0D4D8;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-radius:                  2px;
    cursor:                         pointer;
}
.ev3 .ev3-panel div.pressed,
.ev3 .ev3-panel .ev3-buttons div.pressed {
    background-color:               #C0C4C8;
}
.ev3 .ev3-panel .ev3-button-stop {
    left:                           24px;
    top:                            0;
    width:                          48px;
    height:                         22px;
    border-radius:                  0 0 12px 2px;
}
.ev3 .ev3-panel .ev3-buttons .ev3-button-up {
    width:                          44px;
    border-radius:                  12px 12px 0 0;
}
.ev3 .ev3-panel .ev3-buttons .ev3-button-down {
    top:                            70px;
    width:                          44px;
    border-radius:                  0 0 12px 12px;
}
.ev3 .ev3-panel .ev3-buttons .ev3-button-left {
    left:                           12px;
    top:                            32px;
    height:                         32px;
    border-radius:                  12px 0 0 12px;
}
.ev3 .ev3-panel .ev3-buttons .ev3-button-right {
    left:                           92px;
    top:                            32px;
    height:                         32px;
    border-radius:                  0 12px 12px 0;
}
.ev3 .ev3-panel .ev3-buttons .ev3-button-center {
    left:                           56px;
    top:                            32px;
    width:                          32px;
    height:                         32px;
}
.ev3 .ev3-bottom {
    float:                          left;
    width:                          240px;
    height:                         48px;
    background-color:               #D0D4D8;
    border-radius:                  0 0 6px 6px;
}
.ev3 .ev3-bottom .ev3-logo {
    float:                          right;
    width:                          28px;
    height:                         28px;
    border:                         1px solid rgba(0, 0, 0, 0.2);
    margin:                         10px 10px 0 0;
}
.ev3 .ev3-bottom .ev3-log-text {
    float:                          left;
    line-height:                    48px;
    color:                          #FFFFFF;
    font-size:                      26px;
    font-weight:                    bold;
    padding:                        2px 0 0 20px;
    transform:                      scale(1.4, 1);
}
