.powered-up {
    float:                          left;
    width:                          268px;
    margin:                         0 0 8px 0;
}
.powered-up div {
    box-sizing:                     border-box;
}
.powered-up .hub-id {
    float:                          left;
    width:                          100%;
    height:                         20px;
    font-size:                      13px;
    margin:                         0 0 8px 0;
    cursor:                         pointer;
}
.powered-up .hub-id span {
    float:                          left;
    background-color:               var(--ui-background2);
    width:                          100%;
    height:                         20px;
    line-height:                    20px;
    border-radius:                  10px;
    padding:                        0 10px 0 10px;
    text-align:                     center;
}
.powered-up .hub-body {
    float:                          left;
    position:                       relative;
    width:                          120px;
    height:                         120px;
}
.powered-up .hub-body {
    display:                        none;
}
.powered-up .hub-status {
    display:                        none;
}
.powered-up .hub-remote {
    display:                        none;
}
.powered-up .hub-body.visible,
.powered-up .hub-status.visible {
    display:                        block;
}
.powered-up .hub-remote.visible {
    display:                        block;
}
.powered-up .hub-body .hub-top,
.powered-up .hub-body .hub-middle,
.powered-up .hub-body .hub-bottom {
    float:                          left;
    width:                          120px;
    height:                         40px;
}
.powered-up .hub-body .hub-top,
.powered-up .hub-body .hub-bottom {
    background-color:               #808080;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-radius:                  4px;
}
.powered-up .hub-body .hub-box {
    position:                       absolute;
    left:                           13px;
    top:                            0;
    width:                          94px;
    height:                         120px;
    background-color:               #909090;
    border:                         1px solid rgba(0, 0, 0, 0.5);
}
.powered-up .hub-body .hub-box .left-connections,
.powered-up .hub-body .hub-box .right-connections {
    position:                       absolute;
    bottom:                         0;
    width:                          13px;
    height:                         66px;
    background-color:               rgba(0, 0, 0, 0.05);
    border:                         1px solid rgba(0, 0, 0, 0.5);
}
.powered-up .hub-body .hub-box .left-connections {
    left:                           0;
    border-width:                   1px 1px 0 0;
}
.powered-up .hub-body .hub-box .right-connections {
    right:                          0;
    border-width:                   1px 0 0 1px;
}
.powered-up .hub-body .hub-box .hub-button {
    position:                       absolute;
    left:                           50%;
    top:                            75%;
    margin:                         -6.5px 0 0 -6.5px;
    width:                          13px;
    height:                         13px;
    background-color:               green;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-radius:                  2px;
}
.powered-up .hub-body .hub-box .hub-light {
    position:                       absolute;
    left:                           50%;
    top:                            100%;
    margin:                         -13px 0 0 -3px;
    width:                          6px;
    height:                         13px;
    background-color:               white;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-radius:                  2px;
}
.powered-up .hub-body .hub-box .hub-light.black {
    background-color:               rgb(0, 0, 0);
}
.powered-up .hub-body .hub-box .hub-light.pink {
    background-color:               rgb(255, 105, 180);
    box-shadow:                     3px 3px 6px rgba(255, 105, 180, 0.5), -3px -3px 6px rgba(255, 105, 180, 0.5), 3px -3px 6px rgba(255, 105, 180, 0.5), -3px 3px 6px rgba(255, 105, 180, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.purple {
    background-color:               rgb(128, 0, 128);
    box-shadow:                     3px 3px 6px rgba(128, 0, 128, 0.5), -3px -3px 6px rgba(128, 0, 128, 0.5), 3px -3px 6px rgba(128, 0, 128, 0.5), -3px 3px 6px rgba(128, 0, 128, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.blue {
    background-color:               rgb(0, 0, 128);
    box-shadow:                     3px 3px 6px rgba(0, 0, 128, 0.5), -3px -3px 6px rgba(0, 0, 128, 0.5), 3px -3px 6px rgba(0, 0, 128, 0.5), -3px 3px 6px rgba(0, 0, 128, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.light-blue {
    background-color:               rgb(135, 206, 250);
    box-shadow:                     3px 3px 6px rgba(135, 206, 250, 0.5), -3px -3px 6px rgba(135, 206, 250, 0.5), 3px -3px 6px rgba(135, 206, 250, 0.5), -3px 3px 6px rgba(135, 206, 250, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.cyan {
    background-color:               rgb(0, 206, 209);
    box-shadow:                     3px 3px 6px rgba(0, 206, 209, 0.5), -3px -3px 6px rgba(0, 206, 209, 0.5), 3px -3px 6px rgba(0, 206, 209, 0.5), -3px 3px 6px rgba(0, 206, 209, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.green {
    background-color:               rgb(0, 128, 0);
    box-shadow:                     3px 3px 6px rgba(0, 128, 0, 0.5), -3px -3px 6px rgba(0, 128, 0, 0.5), 3px -3px 6px rgba(0, 128, 0, 0.5), -3px 3px 6px rgba(0, 128, 0, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.yellow {
    background-color:               rgb(255, 250, 0);
    box-shadow:                     3px 3px 6px rgba(255, 250, 0, 0.5), -3px -3px 6px rgba(255, 250, 0, 0.5), 3px -3px 6px rgba(255, 250, 0, 0.5), -3px 3px 6px rgba(255, 250, 0, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.orange {
    background-color:               rgb(255, 200, 0);
    box-shadow:                     3px 3px 6px rgba(255, 200, 0, 0.5), -3px -3px 6px rgba(255, 200, 0, 0.5), 3px -3px 6px rgba(255, 200, 0, 0.5), -3px 3px 6px rgba(255, 200, 0, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.red {
    background-color:               rgb(128, 0, 0);
    box-shadow:                     3px 3px 6px rgba(128, 0, 0, 0.5), -3px -3px 6px rgba(128, 0, 0, 0.5), 3px -3px 6px rgba(128, 0, 0, 0.5), -3px 3px 6px rgba(128, 0, 0, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.white {
    background-color:               rgb(255, 255, 255);
    box-shadow:                     3px 3px 6px rgba(255, 255, 255, 0.5), -3px -3px 6px rgba(255, 255, 255, 0.5), 3px -3px 6px rgba(255, 255, 255, 0.5), -3px 3px 6px rgba(255, 255, 255, 0.5);
}
.powered-up .hub-body .hub-box .hub-light.none {
    background-color:               rgb(255, 255, 255);
}
.powered-up .hub-status {
    float:                          left;
    width:                          148px;
}
.powered-up .hub-status .hub-status-row {
    float:                          left;
    width:                          100%;
    padding:                        0 0 0 16px;
    font-size:                      14px;
}
.powered-up .hub-status .hub-status-row .xyz {
    float:                          left;
    width:                          33%;
    font-size:                      10px;
    margin:                         0 0 8px 0;
}

.powered-up .hub-remote {
    float:                          left;
    position:                       relative;
    width:                          240px;
    height:                         120px;
    background-color:               #FFFFFF;
    border-radius:                  8px;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    margin:                         0 0 0 14px;
}
.powered-up .hub-remote .control-circle {
    position:                       absolute;
    width:                          96px;
    height:                         96px;
    border-radius:                  48px;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    top:                            11px;
    background-color:               #FAFAFA;
}
.powered-up .hub-remote .control-circle .buttons {
    position:                       absolute;
    width:                          80px;
    height:                         32px;
    border-radius:                  16px;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    left:                           8px;
    top:                            32px;
    background-color:               #FFFFFF;
}
.powered-up .hub-remote .control-circle .buttons .buttons {
    width:                          72px;
    height:                         24px;
    left:                           3px;
    top:                            3px;
}
.powered-up .hub-remote .control-circle .buttons .buttons .button-left,
.powered-up .hub-remote .control-circle .buttons .buttons .button-right {
    float:                          left;
    width:                          33%;
    height:                         100%;
    background-color:               #C0C0C0;
    text-align:                     center;
    line-height:                    22px;
    color:                          rgba(0, 0, 0, 0.5);
    font-size:                      22px;
    font-family:                    monospace;
}
.powered-up .hub-remote .control-circle .buttons .buttons .button-left.pressed,
.powered-up .hub-remote .control-circle .buttons .buttons .button-right.pressed {
    background-color:               #707070;
}
.powered-up .hub-remote .control-circle .buttons .buttons .button-left {
    border-radius:                  11px 0 0 11px;
    line-height:                    20px;
}
.powered-up .hub-remote .control-circle .buttons .buttons .button-right {
    border-radius:                  0 11px 11px 0;
}
.powered-up .hub-remote .control-circle .buttons .buttons .button-center {
    float:                          left;
    width:                          34%;
    height:                         100%;
    background-color:               #AA0000;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-width:                   0 1px 0 1px;
}
.powered-up .hub-remote .control-circle .buttons .buttons .button-center.pressed {
    background-color:               #880000;
}
.powered-up .hub-remote .control-circle.left {
    left:                           5px;
}
.powered-up .hub-remote .control-circle.right {
    right:                          5px;
}
.powered-up .hub-remote .remote-light {
    position:                       absolute;
    left:                           50%;
    top:                            -1px;
    margin:                         0 0 0 -4px;
    width:                          8px;
    height:                         22px;
    background-color:               white;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-radius:                  2px;
}
.powered-up .hub-remote .remote-light.black {
    background-color:               rgb(0, 0, 0);
}
.powered-up .hub-remote .remote-light.pink {
    background-color:               rgb(255, 105, 180);
    box-shadow:                     3px 3px 6px rgba(255, 105, 180, 0.5), -3px -3px 6px rgba(255, 105, 180, 0.5), 3px -3px 6px rgba(255, 105, 180, 0.5), -3px 3px 6px rgba(255, 105, 180, 0.5);
}
.powered-up .hub-remote .remote-light.purple {
    background-color:               rgb(128, 0, 128);
    box-shadow:                     3px 3px 6px rgba(128, 0, 128, 0.5), -3px -3px 6px rgba(128, 0, 128, 0.5), 3px -3px 6px rgba(128, 0, 128, 0.5), -3px 3px 6px rgba(128, 0, 128, 0.5);
}
.powered-up .hub-remote .remote-light.blue {
    background-color:               rgb(0, 0, 128);
    box-shadow:                     3px 3px 6px rgba(0, 0, 128, 0.5), -3px -3px 6px rgba(0, 0, 128, 0.5), 3px -3px 6px rgba(0, 0, 128, 0.5), -3px 3px 6px rgba(0, 0, 128, 0.5);
}
.powered-up .hub-remote .remote-light.light-blue {
    background-color:               rgb(135, 206, 250);
    box-shadow:                     3px 3px 6px rgba(135, 206, 250, 0.5), -3px -3px 6px rgba(135, 206, 250, 0.5), 3px -3px 6px rgba(135, 206, 250, 0.5), -3px 3px 6px rgba(135, 206, 250, 0.5);
}
.powered-up .hub-remote .remote-light.cyan {
    background-color:               rgb(0, 206, 209);
    box-shadow:                     3px 3px 6px rgba(0, 206, 209, 0.5), -3px -3px 6px rgba(0, 206, 209, 0.5), 3px -3px 6px rgba(0, 206, 209, 0.5), -3px 3px 6px rgba(0, 206, 209, 0.5);
}
.powered-up .hub-remote .remote-light.green {
    background-color:               rgb(0, 128, 0);
    box-shadow:                     3px 3px 6px rgba(0, 128, 0, 0.5), -3px -3px 6px rgba(0, 128, 0, 0.5), 3px -3px 6px rgba(0, 128, 0, 0.5), -3px 3px 6px rgba(0, 128, 0, 0.5);
}
.powered-up .hub-remote .remote-light.yellow {
    background-color:               rgb(255, 250, 0);
    box-shadow:                     3px 3px 6px rgba(255, 250, 0, 0.5), -3px -3px 6px rgba(255, 250, 0, 0.5), 3px -3px 6px rgba(255, 250, 0, 0.5), -3px 3px 6px rgba(255, 250, 0, 0.5);
}
.powered-up .hub-remote .remote-light.orange {
    background-color:               rgb(255, 200, 0);
    box-shadow:                     3px 3px 6px rgba(255, 200, 0, 0.5), -3px -3px 6px rgba(255, 200, 0, 0.5), 3px -3px 6px rgba(255, 200, 0, 0.5), -3px 3px 6px rgba(255, 200, 0, 0.5);
}
.powered-up .hub-remote .remote-light.red {
    background-color:               rgb(128, 0, 0);
    box-shadow:                     3px 3px 6px rgba(128, 0, 0, 0.5), -3px -3px 6px rgba(128, 0, 0, 0.5), 3px -3px 6px rgba(128, 0, 0, 0.5), -3px 3px 6px rgba(128, 0, 0, 0.5);
}
.powered-up .hub-remote .remote-light.white {
    background-color:               rgb(255, 255, 255);
    box-shadow:                     3px 3px 6px rgba(255, 255, 255, 0.5), -3px -3px 6px rgba(255, 255, 255, 0.5), 3px -3px 6px rgba(255, 255, 255, 0.5), -3px 3px 6px rgba(255, 255, 255, 0.5);
}
.powered-up .hub-remote .remote-light.none {
    background-color:               rgb(255, 255, 255);
}
.powered-up .hub-remote  .remote-button {
    position:                       absolute;
    left:                           50%;
    top:                            50%;
    margin:                         -10px 0 0 -10px;
    width:                          20px;
    height:                         20px;
    background-color:               green;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    border-radius:                  2px;
}
