.simulator .psp {
    float:                          left;
    width:                          100%;
    height:                         128px;
    display:                        none;
    margin:                         16px 0 16px 0;
    -webkit-user-select:            none;
}
.simulator .psp.visible {
    display:                        block;
}
.simulator .psp .device {
    float:                          left;
    position:                       relative;
    width:                          268px;
    height:                         320px;
    background-color:               var(--sensor-background2);
    border-radius:                  2px;
    margin:                         0;
    box-shadow:                     1px 1px 3px rgba(0, 0, 0, 0.5);
    padding:                        8px 0 0 8px;
}
.simulator .psp .device .title {
    position:                       absolute;
    left:                           0;
    bottom:                         0;
    width:                          100%;
    height:                         32px;
    line-height:                    32px;
    padding:                        0 0 0 8px;
    background-color:               var(--sensor-background1);
    border-radius:                  0 0 2px 2px;
    font-family:                    latolight;
    font-size:                      16px;
}
.simulator .psp .device .title img {
    float:                          right;
    margin:                         5px 8px 0 0;
}
.simulator .psp .device .title span {
    float:                          left;
}
.simulator .psp .device div.quarter {
    float:                          left;
    width:                          64px;
    height:                         32px;
}
.simulator .psp .device div.quarter .button {
    margin:                         2px 0 0 12px;
}
.simulator .psp .device div.joystick {
    float:                          left;
    width:                          128px;
    height:                         96px;
    margin:                         12px 0 0 0;
}
.simulator .psp .device div.joystick .joystick-circle {
    float:                          left;
    position:                       relative;
    width:                          96px;
    height:                         96px;
    border-radius:                  48px;
    background-color:               var(--ui-background4);
    margin:                         0 0 0 16px;
    border:                         var(--ui-border3);
}
.simulator .psp .device div.joystick .joystick-circle .stick {
    position:                       absolute;
    left:                           48px;
    top:                            48px;
    width:                          32px;
    height:                         32px;
    margin:                         -16px 0 0 -16px;
    border-radius:                  16px;
    border:                         var(--ui-border3);
    background-color:               var(--ui-background1);
    pointer-events:                 none;
}

.simulator .psp .device div.four-buttons {
    float:                          left;
    width:                          128px;
    height:                         96px;
}
.simulator .psp .device div.four-buttons-row {
    float:                          left;
    width:                          100%;
    height:                         32px;
    margin-left:                    32px;
}
.simulator .psp .device div.four-buttons-row.left {
    margin-left:                    0px;
}
.simulator .psp .device div.four-buttons-row .left,
.simulator .psp .device div.four-buttons-row .center,
.simulator .psp .device div.four-buttons-row .right {
    float:                          left;
    width:                          32px;
    height:                         32px;
}
.simulator .psp .device div.four-buttons-row .button {
    margin-top:                     3px;
    width:                          32px;
}
