.simulator .sensors {
    display:                        none;
}
.simulator .sensors.visible {
    margin-top:                     8px;
    -webkit-user-select:            none;
    display:                        block;
}
.simulator .sensors .sensor {
    height:                         70px;
}
.simulator .sensors .sensor .value {
    bottom:                         7px;
}
.simulator .sensors .sensor .value .checkbox {
    float:                          left;
    margin:                         0 0 0 16.5px;
}
