body.ide.no-simulator div.simulator {
    display:                        none;
    -webkit-user-select:            none;
}
.simulator {
    position:                       absolute;
    right:                          0;
    top:                            40px;
    width:                          304px;
    height:                         calc(100% - 24px);
    background-color:               var(--ui-background1);
    border:                         var(--ui-border1);
    border-width:                   0 0 0 1px;
    z-index:                        1;
}
.simulator .motors,
.simulator .sensors {
    float:                          left;
}
.simulator .motors .title,
.simulator .sensors .title {
    float:                          left;
    position:                       relative;
    width:                          100%;
    height:                         40px;
    background-color:               var(--sensor-background2);
    border-radius:                  2px 2px 0 0;
}
.simulator .motors .title span,
.simulator .sensors .title span {
    position:                       absolute;
    top:                            3px;
    right:                          3px;
    width:                          18px;
    height:                         18px;
    background-color:               var(--sensor-background3);
    color:                          var(--sensor-text);
    border-radius:                  9px;
    text-align:                     center;
    line-height:                    19px;
    font-size:                      14px;
}
.simulator .sensors .sensor-container {
    width:                          61px;
    margin:                         0 8px 0 0;
}
.simulator .motors .motor,
.simulator .sensors .sensor {
    float:                          left;
    position:                       relative;
    width:                          61px;
    margin:                         0;
    background-color:               var(--sensor-background1);
    border-radius:                  2px;
    box-shadow:                     1px 1px 3px rgba(0, 0, 0, 0.5);
}
.simulator .motors .motor {
    margin:                         0 8px 0 0;
}
.simulator .motors .motor img.type,
.simulator .sensors .sensor img.type {
    border-radius:                  2px 0 0 0;
    width:                          34px;
    height:                         34px;
}
.simulator .motors .motor.hidden,
.simulator .sensors .sensor-container.hidden {
    display:                        none;
}
.simulator .sensors .sensor .value.multiplexer .checkbox.green {
    width:                          19px;
    height:                         19px;
    margin:                         0;
}
.simulator .sensors .sensor .value.multiplexer .checkbox.green span {
    width:                          13px;
    height:                         13px;
}
.simulator .sensors .sensor .value.multiplexer .checkbox.checked span::after {
    font-size:                      10px;
    width:                          13px;
    height:                         13px;
    line-height:                    13px;
}
.simulator .sensors .sensor .unknown-type {
    height:                         39px;
    padding:                        0 0 0 20px;
    font-weight:                    bold;
    font-size:                      16px;
    line-height:                    39px;
}
.simulator .simulator-options {
    height:                         40px;
    margin:                         0;
    border:                         var(--ui-border1);
    border-width:                   0 0 1px 0;
    background-color:               var(--ui-background2);
}
.simulator .simulator-options .close-button {
    float:                          right;
    margin:                         8px 8px 0 0;
}
.simulator .simulator-options .dropdown {
    float:                          right;
    margin:                         8px 16px 0 8px;
    min-width:                      24px;
}
.simulator .simulator-options .dropdown .dropdown-value,
.simulator .simulator-options .dropdown .dropdown-list-item {
    text-align:                     center;
    padding:                        0 4px 0 4px;
}

/* Simulator plugins */
.simulator .plugin-container {
    top:                            40px;
    bottom:                         0px;
    width:                          100%;
    padding:                        0 0 256px 17px;
    margin:                         0;
    overflow:                       hidden;
    overflow-y:                     scroll;
}
.simulator .plugin-container.stand-alone .ev3-background {
    border-radius:                  2px;
}
.simulator .plugin-container.stand-alone .simulator-options {
    border:                         0;
}
.simulator .plugin-container.stand-alone .simulator-options .button.run {
    margin-left:                    0;
}

/* Shared between sensor and motor... */
.simulator .motors .motor .position,
.simulator .motors .motor .value,
.simulator .sensors .sensor .value {
    position:                       absolute;
    left:                           1px;
    width:                          calc(100% - 2px);
    height:                         18px;
    line-height:                    18px;
    text-align:                     center;
    font-size:                      15px;
    font-family:                    monospace;
}
.simulator .motors .motor .value {
    top:                            55px;
}
.simulator .sensors .sensor .value.hidden,
.simulator .motors .motor .value.hidden {
    display:                        none;
}
.simulator .sensors .sensor .value input[type="text"],
.simulator .motors .motor .value input[type="text"] {
    outline:                        none;
    border:                         1px solid rgba(0, 0, 0, 0.5);
    width:                          47px;
    font-family:                    monospace;
    font-size:                      13px;
    text-align:                     center;
    margin-top:                     1px;
}
.simulator .sensors .title.with-mode,
.simulator .motors .title.with-mode {
    cursor:                         pointer;
}
.simulator .sensors .sensor .value .icon-select,
.simulator .motors .motor .value .icon-select {
    float:                          left;
    margin:                         -2px 0 0 14px;
}
.simulator .motors .motor .value .icon-select {
    margin:                         -2px 0 0 16px;
}
