@charset "UTF-8";

* {
    box-sizing:                         border-box;
}

html,
body {
    margin:                             0;
    padding:                            0;
    width:                              100%;
    height:                             100%;
}
body {
    position:                           relative;
    background-color:                   WhiteSmoke;
    color:                              Black;
    font-size:                          18px;
}
div,
span,
h1,
h2,
h3,
h4,
ul,
li,
input {
    margin:                             0;
    padding:                            0;
    color:                              Black;
}
#container,
.container-events {
    float:                              left;
    position:                           relative;
    width:                              100%;
    height:                             100%;
}
#main {
    position:                           relative;
    width:                              100%;
    height:                             100%;
}

h1,
h2,
h3,
h4 {
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    font-size:                          20px;
}
div,
span {
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
}
input,
select {
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        300;
}
.select.icon-chevron-down {
    float:                              left;
    position:                           relative;
    height:                             24px;
}
.select.icon-chevron-down:before {
    position:                           absolute;
    right:                              0;
    top:                                0;
    height:                             24px;
    line-height:                        24px;
    pointer-events:                     none;
}
.select.icon-chevron-down select {
    padding-right:                      16px;
}

.half {
    width:                              50%;
}
.third {
    width:                              33%;
}

.box-shadow {
    box-shadow:                         0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -2px -0px 5px rgba(0, 0, 0, 0.1),
                                        2px -0px 5px rgba(0, 0, 0, 0.1);
    border-radius:                      4px;
}

select,
input[type='text'] {
    -webkit-appearance:                 none;
    -moz-appearance:                    none;
    height:                             24px;
    padding:                            2px 8px 0 8px;
    margin:                             0;
    border:                             1px solid DarkGray;
    border-radius:                      4px;
    font-size:                          16px;
    background-color:                   White;
    cursor:                             pointer;
}

/* Header */
#main .header {
    position:                           absolute;
    left:                               0px;
    top:                                0px;
    width:                              100%;
    height:                             48px;
    z-index:                            10500;
    box-shadow:                         0 2px 2px rgba(0, 0, 0, 0.3);
    background-color:                   #00A6ED; /* LightSkyBlue */
}
#main .header .menu {
    position:                           absolute;
    left:                               0px;
    top:                                0px;
    width:                              100%;
    height:                             48px;
}
#main .header .menu li {
    list-style-type:                    none;
}
#main .header .menu li.active-project {
    float:                              right;
    margin:                             0 24px 0 8px;
}
#main .header .menu li.menu-item {
    float:                              left;
    position:                           relative;
    height:                             48px;
    margin:                             0 0 0 16px;
}
#main .header .menu li.menu-item .menu-item-title,
#main .header .menu li.active-project span {
    float:                              left;
    color:                              White;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    line-height:                        48px;
    height:                             40px;
    cursor:                             pointer;
}
#main .header .menu li.active-project span {
    font-weight:                         400;
    font-style:                         italic;
}
#main .header .menu li.menu-item:hover .menu-item-title {
    border:                             4px solid White;
    border-width:                       0 0 4px 0;
}
#main .header .menu li.menu-item .dropdown {
    display:                            none;
    position:                           absolute;
    left:                               0px;
    top:                                44px;
    width:                              auto;
    height:                             auto;
}
#main .header .menu li.menu-item:hover .dropdown {
    display:                            block;
    background-color:                   White;
    border:                             1px solid LightSteelBlue;
}
#main .header .menu li.menu-item:hover .dropdown li {
    white-space:                        nowrap;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    color:                              Black;
    padding:                            8px 16px 8px 16px;
    list-style-type:                    none;
}
#main .header .menu li.menu-item:hover .dropdown li.separator,
#main .header .menu li.menu-item:hover .dropdown li.separator:hover {
    background-color:                   LightSteelBlue;
    cursor:                             default;
    margin:                             8px 0 8px 0;
    padding:                            0;
    height:                             1px;
}
#main .header .menu li.menu-item:hover .dropdown li:hover {
    background-color:                   #00A6ED; /* LightSkyBlue */
    color:                              White;
    cursor:                             pointer;
}

/* Button */
.button {
    float:                              right;
    margin:                             16px 16px 16px 0;
    background-color:                   #0D2C54; /* MidnightBlue */
    border:                             1px solid DarkGray;
    border-radius:                      4px;
    padding:                            4px 16px 4px 16px;
    color:                              White;
    font-size:                          16px;
    font-weight:                        300;
    line-height:                        16px;
    cursor:                             pointer;
    box-shadow:                         0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -2px -0px 5px rgba(0, 0, 0, 0.1),
                                        2px -0px 5px rgba(0, 0, 0, 0.1);
}
.button.accept {
    background-color:                   #7FB800; /* LimeGreen */
}
.button.cancel {
    background-color:                   #F6511D; /* Red */
}
.button.choice {
    background-color:                   #FFB400; /* Yellow */
}
.button.accept:before,
.button.cancel:before,
.button.choice:before {
    font-size:                          18px;
    height:                             18px;
    margin:                             0 8px 0 0;
    padding:                            0;
    text-align:                         center;
}

/* Files */
.dotted {
    background-image:                   -webkit-repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
    background-image:                   -moz-repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
    background-image:                   -ms-repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
    background-image:                   repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
    -webkit-background-size:            3px 3px;
    -moz-background-size:               3px 3px;
    background-size:                    3px 3px;
}
#main .files {
    position:                           absolute;
    top:                                56px;
    left:                               8px;
    bottom:                             8px;
    list-style:                         none;
    padding:                            0 8px 0 8px;
    overflow:                           hidden;
    overflow-y:                         scroll;
}
#main .files .resizer {
    position:                           absolute;
    top:                                0;
    right:                              0;
    width:                              10px;
    bottom:                             0;
    z-index:                            10100;
    cursor:                             col-resize;
    opacity:                            0.1;
}
#main .files .resizer:hover {
    opacity:                            0.75;
}
#main .files .resizer.resizing {
    opacity:                            1;
}
#main .files ul {
    float:                              left;
    width:                              100%;
    z-index:                            0;
}
#main .files li {
    float:                              left;
    width:                              100%;
    line-height:                        32px;
    padding:                            0;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    margin:                             0;
    cursor:                             pointer;
    list-style-type:                    none;
}
#main .files li div {
    position:                           relative;
    float:                              left;
    width:                              calc(100% - 8px);
    color:                              Black;
}
#main .files li span {
    float:                              left;
}
#main .files li .icon {
    float:                              left;
    display:                            block;
    pointer-events:                     none;
    width:                              24px;
    height:                             32px;
    line-height:                        32px;
    font-size:                          18px;
    text-align:                         center;
    margin:                             0 8px 0 0;
    color:                              Black;
}
#main .files li div.active {
    z-index:                            10000;
}
#main .files li div.active .icon {
    color:                              White;
}

#main .files li .icon-close,
#main .files li .icon-pen {
    display:                            none;
    float:                              right;
    width:                              32px;
}
#main .files li div.changed,
#main .files li div.active.changed {
    font-style:                         italic;
}
#main .files li div:hover,
#main .files li div:hover div,
#main .files li div:hover span {
    background-color:                   #00A6ED; /* LightSkyBlue */
    color:                              White;
    border-radius:                      4px;
}
#main .files li div:hover div {
    background-color:                   transparent;
}
#main .files li div.active {
    background-color:                   #7FB800; /* LimeGreen */
    box-shadow:                         2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius:                      4px;
}
#main .files li div.active:hover,
#main .files li div.active:hover div,
#main .files li div.active:hover span {
    background-color:                   #7FB800; /* LimeGreen */
    color:                              White;
    border-radius:                      4px;
}

#main .files li div.active span,
#main .files li div.active .icon-project,
#main .files li div.active .icon-file,
#main .files li div.active .icon-image-file,
#main .files li div.active .icon-brackets,
#main .files li div.active .icon-folder {
    color:                              White;
}
#main .files li div.active .icon-close,
#main .files li div.active .icon-pen {
    display:                            block;
    color:                              White;
    line-height:                        32px;
    height:                             32px;
    text-align:                         center;
    padding:                            0;
    margin:                             0;
    overflow:                           hidden;
}
#main .files li div.active .icon-pen {
    font-size:                          20px;
    padding-top:                        5px;
}
#main .files li div.active .icon-close {
    font-size:                          20px;
    padding-top:                        2px;
}
#main .files li .icon:before {
    line-height:                        32px;
}

/* Help */
#main .help {
    position:                           absolute;
    right:                              204px;
    left:                               400px;
    top:                                calc(50% - 8px);
    bottom:                             8px;
    border-radius:                      4px;
    overflow:                           hidden;
    background-color:                   White;
    display:                            none;
}
#main .help iframe {
    float:                              left;
    position:                           relative;
    width:                              100%;
    height:                             100%;
    border:                             0;
    z-index:                            1;
}
#main .help .icon-close {
    position:                           absolute;
    top:                                4px;
    right:                              16px;
    width:                              24px;
    height:                             24px;
    border:                             0;
    z-index:                            10;
    text-align:                         center;
    font-size:                          24px;
    line-height:                        24px;
    opacity:                            0.3;
    transition:                         opacity 0.2s;
    cursor:                             pointer;
}
#main .help .icon-close:hover {
    opacity:                            1;
}
#main .help.show-console {
    top:                                calc(45% - 8px);
    bottom:                             calc(25% + 24px);
}
#main .help.visible {
    display:                            block;
}
#main .help.small {
    right:                              392px;
}

/* bottom: calc(55% + 24px);        */
/* height: 25%                      */

/* Editor */
#main .editor {
    position:                           absolute;
    right:                              204px;
    top:                                56px;
    bottom:                             8px;
    border-radius:                      4px;
    overflow:                           hidden;
}
#main .editor.small {
    right:                              392px;
}
#main .editor.show-console,
#main .editor.small.show-console {
    bottom:                             calc(25% + 24px);
}
#main .editor.show-help,
#main .editor.small.show-help {
    bottom:                             calc(50% + 24px);
}
#main .editor.show-console.show-help,
#main .editor.small.show-console.show-help {
    bottom:                             calc(55% + 24px);
}
#main .editor #codeHint {
    position:                           absolute;
    z-index:                            9999;
    border:                             1px solid Black;
    background-color:                   White;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        300;
    font-size:                          13px;
    padding:                            3px;
    box-shadow:                         0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -2px -0px 5px rgba(0, 0, 0, 0.1),
                                        2px -0px 5px rgba(0, 0, 0, 0.1);
}
#main .editor #codeHint .code-hint-title {
}
#main .editor #codeHint .code-hint-title strong {
    font-weight:                        400;
}
#main .editor #codeHint .code-hint-title span {
    padding-right:                      6px;
    font-style:                         italic;
}
#main .editor #codeHint .code-hint-position {
    font-size:                          11px;
    white-space:                        nowrap;
}
/* Console */
#main .console {
    position:                           absolute;
    right:                              204px;
    height:                             25%;
    bottom:                             8px;
    background-color:                   White;
    display:                            none;
}
#main .console.visible {
    display:                            block;
}
#main .console.visible.small {
    right:                              392px;
}
#main .console .messages {
    position:                           absolute;
    top:                                0px;
    left:                               0px;
    width:                              100%;
    bottom:                             40px;
    margin:                             0;
    overflow:                           hidden;
    overflow-y:                         scroll;
}
#main .console .messages .row {
    float:                              left;
    width:                              100%;
    /*padding:                            2px 16px 2px 8px;*/
    margin:                             0;
    font-family:                        monospace;
    font-size:                          13px;
    line-height:                        13px;
}
#main .console .messages .row.log,
#main .console .messages .row.error {
    position:                           relative;
    cursor:                             pointer;
    padding-left:                       32px;
    padding:                            4px 16px 2px 32px;
}
#main .console .messages .row.code {
    position:                           relative;
    cursor:                             pointer;
}
#main .console .messages pre.message {
    float:                              left;
    margin:                             0;
    width:                              100%;
    padding:                            2px 16px 2px 8px;
}
#main .console .messages pre.message:hover {
    background-color:                   WhiteSmoke;
}
#main .console .messages pre.message span.output-code {
    float:                              left;
    font-family:                        'Courier New';
    padding-left:                       32px;
}
#main .console .messages pre.message span.executed {
    float:                              right;
    padding:                            1px 4px 1px 4px;
    font-size:                          10px;
    line-height:                        12px;
    height:                             14px;
    border-radius:                      7px;
    color:                              White;
    background-color:                   #7FB800; /* LimeGreen */
}

#main .console .messages .message,
#main .console .messages .row .location {
    font-family:                        'Courier New';
    font-size:                          13px;
    color:                              #0D2C54; /* MidnightBlue */
}
#main .console .messages .row.code:before,
#main .console .messages .row.error:before,
#main .console .messages .row.log:before {
    position:                           absolute;
    left:                               8px;
    top:                                1px;
    font-size:                          15px;
}
#main .console .messages .row.error:before {
    color:                              #F6511D; /* Red */
}
#main .console .messages .row.log:before {
    color:                              #7FB800; /* LimeGreen */
}
#main .console .messages .row.code .message,
#main .console .messages .row.log .message,
#main .console .messages .row.error .message {
    float:                              left;
}
#main .console .messages .row.log .location,
#main .console .messages .row.error .location {
    float:                              right;
}

#main .help .control-panel,
#main .console .control-panel {
    position:                           absolute;
    left:                               0px;
    bottom:                             0px;
    width:                              100%;
    height:                             40px;
    background-color:                   #00A6ED; /* LightSkyBlue */
    border-radius:                      0 0 4px 4px;
}

/* Output */
#main .output {
    position:                           absolute;
    width:                              200px;
    right:                              0px;
    top:                                48px;
    bottom:                             0px;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        300;
    font-size:                          16px;
}
#main .output.large {
    width:                              384px;
}
#main .output .io-wrapper {
    float:                              left;
    width:                              100%;
    height:                             calc(100% - 192px);
    margin-top:                         16px;
    overflow:                           scroll;
    overflow-x:                         hidden;
}
#main .output.large .io-wrapper {
    height:                             calc(100% - 328px);
}

/* Sensor/motor status */
#main .output .status {
    width:                              100px;
    padding:                            0;
}
#main .output .status-row {
    width:                              100%;
    font-size:                          11px;
}
#main .output .status-name,
#main .output .status-value {
    width:                              50%;
}

/* Motor, sensor */
#main .output .motor-container,
#main .output .sensor-container {
    float:                              left;
    width:                              196px;
}
#main .output.large .motor-container {
    width:                              182px;
}
#main .output.large .sensor-container {
    width:                              178px;
}
#main .output .motor-container .io,
#main .output .sensor-container .io {
    position:                           relative;
    float:                              left;
    width:                              178px;
    min-height:                         64px;
    background-color:                   White;
    margin:                             0px 8px 8px 8px;
    padding:                            8px;
}
#main .output .motor-container .box-shadow.io .medium,
#main .output .motor-container .box-shadow.io .large,
#main .output .sensor-container .box-shadow.io .touch {
    position:                           absolute;
    background-repeat:                  no-repeat;
    pointer-events:                     none;
    left:                               65px;
    top:                                8px;
    width:                              100px;
    height:                             100px;
    z-index:                            0;
    opacity:                            0.2;
}
#main .output .motor-container .box-shadow.io .medium {
    background:                         url('../images/mediumMotor.png');
    background-size:                    100px 100px;
}
#main .output .motor-container .box-shadow.io .large {
    background:                         url('../images/largeMotor.png');
    background-size:                    100px 100px;
}
#main .output .sensor-container .box-shadow.io .touch {
    background:                         url('../images/touchSensor.png');
    background-size:                    100px 100px;
}
#main .output.large .motor-container .io {
    width:                              174px;
}
#main .output.large .sensor-container .io {
    width:                              174px;
}
#main .output .motor-container .io .status-canvas {
    float:                              left;
    margin:                             0 8px 0 0;
    z-index:                            100;
}
#main .output .sensor-container .io .status-button {
    float:                              left;
    margin:                             0 8px 0 0;
    z-index:                            100;
    width:                              48px;
    height:                             48px;
    background-color:                   #7FB800; /* LimeGreen */
    cursor:                             pointer;
    color:                              White;
}
#main .output .motor-container .io span,
#main .output .motor-container .io div,
#main .output .sensor-container .io span,
#main .output .sensor-container .io div {
    float:                              left;
    position:                           relative;
    z-index:                            150;
}
#main .output .motor-container .io .title,
#main .output .sensor-container .io .title {
    margin:                             0 0 4px 0;
    z-index:                            200;
}
#main .output .motor-container .io .status-id {
    position:                           absolute;
    left:                               16px;
    top:                                16px;
    z-index:                            200;
    width:                              32px;
    height:                             32px;
    line-height:                        32px;
    text-align:                         center;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    font-size:                          18px;
}
#main .output .sensor-container .io .status-id {
    display:                            none;
}

/* Buttons */
#main .output .io.ev3-buttons {
    float:                              left;
    position:                           relative;
    width:                              178px;
    height:                             128px;
    padding:                            0;
}
@keyframes red {
    0%      { background-color: Red; }
    100%    { background-color: Red; }
}
@keyframes red-flash {
    0%      { background-color: WhiteSmoke; }
    50%     { background-color: Red; }
    100%    { background-color: WhiteSmoke; }
}
@keyframes yellow {
    0%      { background-color: Yellow; }
    100%    { background-color: Yellow; }
}
@keyframes yellow-flash {
    0%      { background-color: WhiteSmoke; }
    50%     { background-color: Yellow; }
    100%    { background-color: WhiteSmoke; }
}
@keyframes green {
    0%      { background-color: LimeGreen; }
    100%    { background-color: LimeGreen; }
}
@keyframes green-flash {
    0%      { background-color: WhiteSmoke; }
    50%     { background-color: LimeGreen; }
    100%    { background-color: WhiteSmoke; }
}
#main .output .io.ev3-buttons .ev3-light {
    position:                           absolute;
    left:                               49px;
    top:                                24px;
    width:                              80px;
    height:                             80px;
    border:                             1px solid #0D2C54; /* MidnightBlue */
    background-color:                   WhiteSmoke;
    z-index:                            1;
    animation-duration:                 0.5s;
    animation-iteration-count:          infinite;
}
#main .output .io.ev3-buttons .ev3-light.red {
    animation-name:                     red;
}
#main .output .io.ev3-buttons .ev3-light.red-flash {
    animation-name:                     red-flash;
}
#main .output .io.ev3-buttons .ev3-light.yellow {
    animation-name:                     yellow;
}
#main .output .io.ev3-buttons .ev3-light.yellow-flash {
    animation-name:                     yellow-flash;
}
#main .output .io.ev3-buttons .ev3-light.green {
    animation-name:                     green;
}
#main .output .io.ev3-buttons .ev3-light.green-flash {
    animation-name:                     green-flash;
}

#main .output .io.ev3-buttons .button {
    position:                           absolute;
    width:                              32px;
    height:                             32px;
    background-color:                   #7FB800; /* LimeGreen */
    margin:                             0;
    padding:                            0;
    z-index:                            10;
}
#main .output .io.ev3-buttons .button:before {
    position:                           absolute;
    left:                               0px;
    top:                                0px;
    width:                              30px;
    height:                             32px;
    margin:                             0;
    margin-top:                         -2px;
    padding:                            0;
    line-height:                        32px;
    text-align:                         center;
    font-size:                          32px;
}
#main .output .io.ev3-buttons .button.left {
    left:                               33px;
    top:                                48px;
}
#main .output .io.ev3-buttons .button.left:before {
    margin-left:                        -2px;
}
#main .output .io.ev3-buttons .button.up:before,
#main .output .io.ev3-buttons .button.down:before {
    margin-left:                        -1px;
}
#main .output .io.ev3-buttons .button.up {
    left:                               73px;
    top:                                8px;
}
#main .output .io.ev3-buttons .button.center {
    left:                               73px;
    top:                                48px;
}
#main .output .io.ev3-buttons .button.center:before {
    font-size:                          25px;
}
#main .output .io.ev3-buttons .button.down {
    left:                               73px;
    bottom:                             8px;
}
#main .output .io.ev3-buttons .button.right {
    right:                              29px;
    top:                                48px;
}

/* Screen */
#main .output .ev3-screen {
    float:                              left;
    width:                              178px;
    height:                             auto;
    margin:                             8px 8px 0 8px;
}
#main .output.large .ev3-screen {
    float: left;
    width:                              356px;
    height:                             auto;
}
#main .output .ev3-screen canvas {
    float:                              left;
    background-color:                   DarkGray;
    width:                              178px;
    height:                             128px;
    font-family:                        'Inconsolata';
}
#main .output.large .ev3-screen canvas {
    width:                              356px;
    height:                             256px;
}
#main .output .ev3-screen .control-panel {
    float:                              left;
    width:                              100%;
    height:                             40px;
    background-color:                   #00A6ED; /* LightSkyBlue */
    border-radius:                      0 0 4px 4px;
}

/* Control panel icons */
#main .control-panel .icon {
    float:                              left;
    position:                           relative;
    width:                              40px;
    height:                             40px;
    cursor:                             pointer;
    color:                              #0D2C54; /* MidnightBlue */
    text-align:                         center;
    font-size:                          32px;
    line-height:                        40px;
    margin:                             0;
}
#main .control-panel .icon:hover {
    color:                              White;
}
#main .control-panel .icon.icon-smaller,
#main .control-panel .icon.icon-larger,
#main .control-panel .icon.icon-comment,
#main .control-panel .icon.icon-comment-help,
#main .control-panel .icon.icon-comment-close {
    font-size:                          24px;
}
#main .ev3-screen .control-panel .icon.icon-smaller,
#main .ev3-screen .control-panel .icon.icon-larger,
#main .ev3-screen .control-panel .icon.icon-comment,
#main .ev3-screen .control-panel .icon.icon-comment-help,
#main .ev3-screen .control-panel .icon.icon-comment-close,
#main .console .control-panel .icon.icon-close,
#main .help .control-panel .icon.icon-close {
    float:                              right;
}
#main .ev3-screen .control-panel .icon.icon-comment,
#main .ev3-screen .control-panel .icon.icon-smaller,
#main .ev3-screen .control-panel .icon.icon-larger {
    margin-right:                       -8px;
}
#main .ev3-screen .control-panel .icon.icon-circle-pause {
    margin-left:                        -8px;
}
#main .console .control-panel .icon.icon-comment-help {
    margin-left:                        -8px;
}
#main .control-panel .icon.icon-square-bracket {
    font-size:                          26px;
}
#main .control-panel .icon.icon-comment-close,
#main .control-panel .icon.icon-comment-help {
    font-size:                          24px;
}
#main .control-panel .icon .counter {
    position:                           absolute;
    right:                              -4px;
    top:                                0px;
    padding:                            1px 4px 1px 4px;
    font-size:                          10px;
    line-height:                        12px;
    height:                             14px;
    border-radius:                      7px;
    color:                              White;
}
#main .control-panel .icon .counter.red {
    background-color:                   #F6511D; /* Red */
}
#main .control-panel .icon .counter.yellow {
    background-color:                   #FFB400; /* Yellow */
    color:                              #0D2C54; /* MidnightBlue */
}
#main .control-panel .icon .counter.green {
    background-color:                   #7FB800; /* LimeGreen */
}

/* Dialogs */
.dialog-background {
    position:                           absolute;
    left:                               0px;
    top:                                0;
    width:                              100%;
    height:                             100%;
    z-index:                            10900;
    background-color:                   rgba(0, 0, 0, 0.25);
    display:                            none;
}
.dialog-background.visible {
    display:                            block;
}
.dialog {
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        300;
    position:                           absolute;
    left:                               0px;
    top:                                50%;
    width:                              100%;
    height:                             200px;
    margin:                             -100px 0 0 0;
    z-index:                            11000;
}
.dialog-vertical {
    position:                           relative;
    margin:                             0 auto 0 auto;
    background-color:                   White;
    border-radius:                      4px;
    box-shadow:                         0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -0px 2px 5px rgba(0, 0, 0, 0.1),
                                        -2px -0px 5px rgba(0, 0, 0, 0.1),
                                        2px -0px 5px rgba(0, 0, 0, 0.1);
}
.dialog-vertical .dialog-content {
    position:                           absolute;
    left:                               0px;
    top:                                48px;
    right:                              0px;
    bottom:                             48px;
    padding:                            16px;
}
.dialog-vertical .buttons {
    position:                           absolute;
    left:                               0px;
    bottom:                             0px;
    width:                              100%;
}
.dialog-vertical .dialog-header {
    position:                           absolute;
    left:                               0px;
    top:                                0px;
    width:                              100%;
    height:                             48px;
    margin:                             0;
    padding:                            0;
}
.dialog-vertical .dialog-header h4 {
    position:                           absolute;
    left:                               0px;
    top:                                0px;
    width:                              100%;
    height:                             48px;
    line-height:                        48px;
    margin:                             0;
    padding:                            0 0 0 16px;
    text-align:                         left;
    color:                              #0D2C54; /* MidnightBlue */
}
.dialog-vertical .dialog-header .close-button {
    position:                           absolute;
    right:                              16px;
    top:                                12px;
    text-align:                         center;
    font-size:                          20px;
    line-height:                        20px;
    cursor:                             pointer;
    color:                              #0D2C54; /* MidnightBlue */
}
.dialog-vertical .dialog-header .close-button:hover {
}
.dialog-vertical .icon {
    float:                              left;
    width:                              80px;
    height:                             80px;
    font-size:                          52px;
    line-height:                        85px;
    text-align:                         center;
    border-radius:                      40px;
    background-color:                   WhiteSmoke;
    color:                              White;
}
.dialog-vertical .icon.icon-pen {
    line-height:                        96px;
}
.dialog-vertical .icon.icon-triangle-warning {
    line-height:                        74px;
}
.dialog-vertical .icon:before {
    line-height:                        72px;
}

/* Alert dialog */
.dialog.alert {
    height:                             200px;
    margin:                             -100px 0 0 0;
}
.dialog.alert .dialog-vertical {
    width:                              500px;
    height:                             200px;
}
.dialog.alert .alert-content {
    float:                              right;
    width:                              calc(100% - 96px);
    text-align:                         center;
}

/* New dialog */
.dialog.new {
    height:                             300px;
    margin:                             -150px 0 0 0;
}
.dialog.new .dialog-vertical {
    width:                              500px;
    height:                             300px;
}
.dialog.new .new-content {
    float:                              right;
    width:                              calc(100% - 96px);
}
.dialog.new .new-content ul,
.dialog.new .new-content li {
    float:                              left;
    list-style-type:                    none;
    width:                              100%;
}
.dialog.new .new-content li {
    padding:                            8px;
    cursor:                             pointer;
}
.dialog.new .new-content li:hover {
    background-color:                   rgba(0, 0, 0, 0.05);
    opacity:                            1;
}
.dialog.new .new-content .icon {
    float:                              left;
    width:                              40px;
    height:                             40px;
    color:                              Black;
    border:                             0;
    border-radius:                      0;
    background-color:                   transparent;
    font-size:                          30px;
    text-align:                         center;
    line-height:                        32px;
}
.dialog.new .new-content .icon:before {
    line-height:                        32px;
}

/* Prompt dialog */
.dialog.prompt {
    height:                             240px;
    margin:                             -120px 0 0 0;
}
.dialog.prompt .dialog-vertical {
    width:                              500px;
    height:                             240px;
}
.dialog.prompt .prompt-content {
    float:                              left;
    width:                              calc(100% - 96px);
    text-align:                         left;
    margin-left:                        16px;
}
.dialog.prompt input {
    float:                              left;
    width:                              calc(100% - 100px);
    font-size:                          16px;
    margin:                             16px 0 0 16px;
}

/* Sensors dialog */
.dialog.sensors {
    height:                             370px;
    margin:                             -185px 0 0 0;
}
.dialog.sensors .dialog-vertical {
    width:                              500px;
    height:                             370px;
}
.dialog.sensors .sensors-content {
    float:                              right;
    width:                              calc(100% - 96px);
}
.dialog.sensors .sensors-content .row {
    float:                              left;
    width:                              100%;
    margin-bottom:                      8px;
}
.dialog.sensors .sensors-content .row .label {
    float:                              left;
    line-height:                        24px;
    margin:                             2px 8px 0 16px;
}
.dialog.sensors .sensors-content .row .checkbox {
    float:                              left;
    margin-top:                         2px;
}
.dialog.sensors .sensors-content .row .sensor-type {
    float:                              left;
    width:                              32px;
}
.dialog.sensors .sensors-content .row .sensor-type img {
    float:                              left;
    width:                              32px;
}
.dialog.sensors .sensors-content .row .sensor-type .checkbox {
    float:                              none;
    margin:                             32px 0 0 6px;
}

/* Examples dialog */
.dialog.examples {
    height:                             400px;
    margin:                             -200px 0 0 0;
}
.dialog.examples .dialog-vertical {
    width:                              600px;
    height:                             400px;
}
.dialog.examples .examples-content {
    float:                              right;
    width:                              calc(100% - 96px);
    height:                             276px;
    overflow:                           hidden;
    overflow-y:                         scroll;
}
.dialog.examples .examples-content h3 {
    float:                                 left;
    margin:                             0 0 8px 0;
}
.dialog.examples .examples-content ul,
.dialog.examples .examples-content li {
    float:                              left;
    width:                              100%;
}
.dialog.examples .examples-content ul {
    margin:                             0 0 8px 16px;
}
.dialog.examples .examples-content .example-title,
.dialog.examples .examples-content .example-description {
    float:                              left;
    width:                              100%;
}
.dialog.examples .examples-content .example-description {
    color:                              #00A6ED; /* LightSkyBlue */
}
.dialog.examples .examples-content .example-title:hover {
    text-decoration:                    underline;
    cursor:                             pointer;
}
.dialog.examples .examples-content .half {
    float:                              left;
}

/* Checkbox */
.checkbox {
    position:                           relative;
    width:                              24px;
    height:                             24px;
    cursor:                             pointer;
}
.checkbox.slider {
    position:                           relative;
    width:                              48px;
    height:                             24px;
    cursor:                             pointer;
}
.checkbox .checkbox-track {
    display:                            none;
}
.checkbox.slider .checkbox-track {
    display:                            block;
    position:                           absolute;
    width:                              32px;
    height:                             8px;
    left:                               8px;
    top:                                8px;
    border-radius:                      4px;
    background-color:                   #0D2C54; /* MidnightBlue */
    pointer-events:                     none;
}
.checkbox.slider .checkbox-value {
    position:                           absolute;
    left:                               2px;
    top:                                2px;
    width:                              20px;
    height:                             20px;
    border-radius:                      12px;
    border:                             1px solid #0D2C54; /* MidnightBlue */
    background-color:                   White;
    pointer-events:                     none;
    transition:                         left 0.3s, background-color 0.3s;
}
.checkbox .checkbox-value {
    position:                           absolute;
    left:                               2px;
    top:                                2px;
    width:                              20px;
    height:                             20px;
    pointer-events:                     none;
}
.dialog.motors .motors-content .motor-row:hover .checkbox.slider.checked .checkbox-value,
.checkbox.slider.checked .checkbox-value {
    left:                               26px;
    color:                              #0D2C54; /* MidnightBlue */
    font-size:                          16px;
    line-height:                        18px;
    text-align:                         center;
}
.checkbox .checkbox-value,
.checkbox.checked .checkbox-value {
    font-size:                          16px;
    line-height:                        18px;
    text-align:                         center;
}

/* Tabs */
.tabs {
    float:                              left;
    width:                              370px;
    margin-left:                        16px;
}
.tabs ul.tabs-titles {
    float:                              left;
    padding:                            0 8px 8px 0;
    border-width:                       0 0 1px 0;
    width:                              100%;
    margin-bottom:                      8px;
}
.tabs ul.tabs-titles li.tab {
    float:                              left;
    list-style-type:                    none;
    margin:                             0;
    padding:                            4px 0 4px 0;
    margin:                             0 16px 0 0;
    cursor:                             pointer;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    color:                              #00A6ED; /* LightSkyBlue */
}
.tabs ul.tabs-titles li.tab:hover {
    color:                              #0D2C54; /* MidnightBlue */
    border:                             4px solid #0D2C54; /* MidnightBlue */
    border-width:                       0 0 4px 0;
}
.tabs ul.tabs-titles li.tab.active {
    color:                              #0D2C54; /* MidnightBlue */
    border:                             4px solid #0D2C54; /* MidnightBlue */
    border-width:                       0 0 4px 0;
}
.tabs .tabs-content {
    float:                              left;
}
.tabs .tabs-content .tab-content {
    display:                            none;
}
.tabs .tabs-content .tab-content.active {
    display:                            block;
}