@charset "UTF-8";

html,
body {
	margin: 							0;
	padding: 							0;
	width: 								100%;
	height: 							100%;
}
body {
	position: 							relative;
	background-color: 					GhostWhite;
	color: 								Black;
	font-size: 							16px;
}
div,
span,
h1,
h2,
h3,
h4,
ul,
li {
	margin: 							0;
	padding: 							0;
	box-sizing: 						border-box;
	color: 								Black;
}
#container,
.container-events {
	float: 								left;
	position: 							relative;
	width: 								100%;
	height: 							100%;
}
#main {
	position:  							relative;
	width: 								100%;
	height: 							100%;
}

h1,
h2,
h3,
h4 {
	font-family:						'Roboto', sans-serif;
	font-weight: 						400;
	font-size: 							20px;
}

.half {
	width: 								50%;
}
.third {
	width: 								33%;
}

.box-shadow {
	box-shadow: 						0px 2px 5px rgba(0, 0, 0, 0.1),
										-0px 2px 5px rgba(0, 0, 0, 0.1),
										-2px -0px 5px rgba(0, 0, 0, 0.1),
										2px -0px 5px rgba(0, 0, 0, 0.1);
}

/* Header */
#main .header {
	position: 							absolute;
	left: 								0px;
	top: 								0px;
	width: 								100%;
	height: 							48px;
	z-index: 							10500;
	box-shadow: 						0 2px 2px rgba(0, 0, 0, 0.3);
	background-color: 					DodgerBlue;
}
#main .header .menu {
	position: 							absolute;
	left: 								0px;
	top: 								0px;
	width: 								100%;
	height: 							48px;
}
#main .header .menu li {
	list-style-type: 					none;
}
#main .header .menu li.active-project {
	float: 								right;
	margin: 							0 8px 0 8px;
}
#main .header .menu li.menu-item {
	float: 								left;
	position: 							relative;
	height: 							48px;
	margin: 							0 8px 0 8px;
}
#main .header .menu li.menu-item .menu-item-title,
#main .header .menu li.active-project span {
	float: 								left;
	color: 								White;
	font-family:						'Roboto', sans-serif;
	font-weight: 						300;
	line-height: 						48px;
	height: 							40px;
	cursor: 							pointer;
}
#main .header .menu li.active-project span {
	font-weight: 						400;
	font-style: 						italic;
}
#main .header .menu li.menu-item:hover .menu-item-title {
	border: 							4px solid White;
	border-width: 						0 0 4px 0;
}
#main .header .menu li.menu-item .dropdown {
	display: 							none;
	position: 							absolute;
	left: 								0px;
	top: 								44px;
	width: 								auto;
	height: 							auto;
}
#main .header .menu li.menu-item:hover .dropdown {
	display: 							block;
	background-color: 					White;
	border: 							1px solid LightSteelBlue;
}
#main .header .menu li.menu-item:hover .dropdown li {
	white-space: 						nowrap;
	font-family:						'Roboto', sans-serif;
	font-weight: 						300;
	color: 								Black;
	padding: 							8px 16px 8px 16px;
	list-style-type: 					none;
}
#main .header .menu li.menu-item:hover .dropdown li.separator,
#main .header .menu li.menu-item:hover .dropdown li.separator:hover {
	background-color: 					LightSteelBlue;
	cursor: 							default;
	margin: 							8px 0 8px 0;
	padding: 							0;
	height: 							1px;
}
#main .header .menu li.menu-item:hover .dropdown li:hover {
	background-color: 					DodgerBlue;
	color: 								White;
	cursor: 							pointer;
}

/* Files */
.dotted {
	background-image: 					-webkit-repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
	background-image: 					-moz-repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
	background-image: 					-ms-repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
	background-image: 					repeating-radial-gradient(center center, Black, Black 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 			3px 3px;
	-moz-background-size: 				3px 3px;
	background-size: 					3px 3px;
}
#main .files {
	position: 							absolute;
	top: 								56px;
	left: 								0px;
	bottom: 							8px;
	list-style: 						none;
	padding: 							0 8px 0 8px;
	overflow: 							hidden;
	overflow-y: 						scroll;
}
#main .files .resizer {
	position: 							absolute;
	top: 								0;
	right: 								0;
	width: 								10px;
	bottom: 							0;
	z-index: 							10100;
	cursor: 							col-resize;
	opacity: 							0.1;
}
#main .files .resizer:hover {
	opacity: 							0.75;
}
#main .files .resizer.resizing {
	opacity: 							1;
}
#main .files ul {
	float: 								left;
	width: 								100%;
	z-index: 							0;
}
#main .files li {
	float: 								left;
	width: 								100%;
	line-height: 						32px;
	padding: 							0;
	font-family:						'Roboto', sans-serif;
	font-weight: 						300;
	margin: 							0;
	cursor: 							pointer;
	list-style-type: 					none;
}
#main .files li div {
	position: 							relative;
	float: 								left;
	width: 								100%;
	color: 								Black;
}
#main .files li span {
	float: 								left;
}
#main .files li .icon {
	float: 								left;
	display: 							block;
	pointer-events: 					none;
	width: 								24px;
	height: 							32px;
	line-height: 						32px;
	font-size:							18px;
	text-align: 						center;
	margin: 							0 8px 0 0;
	color: 								Black;
}
#main .files li div.active:hover .icon {
	display: 							block;
	color: 								White;
}
#main .files li div.active {
	z-index: 							10000;
}
#main .files li div.active .icon {
	color: 								White;
}

#main .files li .icon-close,
#main .files li .icon-pen {
	display: 							none;
	float: 								right;
	width: 								32px;
}
#main .files li div.changed,
#main .files li div.active.changed {
	font-style: 						italic;
}
#main .files li div:hover {
	background-color: 					LightBlue;
	color: 								White;
}
#main .files li div:hover .icon,
#main .files li div:hover span {
	color: 								White;
}
#main .files li div:hover div {
	background-color: 					transparent;
}
#main .files li div.active {
	background-color: 					DodgerBlue;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
}
#main .files li div.active span,
#main .files li div.active .icon-project,
#main .files li div.active .icon-file,
#main .files li div.active .icon-image-file,
#main .files li div.active .icon-brackets,
#main .files li div.active .icon-folder {
	color: 								White;
}

/* Editor */
#main .editor {
	position: 							absolute;
	right: 								196px;
	top: 								56px;
	bottom: 							8px;
}
#main .editor.small {
	right: 								376px;
}
#main .editor.show-console,
#main .editor.small.show-console {
	bottom: 							168px;
}
#main .editor #codeHint {
	position: 							absolute;
	z-index: 							9999;
	border: 							1px solid Black;
	background-color: 					#FFFFF0;
	font-family:						'Roboto', sans-serif;
	font-weight:						300;
	font-size:							13px;
	padding: 							3px;
	box-shadow: 						0px 2px 5px rgba(0, 0, 0, 0.1),
										-0px 2px 5px rgba(0, 0, 0, 0.1),
										-2px -0px 5px rgba(0, 0, 0, 0.1),
										2px -0px 5px rgba(0, 0, 0, 0.1);
}
#main .editor #codeHint .code-hint-title {
}
#main .editor #codeHint .code-hint-title strong {
	font-weight: 						400;
}
#main .editor #codeHint .code-hint-title span {
	padding-right: 						6px;
	font-style: 						italic;
}
#main .editor #codeHint .code-hint-position {
	font-size: 							11px;
	white-space: 						nowrap;
}
/* Console */
#main .console {
	position: 							absolute;
	right: 								196px;
	height: 							152px;
	bottom: 							8px;
	background-color: 					White;
	display: 							none;
}
#main .console.visible {
	display: 							block;
}
#main .console.visible.small {
	right: 								376px;
}
#main .console .tabs {
	position: 							absolute;
	top: 								0px;
	left: 								0px;
	width: 								100%;
	bottom: 							0px;
	margin: 							0;
}
#main .console .tabs ul {
	padding-left: 						8px;
	height: 							40px;
}
#main .console .tabs .tab-content,
#main .console .tabs .tabs-content {
	position: 							absolute;
	top: 								40px;
	left: 								0px;
	width: 								100%;
	bottom: 							0px;
	margin: 							0;
}
#main .console .tabs .tab-content {
	top: 								0px;
	overflow: 							hidden;
	overflow-y: 						scroll;
}
#main .console .tabs .tabs-content .row {
	float: 								left;
	width: 								100%;
	padding: 							2px 16px 2px 8px;
	margin: 							0;
	font-family: 						monospace;
	font-size: 							13px;
	line-height: 						13px;
}
#main .console .tabs .tabs-content .row.error {
	background-color: 					#FFD0D0;
	cursor: 							pointer;
	border: 							1px dotted LightBlue;
	border-width: 						0 0 1px 0;
}
#main .console .tabs .tabs-content .row.log {
	cursor: 							pointer;
	border: 							1px dotted LightBlue;
	border-width: 						0 0 1px 0;
}
#main .console .tabs .tabs-content .row.log .message,
#main .console .tabs .tabs-content .row.error .message {
	float: 								left;
}
#main .console .tabs .tabs-content .row.log .location,
#main .console .tabs .tabs-content .row.error .location {
	float: 								right;
}

#main .console .tabs .tabs-content .row.var {
	cursor: 							pointer;
	border: 							1px dotted LightBlue;
	border-width: 						0 0 1px 0;
}
#main .console .tabs .tabs-content .row.var .offset {
	float: 								left;
	min-width: 							60px;
	text-align: 						left;
}
#main .console .tabs .tabs-content .row.var .name {
	float: 								left;
	margin-left:						8px;
}

#main .console .tabs-titles {
	padding: 0;
}
#main .console .tabs li {
	height: 							32px;
	line-height: 						32px;
	padding: 0;
}
#main .console .tabs li.tool {
	float: 								right;
	list-style-type: 					none;
	margin: 							0 8px 0 0;
	padding: 							0;
	height: 							40px;
	line-height: 						40px;
	font-size: 							20px;
	opacity: 							0.57;
	cursor: 							pointer;
}
#main .console .tabs li.tool:hover {
	opacity: 							0.87;
}

/* Output */
#main .output {
	position: 							absolute;
	width: 								196px;
	right: 								0px;
	top: 								48px;
	bottom: 							0px;
	font-family:						'Roboto', sans-serif;
	font-weight:						300;
	font-size:							16px;
}
#main .output.large {
	width: 								376px;
}
#main .output .io-wrapper {
	float: 								left;
	width: 								100%;
	height: 							calc(100% - 192px);
	margin-top: 						8px;
	overflow: 							scroll;
	overflow-x:							hidden;
}
#main .output.large .io-wrapper {
	height: 							calc(100% - 320px);
}

/* Sensor/motor status */
#main .output .status {
	width: 								110px;
	padding: 							0;
}
#main .output .status-row {
	width: 								100%;
	font-size:							11px;
}
#main .output .status-name,
#main .output .status-value {
	width: 								50%;
	opacity: 							0.57;
}

/* Motor */
#main .output .motor-container {
	float: 								left;
	width: 								196px;
}
#main .output.large .motor-container {
	width: 								180px;
}
#main .output .motor-container .motor {
	float: 								left;
	width: 								178px;
	background-color: 					White;
	margin: 							0px 8px 8px 8px;
	padding: 							8px;
}
#main .output.large .motor-container .motor {
	width: 								174px;
}
#main .output .motor-container .motor .status-canvas {
	float: 								left;
	margin: 							0 8px 0 0;
}
#main .output .motor-container .motor span,
#main .output .motor-container .motor div {
	float: 								left;
}
#main .output .motor-container .motor .title {
	margin: 							0 0 4px 0;
	opacity: 							0.87;
}

/* Sensor */
#main .output .sensor-container {
	float: 								left;
	width: 								196px;
}
#main .output.large .sensor-container {
	width: 								188px;
}
#main .output .sensor-container .sensor {
	float: 								left;
	width: 								178px;
	background-color: 					White;
	margin: 							0px 8px 8px 8px;
	padding: 							8px;
}
#main .output.large .sensor-container .sensor {
	width: 								174px;
}
#main .output .sensor-container div.motor:last-child,
#main .output .sensor-container div.sensor:last-child {
	margin: 							8px;
}
#main .output .sensor-container .sensor .title {
	margin: 							0 0 4px 0;
	opacity: 							0.87;
}
#main .output .sensor-container .sensor img {
	float: 								left;
	width: 								36px;
	height: 							36px;
	margin-right: 						4px;
}
#main .output .sensor-container .sensor span,
#main .output .sensor-container .sensor div {
	float: 								left;
}

/* Screen */
#main .output .ev3-screen {
	float: 								left;
	width: 								178px;
	height: 							auto;
	margin: 							8px 8px 0 8px;
}
#main .output.large .ev3-screen {
	float: left;
	width: 								356px;
	height: 							auto;
}
#main .output .ev3-screen canvas {
	float:								left;
	background-color: 					DarkGray;
	width: 								178px;
	height: 							128px;
	font-family: 						'Inconsolata';
}
#main .output.large .ev3-screen canvas {
	width: 								356px;
	height: 							256px;
}
#main .output .ev3-screen .control-panel {
	float: 								left;
	width: 								100%;
	height: 							40px;
	background-color: 					DodgerBlue;
}

#main .output .ev3-screen .control-panel .icon {
	float: 								left;
	cursor: 							pointer;
	color: 								White;
	font-size: 							32px;
	line-height: 						40px;
	height: 							36px;
	margin-top: 						4px;
}
#main .output .ev3-screen .control-panel .icon.icon-circle-play {
	margin-left: 						8px;
}
#main .output .ev3-screen .control-panel .icon.icon-comment,
#main .output .ev3-screen .control-panel .icon.icon-area {
	float: 								right;
	font-size: 							24px;
	margin-right: 						8px;
}

/* Dialogs */
.dialog-background {
	position: 							absolute;
	left: 								0px;
	top: 								0;
	width: 								100%;
	height: 							100%;
	z-index: 							10900;
	background-color: 					rgba(0, 0, 0, 0.15);
	display: 							none;
}
.dialog-background.visible {
	display: 							block;
}
.dialog {
	font-family:						'Roboto', sans-serif;
	font-weight: 						300;
	position: 							absolute;
	left: 								0px;
	top: 								50%;
	width: 								100%;
	height: 							200px;
	margin: 							-100px 0 0 0;
	z-index: 							11000;
}
.dialog-vertical {
	position: 							relative;
	margin: 							0 auto 0 auto;
	background-color: 					White;
	box-shadow: 						0px 2px 5px rgba(0, 0, 0, 0.1),
										-0px 2px 5px rgba(0, 0, 0, 0.1),
										-2px -0px 5px rgba(0, 0, 0, 0.1),
										2px -0px 5px rgba(0, 0, 0, 0.1);
}
.dialog-vertical .dialog-content {
	position: 							absolute;
	left: 								0px;
	top: 								48px;
	right: 								0px;
	bottom: 							48px;
	padding: 							16px;
}
.dialog-vertical .buttons {
	position: 							absolute;
	left: 								0px;
	bottom: 							0px;
	width: 								100%;
}
.dialog-vertical .buttons .button {
	float: 								right;
	margin: 							16px 16px 16px 0;
	background-color: 					DodgerBlue;
	border: 							0;
	padding: 							4px 16px 4px 16px;
	color: 								White;
	font-size: 							16px;
	font-weight: 						300;
	line-height: 						16px;
	cursor: 							pointer;
	box-shadow: 						0px 2px 5px rgba(0, 0, 0, 0.1),
										-0px 2px 5px rgba(0, 0, 0, 0.1),
										-2px -0px 5px rgba(0, 0, 0, 0.1),
										2px -0px 5px rgba(0, 0, 0, 0.1);
}
.dialog-vertical .dialog-header {
	position: 							absolute;
	left: 								0px;
	top: 								0px;
	width: 								100%;
	height: 							48px;
	background-color: 					DodgerBlue;
}
.dialog-vertical .dialog-header h4 {
	position: 							absolute;
	left: 								0px;
	top: 								16px;
	width: 								100%;
	text-align: 						center;
	opacity: 							0.87;
	color: 								White;
}
.dialog-vertical .dialog-header .close-button {
	position: 							absolute;
	right: 								16px;
	top: 								16px;
	text-align: 						center;
	opacity: 							1;
	font-size: 							20px;
	line-height: 						20px;
	cursor: 							pointer;
	color: 								White;
}
.dialog-vertical .icon {
	float: 								left;
	width: 								80px;
	height: 							80px;
	font-size: 							52px;
	line-height: 						72px;
	text-align: 						center;
	border-radius: 						40px;
	border: 							4px solid DodgerBlue;
	background-color: 					#E8E8E8;
	color: 								#B0B0B0;
}
.dialog-vertical .icon:before {
	line-height: 						72px;
}

/* Alert dialog */
.dialog.alert {
	height: 							200px;
	margin: 							-100px 0 0 0;
}
.dialog.alert .dialog-vertical {
	width: 								500px;
	height: 							200px;
}
.dialog.alert .alert-content {
	float: 								right;
	width: 								calc(100% - 96px);
	opacity: 							0.57;
	text-align: 						center;
}

/* New dialog */
.dialog.new {
	height: 							300px;
	margin: 							-150px 0 0 0;
}
.dialog.new .dialog-vertical {
	width: 								500px;
	height: 							300px;
}
.dialog.new .new-content {
	float: 								right;
	width: 								calc(100% - 96px);
}
.dialog.new .new-content ul,
.dialog.new .new-content li {
	float: 								left;
	list-style-type: 					none;
	width: 								100%;
}
.dialog.new .new-content li {
	padding: 							8px;
	cursor: 							pointer;
	opacity: 							0.37;
}
.dialog.new .new-content li:hover {
	background-color: 					rgba(0, 0, 0, 0.05);
	opacity: 							1;
}
.dialog.new .new-content .icon {
	float: 								left;
	width: 								40px;
	height: 							40px;
	color: 								Black;
	border: 							0;
	border-radius: 						0;
	background-color: 					transparent;
	font-size: 							30px;
	text-align: 						center;
	line-height: 						32px;
}
.dialog.new .new-content .icon:before {
	line-height: 						32px;
}

/* Prompt dialog */
.dialog.prompt {
	height: 							240px;
	margin: 							-120px 0 0 0;
}
.dialog.prompt .dialog-vertical {
	width: 								500px;
	height: 							240px;
}
.dialog.prompt .prompt-content {
	float: 								left;
	width: 								calc(100% - 96px);
	opacity: 							0.57;
	text-align: 						left;
	margin-left: 						16px;
}
.dialog.prompt input {
	float: 								left;
	border: 							2px solid Black;
	border-width: 						0 0 1px 0;
	width: 								calc(100% - 100px);
	font-size: 							16px;
	margin: 							16px 0 0 16px;
	opacity: 							0.87;
}

/* Motors dialog */
.dialog.motors {
	height: 							440px;
	margin: 							-220px 0 0 0;
}
.dialog.motors .dialog-vertical {
	width: 								500px;
	height: 							440px;
}
.dialog.motors .motors-content {
	float: 								right;
}
.dialog.motors .motors-content .half,
.dialog.motors .motors-content .third {
	float: 								left;
}
.dialog.motors .motors-content .row {
	float: 								left;
	width: 								100%;
	margin-bottom: 						8px;
}
.dialog.motors .motors-content .row .label {
	float: 								left;
	line-height: 						24px;
	margin-left: 						4px;
	opacity: 							0.57;
}
.dialog.motors .motors-content .row .checkbox {
	float: 								left;
}

/* Sensors dialog */
.dialog.sensors {
	height: 							370px;
	margin: 							-185px 0 0 0;
}
.dialog.sensors .dialog-vertical {
	width: 								500px;
	height: 							370px;
}
.dialog.sensors .sensors-content {
	float: 								right;
	width: 								calc(100% - 96px);
}
.dialog.sensors .sensors-content .row {
	float: 								left;
	width: 								100%;
	margin-bottom: 						8px;
}
.dialog.sensors .sensors-content .row .label {
	float: 								left;
	line-height: 						24px;
	margin: 							2px 8px 0 16px;
	opacity: 							0.57;
}
.dialog.sensors .sensors-content .row .checkbox {
	float: 								left;
	margin-top: 						2px;
}
.dialog.sensors .sensors-content .row .sensor-type {
	float: 								left;
	width: 								32px;
}
.dialog.sensors .sensors-content .row .sensor-type img {
	float: 								left;
	width: 								32px;
}
.dialog.sensors .sensors-content .row .sensor-type .checkbox {
	float: 								none;
	margin: 							32px 0 0 6px;
}

/* Examples dialog */
.dialog.examples {
	height: 							400px;
	margin: 							-200px 0 0 0;
}
.dialog.examples .dialog-vertical {
	width: 								600px;
	height: 							400px;
}
.dialog.examples .examples-content {
	float: 								right;
	width: 								calc(100% - 96px);
	opacity: 							0.57;
}
.dialog.examples .examples-content h3 {
	float: 								left;
	margin: 							0 0 8px 0;
}
.dialog.examples .examples-content ul,
.dialog.examples .examples-content li {
	float: 								left;
	width: 								100%;
}
.dialog.examples .examples-content ul {
	margin: 							0 0 8px 16px;
}
.dialog.examples .examples-content .example-title {
	float: 								left;
}
.dialog.examples .examples-content .example-title:hover {
	text-decoration: 					underline;
	cursor: 							pointer;
}
.dialog.examples .examples-content .half {
	float: 								left;
}

/* Checkbox */
.checkbox {
	position: 							relative;
	width: 								24px;
	height: 							24px;
	cursor: 							pointer;
}
.checkbox.slider {
	position: 							relative;
	width: 								48px;
	height: 							24px;
	cursor: 							pointer;
}
.checkbox .checkbox-track {
	display: 							none;
}
.checkbox.slider .checkbox-track {
	display: 							block;
	position: 							absolute;
	width: 								32px;
	height: 							8px;
	left: 								8px;
	top: 								8px;
	border-radius: 						4px;
	background-color: 					LightBlue;
	pointer-events: 					none;
}
.checkbox.slider .checkbox-value {
	position: 							absolute;
	left: 								2px;
	top: 								2px;
	width: 								20px;
	height: 							20px;
	border-radius: 						12px;
	border: 							1px solid LightBlue;
	background-color: 					#B0B0B0;
	pointer-events: 					none;
	transition: 						left 0.3s, background-color 0.3s;
}
.checkbox .checkbox-value {
	position: 							absolute;
	left: 								2px;
	top: 								2px;
	width: 								20px;
	height: 							20px;
	pointer-events: 					none;
}
.checkbox.slider.checked .checkbox-value {
	left: 								26px;
	background-color: 					DodgerBlue;
	color: 								White;
	font-size: 							16px;
	line-height: 						18px;
	text-align: 						center;
}
.checkbox .checkbox-value,
.checkbox.checked .checkbox-value {
	font-size: 							16px;
	line-height: 						18px;
	text-align: 						center;
}

/* Tabs */
.tabs {
	float: 								left;
	width: 								370px;
	margin-left: 						16px;
}
.tabs ul.tabs-titles {
	float: 								left;
	padding: 							8px 8px 8px 0;
	border: 							1px dotted LightBlue;
	border-width: 						0 0 1px 0;
	width: 								100%;
	margin-bottom: 						8px;
}
.tabs ul.tabs-titles li.tab {
	float: 								left;
	list-style-type: 					none;
	margin: 							0;
	padding: 							4px 0 4px 0;
	margin: 							0 16px 0 0;
	cursor: 							pointer;
	opacity: 							0.57;
	font-family:						'Roboto', sans-serif;
	font-weight: 						300;
}
.tabs ul.tabs-titles li.tab.active {
	border: 							4px solid Black;
	border-width: 						0 0 4px 0;
	opacity: 							0.87;
}
.tabs .tabs-content {
	float: 								left;
}
.tabs .tabs-content .tab-content {
	display: 							none;
}
.tabs .tabs-content .tab-content.active {
	display: 							block;
}

/* Icons */
@font-face {
	font-family: 						"icons";
	src: 								url("/fonts/icons.eot");
	src:								url("/fonts/icons.eot?#iefix") format("embedded-opentype"),
										url("/fonts/icons.woff") format("woff"),
										url("/fonts/icons.ttf") format("truetype"),
										url("/fonts/icons.svg#icons") format("svg");
	font-weight: 						normal;
	font-style: 						normal;
}

[data-icon]:before {
	font-family: 						"icons" !important;
	content: 							attr(data-icon);
	font-style: 						normal !important;
	font-weight: 						normal !important;
	font-variant: 						normal !important;
	text-transform: 					none !important;
	speak: 								none;
	line-height: 						1;
	-webkit-font-smoothing: 			antialiased;
	-moz-osx-font-smoothing: 			grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 						"icons" !important;
	font-style: 						normal !important;
	font-weight: 						normal !important;
	font-variant: 						normal !important;
	text-transform: 					none !important;
	speak:								none;
	line-height:						1;
	-webkit-font-smoothing: 			antialiased;
	-moz-osx-font-smoothing: 			grayscale;
}

.icon-circle-warning:before {
  content: "\61";
}
.icon-triangle-warning:before {
  content: "\62";
}
.icon-circle-down:before {
  content: "\63";
}
.icon-circle:before {
  content: "\64";
}
.icon-circle-check:before {
  content: "\65";
}
.icon-light:before {
  content: "\66";
}
.icon-curly:before {
  content: "\67";
}
.icon-square-bracket:before {
  content: "\68";
}
.icon-bracket:before {
  content: "\69";
}
.icon-comment-close:before {
  content: "\6a";
}
.icon-comment:before {
  content: "\6b";
}
.icon-area:before {
  content: "\6c";
}
.icon-file:before {
  content: "\6d";
}
.icon-folder:before {
  content: "\6e";
}
.icon-folders:before {
  content: "\6f";
}
.icon-project:before {
  content: "\70";
}
.icon-step-into:before {
  content: "\71";
}
.icon-step-out:before {
  content: "\72";
}
.icon-step-over:before {
  content: "\73";
}
.icon-circle-pause:before {
  content: "\74";
}
.icon-circle-play:before {
  content: "\75";
}
.icon-sensor:before {
  content: "\76";
}
.icon-settings:before {
  content: "\77";
}
.icon-check:before {
  content: "\78";
}
.icon-close:before {
  content: "\79";
}
.icon-circle-info:before {
  content: "\7a";
}
.icon-circle-minus:before {
  content: "\41";
}
.icon-cirle-plus:before {
  content: "\42";
}
.icon-pen:before {
  content: "\43";
}
.icon-image-file:before {
  content: "\44";
}