/* Icons */
@font-face {
    font-family:                        "icons";
    src:                                url("/fonts/icons1.eot");
    src:                                url("/fonts/icons1.eot?#iefix") format("embedded-opentype"),
                                        url("/fonts/icons1.woff") format("woff"),
                                        url("/fonts/icons1.ttf") format("truetype"),
                                        url("/fonts/icons1.svg#icons") format("svg");
    font-weight:                        normal;
    font-style:                         normal;
}

[data-icon]:before {
    font-family:                        "icons" !important;
    content:                            attr(data-icon);
    font-style:                         normal !important;
    font-weight:                        normal !important;
    font-variant:                       normal !important;
    text-transform:                     none !important;
    speak:                              none;
    line-height:                        1;
    -webkit-font-smoothing:             antialiased;
    -moz-osx-font-smoothing:            grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family:                        "icons" !important;
    font-style:                         normal !important;
    font-weight:                        normal !important;
    font-variant:                       normal !important;
    text-transform:                     none !important;
    speak:                              none;
    line-height:                        1;
    -webkit-font-smoothing:             antialiased;
    -moz-osx-font-smoothing:            grayscale;
}

.icon-circle-warning:before {
  content: "\61";
}
.icon-triangle-warning:before {
  content: "\62";
}
.icon-circle-down:before {
  content: "\63";
}
.icon-circle:before {
  content: "\64";
}
.icon-circle-check:before {
  content: "\65";
}
.icon-light:before {
  content: "\66";
}
.icon-curly:before {
  content: "\67";
}
.icon-square-bracket:before {
  content: "\68";
}
.icon-bracket:before {
  content: "\69";
}
.icon-comment-close:before {
  content: "\6a";
}
.icon-comment:before {
  content: "\6b";
}
.icon-area:before {
  content: "\6c";
}
.icon-file:before {
  content: "\6d";
}
.icon-folder:before {
  content: "\6e";
}
.icon-folders:before {
  content: "\6f";
}
.icon-project:before {
  content: "\70";
}
.icon-step-into:before {
  content: "\71";
}
.icon-step-out:before {
  content: "\72";
}
.icon-step-over:before {
  content: "\73";
}
.icon-circle-pause:before {
  content: "\74";
}
.icon-circle-play:before {
  content: "\75";
}
.icon-sensor:before {
  content: "\76";
}
.icon-settings:before {
  content: "\77";
}
.icon-check:before {
  content: "\78";
}
.icon-close:before {
  content: "\79";
}
.icon-circle-info:before {
  content: "\7a";
}
.icon-circle-minus:before {
  content: "\41";
}
.icon-cirle-plus:before {
  content: "\42";
}
.icon-pen:before {
  content: "\43";
}
.icon-image-file:before {
  content: "\44";
}
.icon-chevron-down:before {
  content: "\45";
}
.icon-chevron-left:before {
  content: "\46";
}
.icon-chevron-right:before {
  content: "\47";
}
.icon-chevron-up:before {
  content: "\48";
}
.icon-comment-alert:before {
  content: "\49";
}
.icon-smaller:before {
  content: "\4a";
}
.icon-larger:before {
  content: "\4b";
}
.icon-comment-help:before {
  content: "\4c";
}
