html,
body {
	margin: 							0;
	padding: 							0;
	width: 								100%;
	height: 							100%;
}
body {
	position: 							relative;
	background-color: 					#F8F8F8;
	color: 								#212121;
	font-size: 							16px;
}
div,
span,
h1,
h2,
h3,
h4,
ul,
li {
	margin: 							0;
	padding: 							0;
	box-sizing: 						border-box;
	color: 								#212121;
}
#container {
	float: 								left;
	position: 							relative;
	width: 								100%;
	height: 							100%;
}
#main {
	position:  							relative;
	width: 								100%;
	height: 							100%;
}

h1,
h2,
h3,
h4 {
	font-family:						'Roboto', sans-serif;
	font-size: 							20px;
}

.half {
	width: 								50%;
}

/* Header */
#main .header {
	position: 							absolute;
	left: 								0px;
	top: 								0px;
	width: 								100%;
	height: 							48px;
	z-index: 							500;
	box-shadow: 						0 2px 2px rgba(0, 0, 0, 0.3);
	/* 4285f4 - 1a0dab */
	background-color: 					#4387fd;
}
#main .header .menu {
	position: 							absolute;
	left: 								0px;
	top: 								0px;
	width: 								calc(100% - 196);
	height: 							48px;
}
#main .header .menu li.menu-item {
	float: 								left;
	position: 							relative;
	height: 							48px;
	margin: 							0 8px 0 8px;
	list-style-type: 					none;
	/*border: 							4px solid transparent;
	border-width: 						0 0 4px 0;*/
}
#main .header .menu li.menu-item .menu-item-title {
	float: 								left;
	color: 								#FFFFFF;
	font-family:						'Roboto', sans-serif;
	line-height: 						48px;
	height: 							40px;
	cursor: 							pointer;
}
#main .header .menu li.menu-item:hover .menu-item-title {
	border: 							4px solid #FFFFFF;
	border-width: 						0 0 4px 0;
}
#main .header .menu li.menu-item .dropdown {
	display: 							none;
	position: 							absolute;
	left: 								0px;
	top: 								44px;
	width: 								auto;
	height: 							auto;
}
#main .header .menu li.menu-item:hover .dropdown {
	display: 							block;
	background-color: 					#FFFFFF;
	border: 							1px solid #B6B6B6;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
}
#main .header .menu li.menu-item:hover .dropdown li {
	white-space: 						nowrap;
	font-family:						'Roboto', sans-serif;
	color: 								#000000;
	padding: 							8px 16px 8px 16px;
	list-style-type: 					none;
}
#main .header .menu li.menu-item:hover .dropdown li:hover {
	background-color: 					#4387fd;
	color: 								#FFFFFF;
	cursor: 							pointer;
}

/* Files */
#main .files {
	position: 							absolute;
	width: 								360px;
	top: 								48px;
	left: 								0px;
	bottom: 							0px;
	list-style: 						none;
	padding: 8px;
}
#main .files ul {
	float: 								left;
	width: 								100%;
}
#main .files li {
	float: 								left;
	width: 								100%;
	line-height: 						32px;
	padding: 							0;
	font-family:						'Roboto', sans-serif;
	margin: 							0;
	cursor: 							pointer;
	list-style-type: 					none;
}
#main .files li div {
	float: 								left;
	width: 								100%;
	color: 								#727272;
}
#main .files li span {
	float: 								left;
}
#main .files li .mdi {
	display: 							none;
	width: 								32px;
	line-height: 						32px;
}
#main .files li .mdi.mdi-close,
#main .files li .mdi.mdi-pencil {
	float: 								right;
}
#main .files li .mdi.mdi-folder-outline,
#main .files li .mdi.mdi-file-outline {
	float: 								left;
	display: 							block;
	pointer-events: 					none;
}
#main .files li div .mdi {
	font-size:							20px;
}
#main .files li div.changed,
#main .files li div.active.changed {
	font-style: 						italic;
}
#main .files li div.active:hover .mdi {
	display: 							block;
}
#main .files li div:hover {
	background-color: 					rgba(0, 0, 0, 0.05);
}
#main .files li div:hover div {
	background-color: 					transparent;
}
#main .files li div.active {
	background-color: 					#4387fd;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
}
#main .files li div.active span,
#main .files li div.active .mdi {
	color: 								#FFFFFF;
}

/* Editor */
#main .editor {
	position: 							absolute;
	left: 								360px;
	right: 								196px;
	top: 								56px;
	bottom: 							8px;
	border: 							1px solid #B6B6B6;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
}
#main .editor.small {
	right: 								376px;
}

/* Output */
#main .output {
	position: 							absolute;
	width: 								196px;
	right: 								0px;
	top: 								48px;
	bottom: 							0px;
	font-family:						'Roboto', sans-serif;
	font-weight:						300;
	font-size:							15px;
}
#main .output.large {
	width: 								376px;
}
#main .output .io-wrapper {
	float: 								left;
	width: 								100%;
	height: 							calc(100% - 176px);
	overflow: 							scroll;
	overflow-x:							hidden;
}
#main .output.large .io-wrapper {
	height: 							calc(100% - 304px);
}

/* Sensor/motor status */
#main .output .status {
	width: 								110px;
	padding: 							0;
}
#main .output .status-row {
	width: 								100%;
	font-size:							11px;
}
#main .output .status-name,
#main .output .status-value {
	width: 								50%;
	opacity: 							0.57;
}

/* Motor */
#main .output .motor-container {
	float: 								left;
	width: 								196px;
}
#main .output.large .motor-container {
	width: 								180px;
}
#main .output .motor-container .motor {
	float: 								left;
	width: 								178px;
	background-color: 					#FFFFFF;
	margin: 							8px 8px 0 8px;
	padding: 							8px;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
	border: 							1px solid #E0E0E0;
}
#main .output.large .motor-container .motor {
	width: 								174px;
}
#main .output .motor-container .motor .status-canvas {
	float: 								left;
	margin: 							0 8px 0 0;
}
#main .output .motor-container .motor span,
#main .output .motor-container .motor div {
	float: 								left;
}
#main .output .motor-container .motor .title {
	margin: 							0 0 4px 0;
	opacity: 							0.87;
}

/* Sensor */
#main .output .sensor-container {
	float: 								left;
	width: 								196px;
}
#main .output.large .sensor-container {
	width: 								188px;
}
#main .output .sensor-container .sensor {
	float: 								left;
	width: 								178px;
	background-color: 					#FFFFFF;
	margin: 							8px 8px 0 8px;
	padding: 							8px;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
	border: 							1px solid #E0E0E0;
}
#main .output.large .sensor-container .sensor {
	width: 								174px;
}
#main .output .sensor-container div.motor:last-child,
#main .output .sensor-container div.sensor:last-child {
	margin: 							8px;
}
#main .output .sensor-container .sensor .title {
	margin: 							0 0 4px 0;
	opacity: 							0.87;
}
#main .output .sensor-container .sensor img {
	float: 								left;
	width: 								36px;
	height: 							36px;
	margin-right: 						4px;
}
#main .output .sensor-container .sensor span,
#main .output .sensor-container .sensor div {
	float: 								left;
}

/* Screen */
#main .output .ev3-screen {
	float: 								left;
	width: 								178px;
	height: 							auto;
	margin: 							8px 8px 0 8px;
}
#main .output.large .ev3-screen {
	float: left;
	width: 								356px;
	height: 							auto;
}
#main .output .ev3-screen canvas {
	float: left;
	background-color: 					#A0A0A0;
	width: 								178px;
	height: 							128px;
	font-family: 						'Inconsolata';
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
}
#main .output.large .ev3-screen canvas {
	width: 								356px;
	height: 							256px;
}
#main .output .ev3-screen .control-panel {
	float: 								left;
	width: 								100%;
	height: 							40px;
	background-color: 					#4387fd;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
}

#main .output .ev3-screen .control-panel .mdi {
	float: 								left;
	cursor: 							pointer;
	color: 								#FFFFFF;
	font-size: 							24px;
	line-height: 						40px;
}
#main .output .ev3-screen .control-panel .mdi.mdi-play {
	margin-left: 						8px;
}
#main .output .ev3-screen .control-panel .mdi.mdi-magnify {
	float: 								right;
	margin-right: 						8px;
}

/* Dialogs */
.dialog-background {
	position: 							absolute;
	left: 								0px;
	top: 								0;
	width: 								100%;
	height: 							100%;
	z-index: 							900;
	background-color: 					rgba(0, 0, 0, 0.15);
	display: 							none;
}
.dialog-background.visible {
	display: 							block;
}
.dialog {
	font-family:						'Roboto', sans-serif;
	position: 							absolute;
	left: 								0px;
	top: 								50%;
	width: 								100%;
	height: 							200px;
	margin: 							-100px 0 0 0;
	z-index: 							1000;
}
.dialog-vertical {
	position: 							relative;
	margin: 							0 auto 0 auto;
	background-color: 					#FFFFFF;
	border: 							1px solid #E0E0E0;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
}
.dialog-vertical .dialog-content {
	position: 							absolute;
	left: 								0px;
	top: 								48px;
	right: 								0px;
	bottom: 							48px;
	padding: 							16px;
}
.dialog-vertical .buttons {
	position: 							absolute;
	left: 								0px;
	bottom: 							0px;
	width: 								100%;
}
.dialog-vertical .buttons .button {
	float: 								right;
	margin: 							16px 16px 16px 0;
	/* 4285f4 - 1a0dab */
	background-color: 					#4387fd;
	border: 							0;
	padding: 							4px 16px 4px 16px;
	color: 								#FFFFFF;
	font-size: 							16px;
	font-weight: 						normal;
	line-height: 						16px;
	box-shadow: 						2px 2px 2px rgba(0, 0, 0, 0.3);
	cursor: 							pointer;
}
.dialog-vertical .dialog-header {
	position: 							absolute;
	left: 								0px;
	top: 								0px;
	width: 								100%;
	height: 							48px;
	border: 							1px dotted #E0E0E0;
	border-width: 						0 0 1px 0;
}
.dialog-vertical .dialog-header h4 {
	position: 							absolute;
	left: 								0px;
	top: 								16px;
	width: 								100%;
	text-align: 						center;
	opacity: 							0.87;
}
.dialog-vertical .dialog-header .close-button {
	position: 							absolute;
	right: 								16px;
	top: 								16px;
	text-align: 						center;
	opacity: 							0.37;
	font-size: 							20px;
	line-height: 						20px;
	cursor: 							pointer;
}
.dialog-vertical .icon {
	float: 								left;
	width: 								80px;
	height: 							80px;
	font-size: 							52px;
	line-height: 						80px;
	text-align: 						center;
	border-radius: 						40px;
	border: 							1px solid #E0E0E0;
	background-color: 					#E8E8E8;
	color: 								#B0B0B0;
}

/* Alert dialog */
.dialog.alert {
	height: 							200px;
	margin: 							-100px 0 0 0;
}
.dialog.alert .dialog-vertical {
	width: 								500px;
	height: 							200px;
}
.dialog.alert .alert-content {
	float: 								right;
	width: 								calc(100% - 96px);
	opacity: 							0.57;
	text-align: 						center;
}

/* Prompt dialog */
.dialog.prompt {
	height: 							240px;
	margin: 							-120px 0 0 0;
}
.dialog.prompt .dialog-vertical {
	width: 								500px;
	height: 							240px;
}
.dialog.prompt .prompt-content {
	float: 								left;
	width: 								calc(100% - 96px);
	opacity: 							0.57;
	text-align: 						left;
	margin-left: 						16px;
}
.dialog.prompt input {
	float: 								left;
	border: 							2px solid #000000;
	border-width: 						0 0 1px 0;
	width: 								calc(100% - 100px);
	font-size: 							16px;
	margin: 							16px 0 0 16px;
	opacity: 							0.87;
}

/* Motors dialog */
.dialog.motors {
	height: 							440px;
	margin: 							-220px 0 0 0;
}
.dialog.motors .dialog-vertical {
	width: 								500px;
	height: 							440px;
}
.dialog.motors .motors-content {
	float: 								right;
}
.dialog.motors .motors-content .half {
	float: 								left;
}
.dialog.motors .motors-content .row {
	float: 								left;
	width: 								100%;
	margin-bottom: 						8px;
}
.dialog.motors .motors-content .row .label {
	float: 								left;
	line-height: 						24px;
	margin-left: 						4px;
	opacity: 							0.57;
}
.dialog.motors .motors-content .row .checkbox {
	float: 								left;
}

/* Sensors dialog */
.dialog.sensors {
	height: 							370px;
	margin: 							-185px 0 0 0;
}
.dialog.sensors .dialog-vertical {
	width: 								500px;
	height: 							370px;
}
.dialog.sensors .sensors-content {
	float: 								right;
	width: 								calc(100% - 96px);
}
.dialog.sensors .sensors-content .row {
	float: 								left;
	width: 								100%;
	margin-bottom: 						8px;
}
.dialog.sensors .sensors-content .row .label {
	float: 								left;
	line-height: 						24px;
	margin: 							2px 8px 0 16px;
	opacity: 							0.57;
}
.dialog.sensors .sensors-content .row .checkbox {
	float: 								left;
	margin-top: 						2px;
}
.dialog.sensors .sensors-content .row .sensor-type {
	float: 								left;
	width: 								32px;
}
.dialog.sensors .sensors-content .row .sensor-type img {
	float: 								left;
	width: 								32px;
}
.dialog.sensors .sensors-content .row .sensor-type .checkbox {
	float: 								none;
	margin: 							32px 0 0 6px;
}

/* Examples dialog */
.dialog.examples {
	height: 							400px;
	margin: 							-200px 0 0 0;
}
.dialog.examples .dialog-vertical {
	width: 								600px;
	height: 							400px;
}
.dialog.examples .examples-content {
	float: 								right;
	width: 								calc(100% - 96px);
	opacity: 							0.57;
}
.dialog.examples .examples-content h3 {
	float: 								left;
	margin: 							0 0 8px 0;
}
.dialog.examples .examples-content ul,
.dialog.examples .examples-content li {
	float: 								left;
	width: 								100%;
}
.dialog.examples .examples-content ul {
	margin: 							0 0 8px 16px;
}
.dialog.examples .examples-content .example-title {
	float: 								left;
}
.dialog.examples .examples-content .example-title:hover {
	text-decoration: 					underline;
	cursor: 							pointer;
}

/* Checkbox */
.checkbox {
	position: 							relative;
	width: 								24px;
	height: 							24px;
	cursor: 							pointer;
}
.checkbox.slider {
	position: 							relative;
	width: 								48px;
	height: 							24px;
	cursor: 							pointer;
}
.checkbox .checkbox-track {
	display: 							none;
}
.checkbox.slider .checkbox-track {
	display: 							block;
	position: 							absolute;
	width: 								32px;
	height: 							8px;
	left: 								8px;
	top: 								8px;
	border-radius: 						4px;
	background-color: 					#E0E0E0;
	pointer-events: 					none;
}
.checkbox.slider .checkbox-value {
	position: 							absolute;
	left: 								2px;
	top: 								2px;
	width: 								20px;
	height: 							20px;
	border-radius: 						12px;
	border: 							1px solid #E0E0E0;
	background-color: 					#B0B0B0;
	pointer-events: 					none;
	transition: 						left 0.3s, background-color 0.3s;
}
.checkbox .checkbox-value {
	position: 							absolute;
	left: 								2px;
	top: 								2px;
	width: 								20px;
	height: 							20px;
	pointer-events: 					none;
}
.checkbox.slider.checked .checkbox-value {
	left: 								26px;
	background-color: 					#4387fd;
	color: 								#FFFFFF;
	font-size: 							16px;
	line-height: 						18px;
	text-align: 						center;
}
.checkbox .checkbox-value,
.checkbox.checked .checkbox-value {
	font-size: 							16px;
	line-height: 						18px;
	text-align: 						center;
}

/* Tabs */
.tabs {
	float: 								left;
	width: 								370px;
	margin-left: 						16px;
}
.tabs ul.tabs-titles {
	float: 								left;
	padding: 							8px 8px 8px 0;
	border: 							1px dotted #E0E0E0;
	border-width: 						0 0 1px 0;
	width: 								100%;
	margin-bottom: 						8px;
}
.tabs ul.tabs-titles li.tab {
	float: 								left;
	list-style-type: 					none;
	margin: 							0;
	padding: 							4px 0 4px 0;
	margin: 							0 16px 0 0;
	cursor: 							pointer;
	opacity: 							0.57;
}
.tabs ul.tabs-titles li.tab.active {
	border: 							4px solid #000000;
	border-width: 						0 0 4px 0;
	opacity: 							0.87;
}
.tabs .tabs-content {
	float: 								left;
}
.tabs .tabs-content .tab-content {
	display: 							none;
}
.tabs .tabs-content .tab-content.active {
	display: 							block;
}
