* {
    box-sizing:                         border-box;
}
h1,
h2,
h3,
h4,
h5 {
    float:                              left;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    padding:                            0;
    width:                              calc(100% - 22px);
}
div {
    float:                              left;
    width:                              calc(100% - 22px);
    padding:                            0 0 0 22px;
    cursor:                             default;
}
h1 {
    font-size:                          26px;
    width:                              100%;
}
h2 {
    font-size:                          22px;
    margin:                             48px 0 0 0;
}
h3 {
    font-size:                          19px;
    color:                              #7FB800;
    border:                             1px dotted #7FB800;
    border-width:                       0 0 1px 0;
    margin:                             32px 0 0 0;
}
h4,
h5 {
    font-size:                          16px;
    color:                              #7FB800;
    margin:                             16px 0 0 0;
}
span,
div,
p,
li,
a {
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        300;
    font-size:                          15px;
}
ul,
li {
    list-style-type:                    square;
    list-style-position:                inside;
    padding-left:                       16px;
}
a,
a:visited {
    color:                              #00A6ED;
    text-decoration:                    none;
}
a:hover {
    color:                              #00A6ED;
    text-decoration:                    underline;
}

pre {
    float:                              left;
    width:                              calc(100% - 64px);
    margin:                             8px 0 8px 32px;
    padding:                            8px 16px 8px 16px;
    border:                             1px solid DarkGray;
    border-radius:                      4px;
    font-size:                          13px;
    line-height:                        14px;
    background-color:                   WhiteSmoke;
    overflow:                           hidden;
    text-overflow:                      ellipsis;
    white-space:                        pre-wrap;
    white-space:                        -moz-pre-wrap;
    white-space:                        -pre-wrap;
    white-space:                        -o-pre-wrap;
    word-wrap:                          break-word;
}

p {
    float:                              left;
    width:                              calc(100% - 64px);
    margin:                             16px 0 8px 0;
    padding:                            0;
    line-height:                        18px;
    background-color:                   White;
}

.example {
    float:                              left;
    width:                              100%;
    color:                              #00A6ED;
    padding:                            0 0 0 32px;
    cursor:                             pointer;
}
.example:hover {
    text-decoration:                    underline;
}