html,
body {
    overflow:                           hidden;
    overflow-y:                         scroll;
}

* {
    box-sizing:                         border-box;
}
h1,
h2,
h3,
h4 {
    float:                              left;
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        400;
    padding:                            0;
    width:                              calc(100% - 22px);
}
div {
    float:                              left;
    width:                              calc(100% - 22px);
    padding:                            0 0 0 22px;
    cursor:                             default;
}
h1 {
    font-size:                          26px;
    width:                              100%;
}
h2 {
    font-size:                          22px;
    margin:                             48px 0 0 0;
}
h3 {
    font-size:                          19px;
    color:                              #7FB800;
    border:                             1px dotted #7FB800;
    border-width:                       0 0 1px 0;
    margin:                             32px 0 0 0;
}
h4 {
    font-size:                          16px;
    color:                              #7FB800;
    margin:                             16px 0 0 0;
}
span,
div,
p,
li,
a {
    font-family:                        'Roboto Condensed', sans-serif;
    font-weight:                        300;
    font-size:                          15px;
}
ul,
li {
    list-style-type:                    square;
    list-style-position:                inside;
    padding-left:                       16px;
}
a,
a:visited {
    color:                              #00A6ED;
    text-decoration:                    none;
}
a:hover {
    color:                              #00A6ED;
    text-decoration:                    underline;
}

pre {
    float:                              left;
    width:                              calc(100% - 64px);
    margin:                             8px 0 8px 32px;
    padding:                            8px 16px 8px 16px;
    border:                             1px solid DarkGray;
    border-radius:                      4px;
    line-height:                        16px;
    background-color:                   WhiteSmoke;
}
pre span {
    font-family:                        'Courier new';
    font-size:                          14px;
    margin:                             0;
    padding:                            0;
    line-height:                        16px;
}
pre span.line {
    float:                              left;
    width:                              100%;
}
pre span.line span.command {
    color:                              #F6511D;
    font-weight:                        bold;
}
pre span.line span.variable {
    color:                              #7FB800;
    font-weight:                        bold;
}
pre span.line span.value {
    color:                              #00A6ED;
    font-weight:                        bold;
}
pre span.line span.api {
    color:                              #00A6ED;
    font-weight:                        bold;
    font-style:                         italic;
}
