body.ide.no-properties div.properties {
    display:                        none;
}
.properties {
    position:                       absolute;
    right:                          0;
    top:                            40px;
    width:                          304px;
    height:                         calc(100% - 24px);
    background-color:               var(--ui-background1);
    border:                         var(--ui-border1);
    border-width:                   0 0 0 1px;
    z-index:                        1;
}
.properties .tabs {
    top:                            48px;
    z-index:                        100;
}
.properties .properties-options {
    float:                          left;
    width:                          100%;
    height:                         40px;
    margin:                         0;
    border:                         var(--ui-border1);
    border-width:                   0 0 1px 0;
    background-color:               var(--ui-background2);
}
.properties .properties-options .close-button {
    float:                          right;
    margin:                         8px 8px 0 0;
}
.properties .properties-options .dropdown {
    float:                          right;
    margin:                         8px 8px 0 0;
    width:                          calc(100% - 140px);
}
.properties .component-uid {
    position:                       absolute;
    left:                           0;
    top:                            calc(40px + 47px);
    width:                          100%;
    height:                         32px;
    line-height:                    32px;
    text-align:                     center;
    border:                         var(--ui-border1);
    border-width:                   1px 0 1px 0;
    color:                          var(--ui-text1);
    font-size:                      12px;
    font-family:                    monospace;
}
/* Properties, events */
.properties .properties-container,
.properties .events-container,
.properties .components-container {
    position:                       absolute;
    left:                           0;
    top:                            calc(40px + 47px + 32px);
    width:                          100%;
    height:                         calc(100% - 56px - 47px);
    overflow:                       hidden;
    overflow-y:                     scroll;
    display:                        none;
    z-index:                        50;
}
.properties .properties-container.visible {
    display:                        block;
}
.properties .events-container.visible {
    display:                        block;
}
.properties .components-container.visible {
    display:                        block;
}
.properties .properties-container .property-separator,
.properties .events-container .event-separator {
    position:                       absolute;
    top:                            0;
    border:                         var(--ui-border1);
    border-width:                   0 1px 0 0;
    border-style:                   dotted;
    width:                          50%;
    height:                         100%;
    pointer-events:                 none;
}
.properties .properties-container .property,
.properties .events-container .event {
    float:                          left;
    width:                          100%;
    border:                         var(--ui-border1);
    border-width:                   0 0 1px 0;
    border-style:                   dotted;
    cursor:                         pointer;
}
.properties .properties-container .property.focus,
.properties .events-container .event.focus {
    background-color:               var(--ui-background2);
}
.properties .properties-container .property .property-name,
.properties .properties-container .property .property-value,
.properties .events-container .event .event-name,
.properties .events-container .event .event-value {
    float:                          left;
    width:                          50%;
    height:                         28px;
    font-size:                      15px;
    line-height:                    28px;
    padding:                        0;
}
.properties .properties-container .property .property-name,
.properties .events-container .event .event-name {
    padding:                        0 0 0 8px;
    position:                       relative;
    -webkit-user-select:            none;
}
/* Text input */
.properties .properties-container .property .property-value .text-input {
    float:                          left;
    width:                          100%;
    height:                         28px;
    border:                         1px solid transparent;
    padding:                        0 0 0 8px;
    line-height:                    26px;
    outline:                        none;
    font-size:                      15px;
    background-color:               transparent;
}
.properties .properties-container .property .property-value .text-input:focus {
    border:                         var(--focus-border-dotted);
}
.properties .properties-container .property .property-value .text-input:focus.invalid,
.properties .properties-container .property .property-value .text-input.invalid {
    border:                         var(--text-input-invalid-border);
}
/* Icon select */
.properties .properties-container .property .property-value .icon-select,
.properties .properties-container .property .property-value .checkbox {
    float:                          left;
    position:                       relative;
}
.properties .properties-container .property .property-value a.icon-select img {
    position:                       relative;
    top:                            -2px;
}
.properties .properties-container .property .property-value a.icon-select {
    margin:                         1px 0 0 6px;
}
/* Boolean */
.properties .properties-container .property .property-value .checkbox {
    margin:                         3px 0 0 6px;
}
/* Boolean */
.properties .properties-container .property .property-value .dropdown {
    margin:                         2px 0 0 6px;
    width:                          calc(100% - 12px);
}
/* List */
.properties .properties-container .property .property-name.list-focus,
.properties .properties-container .property .property-value.list-focus {
    height:                         156px;
}
.properties .properties-container .property .property-value a.list-selected,
.properties .properties-container .property .property-value a.list-selected:visited {
    outline:                        none;
    float:                          left;
    width:                          100%;
    height:                         28px;
    padding:                        0 0 0 8px;
    text-decoration:                none;
    color:                          var(--ui-text1);
}
.properties .properties-container .property .property-value a.list-selected {
    width:                          calc(100% - 40px);
}
.properties .properties-container .property .property-name .list-content {
    display:                        none;
    position:                       absolute;
    width:                          303px;
    height:                         calc(100% - 28px);
    left:                           0px;
    top:                            28px;
}
.properties .properties-container .property .property-name.list-focus .list-content {
    display:                        block;
    background-color:               var(--ui-background2);
    border:                         var(--ui-border1);
    border-width:                   1px 0 0 0;
    border-style:                   dotted;
    overflow:                       hidden;
    overflow-y:                     scroll;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item {
    float:                          left;
    width:                          100%;
    height:                         28px;
    line-height:                    26px;
    font-size:                      15px;
    padding:                        0 0 0 8px;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item:hover {
    background-color:               var(--files-hover-background);
    color:                          var(--files-hover-color);
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item.active,
.properties .properties-container .property .property-name.list-focus .list-content .list-item.active:hover {
    background-color:               var(--files-selected-background);
    color:                          var(--files-hover-color);
}
.properties .properties-container .property a.list-item-button.add,
.properties .properties-container .property .property-name.list-focus .list-content .list-item a.list-item-button {
    float:                          right;
    width:                          24px;
    height:                         28px;
    text-align:                     center;
    color:                          inherit;
    text-decoration:                none;
    opacity:                        0.25;
}
.properties .properties-container .property a.list-item-button.add {
    font-weight:                    bold;
    font-size:                      20px;
}
.properties .properties-container .property .property-name.list-focus .list-content.remove-last .list-item a.list-item-button.delete {
    visibility:                     hidden;
}
.properties .properties-container .property .property-name.list-focus .list-content.remove-last .list-item:last-child a.list-item-button.delete {
    visibility:                     visible;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item:first-child a.list-item-button.up,
.properties .properties-container .property .property-name.list-focus .list-content .list-item:last-child a.list-item-button.down {
    visibility:                     hidden;
}
.properties .properties-container .property a.list-item-button.add,
.properties .properties-container .property .property-name.list-focus .list-content .list-item a.list-item-button.delete {
    margin-right:                   16px;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item.active a,
.properties .properties-container .property .property-name.list-focus .list-content .list-item:hover a {
    opacity:                        1;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item span.list-item-title {
    float:                          left;
    width:                          calc(100% - 90px);
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    white-space:                    nowrap;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item input[type="text"].list-item-input {
    float:                          left;
    width:                          calc(100% - 90px);
    outline:                        none;
    border:                         0;
    height:                         24px;
    line-height:                    24px;
    font-size:                      15px;
    margin:                         2px 0 0 0;
    display:                        none;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item.active input[type="text"].list-item-input {
    display:                        block;
}
.properties .properties-container .property .property-name.list-focus .list-content .list-item.active span.list-item-title {
    display:                        none;
}
/* Rgb */
.properties .properties-container .property .property-value.rgb {
    overflow:                       hidden;
}
.properties .properties-container .property .property-name.color-focus,
.properties .properties-container .property .property-value.color-focus {
    height:                         156px;
}
.properties .properties-container .property .property-value .color-row {
    float:                          left;
    width:                          100%;
    height:                         28px;
}
.properties .properties-container .property .property-value .color-row .color-label,
.properties .properties-container .property .property-value .color-row .color {
    float:                          left;
}
.properties .properties-container .property .property-value .color-row .color-label {
    width:                          44px;
    height:                         28px;
    line-height:                    28px;
}
.properties .properties-container .property .property-value .color-row .color-label.small {
    font-size:                      11px;
    padding:                        0 0 0 8px;
}
.properties .properties-container .property .property-value .color-row .color {
    width:                          20px;
    height:                         20px;
    border:                         var(--ui-border1);
    margin:                         4px 4px 0 4px;
    border-radius:                  2px;
}
.properties .properties-container .property .property-value .color-row .text-input {
    float:                          right;
    width:                          calc(100% - 80px);
    height:                         28px;
    border:                         1px solid transparent;
    padding:                        0 0 0 8px;
    line-height:                    26px;
    outline:                        none;
    font-size:                      15px;
    background-color:               transparent;
}
/* Events */
.properties .events-container .event .event-value .button {
    margin:                         2px 0 0 8px;
    width:                          28px;

}
.properties .events-container .event .event-value .current-value {
    float:                          right;
    width:                          calc(100% - 42px);
    height:                         100%;
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    direction:                      rtl;
    padding:                        0 8px 0 0;
}
/* Components */
.components-container .title,
.components-container .group {
    float:                          left;
    width:                          100%;
    padding:                        0 0 0 8px;
    margin:                         0 0 0 0;
}
.components-container .title {
    height:                         32px;
    line-height:                    32px;
    font-family:                    latolight;
    font-size:                      17px;
    color:                          var(--ui-text1);
    opacity:                        0.65;
}
input[type="button"].component-button:active,
input[type="button"].component-button:focus,
input[type="button"].component-button {
    float:                          left;
    width:                          48px;
    height:                         48px;
    border:                         2px solid transparent;
    border-radius:                  24px;
    background-repeat:              no-repeat;
    background-size:                44px 44px;
    background-position:            0 0;
    background-color:               transparent;
    margin:                         0 4px 4px 0;
    box-shadow:                     none;
    opacity:                        0.6;
    transition:                     opacity 0.3s, background-color 0.3s;
}
input[type="button"].active.component-button:focus,
input[type="button"].active.component-button {
    background-color:               var(--color-blue);
    opacity:                        1;
}
input[type="button"].component-button:hover {
    opacity:                        1;
}
input[type="button"].component-button:focus {
    background-color:               var(--color-blue);
}
input[type="button"].component-button.component-btn {
    background-image:               url('images/buttons/buttonBlack.svg');
}
input[type="button"].active.component-button.component-btn,
body.ide.dark input[type="button"].component-button.component-btn {
    background-image:               url('images/buttons/buttonWhite.svg');
}
input[type="button"].component-button.component-select-btn {
    background-image:               url('images/buttons/selectButtonBlack.svg');
}
input[type="button"].active.component-button.component-select-btn,
body.ide.dark input[type="button"].component-button.component-select-btn {
    background-image:               url('images/buttons/selectButtonWhite.svg');
}
input[type="button"].component-button.component-text-input {
    background-image:               url('images/buttons/textInputBlack.svg');
}
input[type="button"].active.component-button.component-text-input,
body.ide.dark input[type="button"].component-button.component-text-input {
    background-image:               url('images/buttons/textInputWhite.svg');
}
input[type="button"].component-button.component-status-light {
    background-image:               url('images/buttons/statusLightBlack.svg');
}
input[type="button"].active.component-button.component-status-light,
body.ide.dark input[type="button"].component-button.component-status-light {
    background-image:               url('images/buttons/statusLightWhite.svg');
}
input[type="button"].component-button.component-panel {
    background-image:               url('images/buttons/panelBlack.svg');
}
input[type="button"].active.component-button.component-panel,
body.ide.dark input[type="button"].component-button.component-panel {
    background-image:               url('images/buttons/panelWhite.svg');
}
input[type="button"].component-button.component-tabs {
    background-image:               url('images/buttons/tabsBlack.svg');
}
input[type="button"].active.component-button.component-tabs,
body.ide.dark input[type="button"].component-button.component-tabs {
    background-image:               url('images/buttons/tabsWhite.svg');
}
input[type="button"].component-button.component-slider {
    background-image:               url('images/buttons/sliderBlack.svg');
}
input[type="button"].active.component-button.component-slider,
body.ide.dark input[type="button"].component-button.component-slider {
    background-image:               url('images/buttons/sliderWhite.svg');
}
input[type="button"].component-button.component-label {
    background-image:               url('images/buttons/labelBlack.svg');
}
input[type="button"].active.component-button.component-label,
body.ide.dark input[type="button"].component-button.component-label {
    background-image:               url('images/buttons/labelWhite.svg');
}
input[type="button"].component-button.component-checkbox {
    background-image:               url('images/buttons/checkboxBlack.svg');
}
input[type="button"].active.component-button.component-checkbox,
body.ide.dark input[type="button"].component-button.component-checkbox {
    background-image:               url('images/buttons/checkboxWhite.svg');
}
input[type="button"].component-button.component-rectangle {
    background-image:               url('images/buttons/rectBlack.svg');
}
input[type="button"].active.component-button.component-rectangle,
body.ide.dark input[type="button"].component-button.component-rectangle {
    background-image:               url('images/buttons/rectWhite.svg');
}
input[type="button"].component-button.component-circle {
    background-image:               url('images/buttons/circleBlack.svg');
}
input[type="button"].active.component-button.component-circle,
body.ide.dark input[type="button"].component-button.component-circle {
    background-image:               url('images/buttons/circleWhite.svg');
}
input[type="button"].component-button.component-image {
    background-image:               url('images/buttons/imageBlack.svg');
}
input[type="button"].active.component-button.component-image,
body.ide.dark input[type="button"].component-button.component-image {
    background-image:               url('images/buttons/imageWhite.svg');
}
input[type="button"].component-button.component-pu-device {
    background-image:               url('images/buttons/puDeviceBlack.svg');
}
input[type="button"].active.component-button.component-pu-device,
body.ide.dark input[type="button"].component-button.component-pu-device {
    background-image:               url('images/buttons/puDeviceWhite.svg');
}
input[type="button"].component-button.component-ev3-sensor {
    background-image:               url('images/buttons/ev3SensorBlack.svg');
}
input[type="button"].active.component-button.component-ev3-sensor,
body.ide.dark input[type="button"].component-button.component-ev3-sensor {
    background-image:               url('images/buttons/ev3SensorWhite.svg');
}
input[type="button"].component-button.component-ev3-motor {
    background-image:               url('images/buttons/ev3MotorBlack.svg');
}
input[type="button"].active.component-button.component-ev3-motor,
body.ide.dark input[type="button"].component-button.component-ev3-motor {
    background-image:               url('images/buttons/ev3MotorWhite.svg');
}
input[type="button"].component-button.component-radio {
    background-image:               url('images/buttons/radioBlack.svg');
}
input[type="button"].active.component-button.component-radio,
body.ide.dark input[type="button"].component-button.component-radio {
    background-image:               url('images/buttons/radioWhite.svg');
}
input[type="button"].component-button.component-loading {
    background-image:               url('images/buttons/loadingBlack.svg');
}
input[type="button"].active.component-button.component-loading,
body.ide.dark input[type="button"].component-button.component-loading {
    background-image:               url('images/buttons/loadingWhite.svg');
}
input[type="button"].component-button.component-progress {
    background-image:               url('images/buttons/progressBlack.svg');
}
input[type="button"].active.component-button.component-progress,
body.ide.dark input[type="button"].component-button.component-progress {
    background-image:               url('images/buttons/progressWhite.svg');
}
