input[type="button"].button.green,
input[type="button"].icon-button.green {
    border:                         1px solid var(--color-green);
    color:                          var(--button-text-color);
    background-color:               var(--color-green);
}
input[type="button"].button.green:active,
input[type="button"].icon-button.green:active {
    border-color:                   var(--color-green-pressed);
    transform:                      translate(1px, 1px);
}
input[type="button"].button.green.focus:active,
input[type="button"].icon-button.green.focus:active {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--color-green-pressed);
}
input[type="button"].button.active.focus.green,
input[type="button"].icon-button.active.focus.green {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--color-green-active);
}
input[type="button"].button.active.green,
input[type="button"].icon-button.active.green {
    border-color:                   var(--color-green-active);
    background-color:               var(--color-green-active);
}
input[type="button"].button.in-active.green,
input[type="button"].icon-button.in-active.green {
    border-color:                   var(--color-green-in-active);
    background-color:               var(--color-green-in-active);
}

input[type="button"].button.blue,
input[type="button"].icon-button.blue {
    border:                         1px solid var(--color-blue);
    color:                          var(--button-text-color);
    background-color:               var(--color-blue);
}
input[type="button"].button.blue:active,
input[type="button"].icon-button.blue:active {
    border-color:                   var(--color-blue-pressed);
    transform:                      translate(1px, 1px);
}
input[type="button"].button.blue.focus:active,
input[type="button"].icon-button.blue.focus:active {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--color-blue-pressed);
}
input[type="button"].button.active.focus.blue,
input[type="button"].icon-button.active.focus.blue {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--color-blue-active);
}
input[type="button"].button.active.blue,
input[type="button"].icon-button.active.blue {
    border-color:                   var(--color-blue-active);
    background-color:               var(--color-blue-active);
}
input[type="button"].button.in-active.blue,
input[type="button"].icon-button.in-active.blue {
    border-color:                   var(--color-blue-in-active);
    background-color:               var(--color-blue-in-active);
}

input[type="button"].button.gray {
    border:                         var(--ui-border3);
    color:                          var(--ui-color2);
    background-color:               var(--ui-background4);
}
input[type="button"].button.gray:active {
    border-color:                   var(--ui-border2);
    transform:                      translate(1px, 1px);
}
input[type="button"].button.gray.focus:active, {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--ui-background4);
}
input[type="button"].button.active.focus.gray {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--ui-background4);
}
input[type="button"].button.active.gray {
    border-color:                   var(--ui-border2);
    background-color:               var(--ui-background4);
}
input[type="button"].button.in-active.gray {
    border-color:                   var(--ui-border2);
    background-color:               var(--ui-background4);
}

input[type="button"].button.dark-green {
    border:                         2px solid var(--color-green);
    color:                          var(--button-text-color);
    background-color:               var(--color-dark-green);
}
input[type="button"].button.dark-green:active {
    border-color:                   var(--color-dark-green-pressed);
    transform:                      translate(1px, 1px);
}
input[type="button"].button.dark-green.focus:active {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--color-dark-green-pressed);
}
input[type="button"].button.active.focus.dark-green {
    border-color:                   var(--focus-border-dotted);
    background-color:               var(--color-dark-green-active);
}
input[type="button"].button.active.dark-green {
    border-color:                   var(--color-dark-green-active);
    background-color:               var(--color-dark-green-active);
}
input[type="button"].button.in-active.dark-green {
    border-color:                   var(--color-dark-green-in-active);
    background-color:               var(--color-dark-green-in-active);
}

input[type="button"].button.disabled,
input[type="button"].icon-button.disabled {
    opacity:                        var(--button-disabled-opacity);
    cursor:                         default;
    pointer-events:                 none;
}

input[type="button"].button {
    float:                          left;
    position:                       relative;
    border-radius:                  3px;
    box-shadow:                     var(--button-shadow);
    transition:                     transform 0.1s, background-color 0.1s;
    position:                       relative;
    padding:                        0 8px 0 8px;
    font-family:                    open_sansregular, Helvetica, Arial, sans-serif;
    font-size:                      15px;
    text-transform:                 none;
    height:                         24px;
    line-height:                    22px;
    cursor:                         pointer;
    outline:                        none;
    border:                         0;
    -webkit-user-select:            none;
}
input[type="button"].button.focus {
    border:                         var(--focus-border-dotted);
}

/* Icon button */
input[type="button"].icon-button {
    float:                          left;
    width:                          24px;
    height:                         24px;
    border:                         0;
    border-radius:                  3px;
    box-shadow:                     var(--button-shadow);
    background-repeat:              no-repeat;
    /*background-position:            0 0;*/
    cursor:                         pointer;
    outline:                        none;
    transition:                     transform 0.1s, background-color 0.1s;
}
input[type="button"].icon-button.focus {
    border:                         var(--focus-border-dotted);
}
input[type="button"].icon-button.disabled {
    opacity:                        var(--button-disabled-opacity);
    cursor:                         default;
    pointer-events:                 none;
}
input[type="button"].icon-button.in-active {
    opacity:                        var(--button-in-active-opacity);
}

.icon-button.icon-undo {
    margin-left:                    8px;
}

.icon-button.icon-point {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M884 740.667q12-12 12-30t-12-30l-382-382-118 118 382 382q12 12 30 12t30-12zM298 340.667q52 0 90-38t38-90q0-70-50-120t-120-50q-104 0-170 86 30 0 57 23t27 61q0 52 38 90t90 38z" />    </g></svg>');
}
body.ide.dark .icon-button.icon-point {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="white" stroke="white" d="M884 740.667q12-12 12-30t-12-30l-382-382-118 118 382 382q12 12 30 12t30-12zM298 340.667q52 0 90-38t38-90q0-70-50-120t-120-50q-104 0-170 86 30 0 57 23t27 61q0 52 38 90t90 38z" />    </g></svg>');
}
.icon-button.icon-circle {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="6" fill="rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-circle {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="6" fill="white" /></svg>');
}
.icon-button.icon-rect {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-rect {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:white" /></svg>');
}
.icon-button.icon-line {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(0,0,0);stroke-width:1.5" /></svg>');
}
body.ide.dark .icon-button.icon-line {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(255,255,255);stroke-width:1.5" /></svg>');
}
.icon-button.icon-fill-white {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-fill-white {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" /></svg>');
}
.icon-button.icon-fill-black {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:rgb(0,0,0);stroke-width:1;stroke:rgb(255,255,255)" /></svg>');
}
body.ide.dark .icon-button.icon-fill-black {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:rgb(0,0,0);stroke-width:1;stroke:rgb(0,0,0)" /></svg>');
}
.icon-button.icon-fill-transparent {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="6" y1="6" x2="15" y2="15" style="stroke:rgb(231,76,60);stroke-width:1" stroke-linecap="round" />    <line x1="15" y1="6" x2="6" y2="15" style="stroke:rgb(231,76,60);stroke-width:1" stroke-linecap="round" />    <rect x="5" y="5" width="10" height="10" style="fill:transparent;stroke-width:1;stroke:rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-fill-transparent {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="6" y1="6" x2="15" y2="15" style="stroke-width:1;stroke:rgb(231,76,60)" stroke-linecap="round" />    <line x1="15" y1="6" x2="6" y2="15" style="stroke-width:1;stroke:rgb(231,76,60)" stroke-linecap="round" />    <rect x="5" y="5" width="10" height="10" style="fill:transparent;stroke-width:1;stroke:white" /></svg>');
}
.icon-button.icon-line-white {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(0,0,0);stroke-width:5"/>    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(255,255,255);stroke-width:3"/></svg>');
}
body.ide.dark .icon-button.icon-line-white {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(255,255,255);stroke-width:3"/></svg>');
}
.icon-button.icon-line-black {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(0,0,0);stroke-width:3"/></svg>');
}
body.ide.dark .icon-button.icon-line-black {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgba(255,255,255,0.5);stroke-width:5"/>    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(0,0,0);stroke-width:3"/></svg>');
}
.icon-button.icon-line-transparent {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" style="stroke:rgb(231,76,60);stroke-width:3"/></svg>');
}
.icon-button.icon-size1 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="2" fill="rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-size1 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="2" fill="white" /></svg>');
}
.icon-button.icon-size2 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="3" fill="rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-size2 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="3" fill="white" /></svg>');
}
.icon-button.icon-size3 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="4" fill="rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-size3 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="4" fill="white" /></svg>');
}
.icon-button.icon-size4 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="5" fill="rgb(0,0,0)" /></svg>');
}
body.ide.dark .icon-button.icon-size4 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="10" r="5" fill="white" /></svg>');
}

.icon-button.icon-point,
.icon-button.icon-circle,
.icon-button.icon-rect,
.icon-button.icon-line,
.icon-button.icon-fill-white,
.icon-button.icon-fill-black,
.icon-button.icon-fill-transparent,
.icon-button.icon-line-white,
.icon-button.icon-line-black,
.icon-button.icon-line-transparent,
.icon-button.icon-size1,
.icon-button.icon-size2,
.icon-button.icon-size3,
.icon-button.icon-size4,
body.ide.dark .icon-button.icon-point,
body.ide.dark .icon-button.icon-circle,
body.ide.dark .icon-button.icon-rect,
body.ide.dark .icon-button.icon-line,
body.ide.dark .icon-button.icon-fill-white,
body.ide.dark .icon-button.icon-fill-black,
body.ide.dark .icon-button.icon-fill-transparent,
body.ide.dark .icon-button.icon-line-white,
body.ide.dark .icon-button.icon-line-black,
body.ide.dark .icon-button.icon-size1,
body.ide.dark .icon-button.icon-size2,
body.ide.dark .icon-button.icon-size3,
body.ide.dark .icon-button.icon-size4 {
    background-position:            3px 3px;
    background-size:                22px 22px;
}

.icon-button.icon-text {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <text x="4" y="16" style="font-family:verdana;font-size:18px;" fill="rgb(0,0,0)">T</text></svg>');
    background-position:            3.5px 3.5px;
}
body.ide.dark .icon-button.icon-text {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <text x="4" y="16" style="font-family:verdana;font-size:18px;" fill="white">T</text></svg>');
    background-position:            3.5px 3.5px;
}

.icon-button.icon-add {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="10" y1="2" x2="10" y2="18" style="stroke:rgb(255,255,255);stroke-width:3" />    <line x1="2" y1="10" x2="18" y2="10" style="stroke:rgb(255,255,255);stroke-width:3" /></svg>');
}
.icon-button.icon-right {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="2" y1="10" x2="16" y2="10" style="stroke:rgb(255,255,255);stroke-width:3" />    <line x1="17" y1="10" x2="11" y2="4" style="stroke:rgb(255,255,255);stroke-width:2" />    <line x1="17" y1="10" x2="11" y2="16" style="stroke:rgb(255,255,255);stroke-width:2" /></svg>');
}
.icon-button.icon-text1 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <text x="3" y="16" style="font-family:verdana;font-size:20px;" fill="white">T</text>    <circle cx="14" cy="14" r="5" stroke="rgb(255,255,255)" stroke-width="1" fill="transparent" />    <text x="11.5" y="17" style="font-family:monospace;font-size:9px;" fill="white">1</text></svg>');
}
.icon-button.icon-text2 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <text x="3" y="16" style="font-family:verdana;font-size:20px;" fill="white">T</text>    <circle cx="14" cy="14" r="5" stroke="rgb(255,255,255)" stroke-width="1" fill="transparent" />    <text x="11.5" y="17" style="font-family:monospace;font-size:9px;" fill="white">2</text></svg>');
}
.icon-button.icon-text3 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <text x="3" y="16" style="font-family:verdana;font-size:20px;" fill="white">T</text>    <circle cx="14" cy="14" r="5" stroke="rgb(255,255,255)" stroke-width="1" fill="transparent" />    <text x="11.5" y="17" style="font-family:monospace;font-size:9px;" fill="white">2</text></svg>');
}
.icon-button.icon-magnifier1 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="9" y1="7" x2="4" y2="18" style="stroke:rgb(0,0,0);stroke-width:2" stroke-linecap="round" />    <circle cx="9" cy="7" r="6" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <circle cx="14" cy="14" r="5" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <text x="11.5" y="17" style="font-family:monospace;font-size:9px;">1</text></svg>');
}
.icon-button.icon-magnifier2 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="9" y1="7" x2="4" y2="18" style="stroke:rgb(0,0,0);stroke-width:2" stroke-linecap="round" />    <circle cx="9" cy="7" r="6" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <circle cx="14" cy="14" r="5" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <text x="11.5" y="17" style="font-family:monospace;font-size:9px;">2</text></svg>');
}
.icon-button.icon-magnifier3 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="9" y1="7" x2="4" y2="18" style="stroke:rgb(0,0,0);stroke-width:2" stroke-linecap="round" />    <circle cx="9" cy="7" r="6" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <circle cx="14" cy="14" r="5" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <text x="11.5" y="17" style="font-family:monospace;font-size:9px;">3</text></svg>');
}
.icon-button.icon-magnifier4 {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="9" y1="7" x2="4" y2="18" style="stroke:rgb(0,0,0);stroke-width:2" stroke-linecap="round" />    <circle cx="9" cy="7" r="6" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <circle cx="14" cy="14" r="5" stroke="rgb(0,0,0)" stroke-width="1" fill="white" />    <text x="11.5" y="17" style="font-family:monospace;font-size:9px;">4</text></svg>');
}
.icon-button.icon-list {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4" y1="5" x2="16" y2="5" style="stroke:rgb(255,255,255);stroke-width:2" />    <line x1="4" y1="10" x2="16" y2="10" style="stroke:rgb(255,255,255);stroke-width:2" />    <line x1="4" y1="15" x2="16" y2="15" style="stroke:rgb(255,255,255);stroke-width:2" /></svg>');
    background-position:            0 0;
}
.icon-button.icon-list-detail {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4" y1="6" x2="16" y2="6" style="stroke:rgb(255,255,255);stroke-width:4" />    <line x1="4" y1="14" x2="16" y2="14" style="stroke:rgb(255,255,255);stroke-width:4" /></svg>');
    background-position:            0 0;
}
.icon-button.icon-delete-default {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4" y1="4" x2="16" y2="16" style="stroke:rgb(255,255,255);stroke-width:3" />    <line x1="4" y1="16" x2="16" y2="4" style="stroke:rgb(255,255,255);stroke-width:3" /></svg>');
}

.icon-button.icon-add,
.icon-button.icon-right,
.icon-button.icon-text1,
.icon-button.icon-text2,
.icon-button.icon-text3,
.icon-button.icon-magnifier1,
.icon-button.icon-magnifier2,
.icon-button.icon-magnifier3,
.icon-button.icon-magnifier4 {
    background-position:            1px 1px;
}
.icon-button.icon-list,
.icon-button.icon-list-detail {
    background-position:            1.5px 1px;
}

input[type="button"].icon-button.icon-move {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">    <path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M598 298.667v-128h128l-214-214-214 214h128v128h172zM982 426.667l-214-214v128h-128v172h128v128zM384 512.667v-172h-128v-128l-214 214 214 214v-128h128zM426 554.667v128h-128l214 214 214-214h-128v-128h-172z" /></svg>');
    background-position:            1.5px 3.5px;
}
body.ide.dark input[type="button"].icon-button.icon-move {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">    <path fill="rgb(255,255,255)" stroke="rgb(255,255,255)" d="M598 298.667v-128h128l-214-214-214 214h128v128h172zM982 426.667l-214-214v128h-128v172h128v128zM384 512.667v-172h-128v-128l-214 214 214 214v-128h128zM426 554.667v128h-128l214 214 214-214h-128v-128h-172z" /></svg>');
    background-position:            1.5px 3.5px;
}
input[type="button"].icon-button.icon-btn {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="4" rx="2" ry="2" width="18" height="10" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;" />    <text x="5.5" y="11.6" fill="rgb(0,0,0)" style="font-family:latolight, Arial;font-size:7px;line-height:7px;">Ok</text></svg>');
    background-position:            2px 4.5px;
}
body.ide.dark input[type="button"].icon-button.icon-btn {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="4" rx="2" ry="2" width="18" height="10" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;" />    <text x="5.5" y="11.6" fill="rgb(255,255,255)" style="font-family:latolight, Arial;font-size:7px;line-height:7px;">Ok</text></svg>');
    background-position:            2px 4.5px;
}
input[type="button"].icon-button.icon-select-btn {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="4" rx="2" ry="2" width="18" height="10" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;" />    <line x1="10" y1="4" x2="10" y2="14" style="stroke:rgb(0,0,0);stroke-width:1;" />    <text x="3.3" y="11.6" fill="rgb(0,0,0)" style="font-family:latolight, Arial;font-size:7px;line-height:7px;">A</text>    <text x="12.1" y="11.6" fill="rgb(0,0,0)" style="font-family:latolight, Arial;font-size:7px;line-height:7px;">B</text></svg>');
    background-position:            2px 4.5px;
}
body.ide.dark input[type="button"].icon-button.icon-select-btn {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="4" rx="2" ry="2" width="18" height="10" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;" />    <line x1="10" y1="4" x2="10" y2="14" style="stroke:rgb(255,255,255);stroke-width:1;" />    <text x="3.3" y="11.5" fill="rgb(255,255,255)" style="font-family:latolight, Arial;font-size:7px;line-height:7px;">A</text>    <text x="12.1" y="11.5" fill="rgb(255,255,255)" style="font-family:latolight, Arial;font-size:7px;line-height:7px;">B</text></svg>');
    background-position:            2px 4.5px;
}
input[type="button"].icon-button.icon-label {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <text x="-0.25" y="11.6" fill="rgb(0,0,0)" style="font-family:latolight, Arial;font-size:7.5px;line-height:8px;">Label</text></svg>');
    background-position:            3px 5px;
}
body.ide.dark input[type="button"].icon-button.icon-label {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <text x="-0.25" y="11.6" fill="rgb(255,255,255)" style="font-family:latolight, Arial;font-size:7.5px;line-height:8px;">Label</text></svg>');
    background-position:            3px 5px;
}
input[type="button"].icon-button.icon-checkbox {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <text x="7" y="12" fill="rgb(0,0,0)" style="font-family:monospace;font-size:12px;line-height:12px;">✓</text>    <rect x="4" y="5" rx="2" ry="2" width="10" height="10" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;" /></svg>');
    background-position:            3px 4px;
}
body.ide.dark input[type="button"].icon-button.icon-checkbox {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <text x="7" y="12" fill="rgb(255,255,255)" style="font-family:monospace;font-size:12px;line-height:12px;">✓</text>    <rect x="4" y="5" rx="2" ry="2" width="10" height="10" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;" /></svg>');
    background-position:            3px 4px;
}
input[type="button"].icon-button.icon-tabs {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <polygon points="3,17 17,17 17,6 10,6 10,3 3,3" stroke="rgb(0,0,0)" fill="transparent" style="stroke-linejoin:round;"/></svg>');
    background-position:            2px 2px;
}
body.ide.dark input[type="button"].icon-button.icon-tabs {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <polygon points="3,17 17,17 17,6 10,6 10,3 3,3" stroke="rgb(255,255,255)" fill="transparent" style="stroke-linejoin:round;"/></svg>');
    background-position:            2px 2px;
}
input[type="button"].icon-button.icon-panel {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="3" y="3" width="14" height="14" stroke="rgb(0,0,0)" fill="transparent" style="stroke-linejoin:round;"/></svg>');
    background-position:            2px 2px;
}
body.ide.dark input[type="button"].icon-button.icon-panel {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="3" y="3" width="14" height="14" stroke="rgb(255,255,255)" fill="transparent" style="stroke-linejoin:round;"/></svg>');
    background-position:            2px 2px;
}
input[type="button"].icon-button.icon-status-light {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="6" r="4" fill="transparent" style="stroke:rgb(0,0,0);stroke-width:1;"/>    <line x1="8" y1="10" x2="8" y2="13.5" style="stroke:rgb(0,0,0);stroke-width:1;" stroke-linecap="round"/>    <line x1="8" y1="13.5" x2="10" y2="15" style="stroke:rgb(0,0,0);stroke-width:1;" stroke-linecap="round"/>    <line x1="10" y1="15" x2="12" y2="13.5" style="stroke:rgb(0,0,0);stroke-width:1;" stroke-linecap="round"/>    <line x1="12" y1="13.5" x2="12" y2="10" style="stroke:rgb(0,0,0);stroke-width:1;" stroke-linecap="round"/>    <line x1="8" y1="10.5" x2="12" y2="11.5" style="stroke:rgb(0,0,0);stroke-width:0.5;" stroke-linecap="round"/>    <line x1="8" y1="11.5" x2="12" y2="12.5" style="stroke:rgb(0,0,0);stroke-width:0.5;" stroke-linecap="round"/>    <line x1="8" y1="12.5" x2="12" y2="13.5" style="stroke:rgb(0,0,0);stroke-width:0.5;" stroke-linecap="round"/></svg>');
    background-position:            2px 3px;
}
body.ide.dark input[type="button"].icon-button.icon-status-light {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <circle cx="10" cy="6" r="4" fill="transparent" style="stroke:rgb(255,255,255);stroke-width:1;"/>    <line x1="8" y1="10" x2="8" y2="13.5" style="stroke:rgb(255,255,255);stroke-width:1;" stroke-linecap="round"/>    <line x1="8" y1="13.5" x2="10" y2="15" style="stroke:rgb(255,255,255);stroke-width:1;" stroke-linecap="round"/>    <line x1="10" y1="15" x2="12" y2="13.5" style="stroke:rgb(255,255,255);stroke-width:1;" stroke-linecap="round"/>    <line x1="12" y1="13.5" x2="12" y2="10" style="stroke:rgb(255,255,255);stroke-width:1;" stroke-linecap="round"/>    <line x1="8" y1="10.5" x2="12" y2="11.5" style="stroke:rgb(255,255,255);stroke-width:0.5;" stroke-linecap="round"/>    <line x1="8" y1="11.5" x2="12" y2="12.5" style="stroke:rgb(255,255,255);stroke-width:0.5;" stroke-linecap="round"/>    <line x1="8" y1="12.5" x2="12" y2="13.5" style="stroke:rgb(255,255,255);stroke-width:0.5;" stroke-linecap="round"/></svg>');
    background-position:            2px 3px;
}
input[type="button"].icon-button.icon-image {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="1.5" rx="2" ry="2" width="16" height="16" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;" />    <line x1="3" y1="15.5" x2="7" y2="6" style="stroke:rgb(0,0,0);stroke-width:1;" />    <line x1="7" y1="6" x2="10" y2="11" style="stroke:rgb(0,0,0);stroke-width:1;" />    <line x1="10" y1="11" x2="12" y2="9" style="stroke:rgb(0,0,0);stroke-width:1;" />    <line x1="12" y1="9" x2="15" y2="15.5" style="stroke:rgb(0,0,0);stroke-width:1;" />    <circle cx="12" cy="5.5" r="2" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;" /></svg>');
    background-position:            2px 3px;
}
body.ide.dark input[type="button"].icon-button.icon-image {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="1.5" rx="2" ry="2" width="16" height="16" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;" />    <line x1="3" y1="15.5" x2="7" y2="6" style="stroke:rgb(255,255,255);stroke-width:1;" />    <line x1="7" y1="6" x2="10" y2="11" style="stroke:rgb(255,255,255);stroke-width:1;" />    <line x1="10" y1="11" x2="12" y2="9" style="stroke:rgb(255,255,255);stroke-width:1;" />    <line x1="12" y1="9" x2="15" y2="15.5" style="stroke:rgb(255,255,255);stroke-width:1;" />    <circle cx="12" cy="5.5" r="2" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;" /></svg>');
    background-position:            2px 3px;
}

body.ide.dark input[type="button"].icon-button.icon-move,
body.ide.dark input[type="button"].icon-button.icon-btn,
body.ide.dark input[type="button"].icon-button.icon-select-btn,
body.ide.dark input[type="button"].icon-button.icon-label,
body.ide.dark input[type="button"].icon-button.icon-checkbox,
body.ide.dark input[type="button"].icon-button.icon-tabs,
body.ide.dark input[type="button"].icon-button.icon-panel,
body.ide.dark input[type="button"].icon-button.icon-status-light,
body.ide.dark input[type="button"].icon-button.icon-image,
input[type="button"].icon-button.icon-move,
input[type="button"].icon-button.icon-btn,
input[type="button"].icon-button.icon-select-btn,
input[type="button"].icon-button.icon-label,
input[type="button"].icon-button.icon-checkbox,
input[type="button"].icon-button.icon-tabs,
input[type="button"].icon-button.icon-panel,
input[type="button"].icon-button.icon-status-light,
input[type="button"].icon-button.icon-image {
    background-size:                24px 24px;
}

input[type="button"].icon-button.icon-copy,
input[type="button"].icon-button.icon-copy.in-active,
input[type="button"].icon-button.icon-play {
    margin-left:                    12px;
}

input[type="button"].icon-button.icon-select {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:transparent;stroke-width:1;stroke:rgb(0,0,0)" stroke-dasharray="1 1"/></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-select {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <rect x="5" y="5" width="10" height="10" style="fill:transparent;stroke-width:1;stroke:rgb(255,255,255)" stroke-dasharray="1 1"/></svg>');
}
input[type="button"].icon-button.icon-delete {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <line x1="4" y1="4" x2="16" y2="16" style="stroke:rgb(0,0,0);stroke-width:3" />    <line x1="4" y1="16" x2="16" y2="4" style="stroke:rgb(0,0,0);stroke-width:3" /></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-delete {
    background-image:               url('images/buttons/deleteWhite.svg');
}
input[type="button"].icon-button.icon-copy {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M810 42.667v598h-468v-598h468zM810 724.667q34 0 60-25t26-59v-598q0-34-26-60t-60-26h-468q-34 0-60 26t-26 60v598q0 34 26 59t60 25h468zM682 896.667v-86h-512v-598h-84v598q0 34 25 60t59 26h512z" />    </g></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-copy {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="rgb(255,255,255)" stroke="rgb(255,255,255)" d="M810 42.667v598h-468v-598h468zM810 724.667q34 0 60-25t26-59v-598q0-34-26-60t-60-26h-468q-34 0-60 26t-26 60v598q0 34 26 59t60 25h468zM682 896.667v-86h-512v-598h-84v598q0 34 25 60t59 26h512z" />    </g></svg>');
}
input[type="button"].icon-button.icon-paste {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M810 84.667v684h-84v-128h-428v128h-84v-684h596zM512 852.667q-18 0-30-12t-12-30 12-30 30-12 30 12 12 30-12 30-30 12zM810 852.667q34 0 60-25t26-59v-684q0-34-26-59t-60-25h-596q-34 0-60 25t-26 59v684q0 34 26 59t60 25h178q14 38 46 62t74 24 74-24 46-62h178z" />    </g></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-paste {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="rgb(255,255,255)" stroke="rgb(255,255,255)" d="M810 84.667v684h-84v-128h-428v128h-84v-684h596zM512 852.667q-18 0-30-12t-12-30 12-30 30-12 30 12 12 30-12 30-30 12zM810 852.667q34 0 60-25t26-59v-684q0-34-26-59t-60-25h-596q-34 0-60 25t-26 59v684q0 34 26 59t60 25h178q14 38 46 62t74 24 74-24 46-62h178z" />    </g></svg>');
}

input[type="button"].icon-button.icon-copy,
input[type="button"].icon-button.icon-paste,
body.ide.dark input[type="button"].icon-button.icon-copy,
body.ide.dark input[type="button"].icon-button.icon-paste {
    background-size:                20px 20px;
}
input[type="button"].icon-button.icon-select,
body.ide.dark input[type="button"].icon-button.icon-select {
    background-position:            2px 2px;
}
input[type="button"].icon-button.icon-copy,
input[type="button"].icon-button.icon-paste,
input[type="button"].icon-button.icon-delete,
body.ide.dark input[type="button"].icon-button.icon-copy,
body.ide.dark input[type="button"].icon-button.icon-paste,
body.ide.dark input[type="button"].icon-button.icon-delete {
    background-position:            3.5px 3.5px;
}

input[type="button"].icon-button.icon-grid {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 -75 1000 1000" xmlns="http://www.w3.org/2000/svg">    <path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M854 596.667v172h-172v-172h172zM854 340.667v172h-172v-172h172zM854 84.667v172h-172v-172h172zM598 596.667v172h-172v-172h172zM598 340.667v172h-172v-172h172zM598 84.667v172h-172v-172h172zM342 596.667v172h-172v-172h172zM342 340.667v172h-172v-172h172zM342 84.667v172h-172v-172h172zM854 852.667q34 0 59-25t25-59v-684q0-34-25-59t-59-25h-684q-34 0-59 25t-25 59v684q0 34 25 59t59 25h684z" /></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-grid {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 -75 1000 1000" xmlns="http://www.w3.org/2000/svg">    <path fill="white" stroke="white" d="M854 596.667v172h-172v-172h172zM854 340.667v172h-172v-172h172zM854 84.667v172h-172v-172h172zM598 596.667v172h-172v-172h172zM598 340.667v172h-172v-172h172zM598 84.667v172h-172v-172h172zM342 596.667v172h-172v-172h172zM342 340.667v172h-172v-172h172zM342 84.667v172h-172v-172h172zM854 852.667q34 0 59-25t25-59v-684q0-34-25-59t-59-25h-684q-34 0-59 25t-25 59v684q0 34 25 59t59 25h684z" /></svg>');
}
input[type="button"].icon-button.icon-binary {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <text x="0.5" y="9.5" fill="rgb(0,0,0)" style="font-family:monospace;font-size:10px;line-height:7px;">010</text>    <text x="0.5" y="17.5" fill="rgb(0,0,0)" style="font-family:monospace;font-size:10px;line-height:7px;">110</text></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-binary {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="18" height="18" viewBox="0 1 20 20" xmlns="http://www.w3.org/2000/svg">    <text x="0.5" y="9.5" fill="white" style="font-family:monospace;font-size:10px;line-height:7px;">010</text>    <text x="0.5" y="17.5" fill="white" style="font-family:monospace;font-size:10px;line-height:7px;">110</text></svg>');
}
input[type="button"].icon-button.icon-volume {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="5" width="5" height="10" style="fill:rgb(0,0,0);stroke-width:0" />    <rect x="7" y="2" width="5" height="16" style="fill:rgb(0,0,0);stroke-width:0" />    <rect x="13" y="4" width="5" height="12" style="fill:rgb(0,0,0);stroke-width:0" /></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-volume {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="5" width="5" height="10" style="fill:rgb(255,255,255);stroke-width:0" />    <rect x="7" y="2" width="5" height="16" style="fill:rgb(255,255,255);stroke-width:0" />    <rect x="13" y="4" width="5" height="12" style="fill:rgb(255,255,255);stroke-width:0" /></svg>');
}
input[type="button"].icon-button.icon-fade-in {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="8" width="5" height="4" style="fill:rgb(0,0,0);stroke-width:0" />    <rect x="7" y="6" width="5" height="8" style="fill:rgb(0,0,0);stroke-width:0" />    <rect x="13" y="4" width="5" height="12" style="fill:rgb(0,0,0);stroke-width:0" /></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-fade-in {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="1" y="8" width="5" height="4" style="fill:rgb(255,255,255);stroke-width:0" />    <rect x="7" y="6" width="5" height="8" style="fill:rgb(255,255,255);stroke-width:0" />    <rect x="13" y="4" width="5" height="12" style="fill:rgb(255,255,255);stroke-width:0" /></svg>');
}
input[type="button"].icon-button.icon-fade-out {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="13" y="8" width="5" height="4" style="fill:rgb(0,0,0);stroke-width:0" />    <rect x="7" y="6" width="5" height="8" style="fill:rgb(0,0,0);stroke-width:0" />    <rect x="1" y="4" width="5" height="12" style="fill:rgb(0,0,0);stroke-width:0" /></svg>');
}
body.ide.dark input[type="button"].icon-button.icon-fade-out {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">    <rect x="13" y="8" width="5" height="4" style="fill:rgb(255,255,255);stroke-width:0" />    <rect x="7" y="6" width="5" height="8" style="fill:rgb(255,255,255);stroke-width:0" />    <rect x="1" y="4" width="5" height="12" style="fill:rgb(255,255,255);stroke-width:0" /></svg>');
}

input[type="button"].icon-button.icon-grid,
input[type="button"].icon-button.icon-binary,
input[type="button"].icon-button.icon-volume,
input[type="button"].icon-button.icon-fade-in,
input[type="button"].icon-button.icon-fade-out,
body.ide.dark input[type="button"].icon-button.icon-grid,
body.ide.dark input[type="button"].icon-button.icon-binary,
body.ide.dark input[type="button"].icon-button.icon-volume,
body.ide.dark input[type="button"].icon-button.icon-fade-in,
body.ide.dark input[type="button"].icon-button.icon-fade-out {
    background-position:            3px 3px;
    background-size:                22px 22px;
}
input[type="button"].icon-button.icon-grid,
body.ide.dark input[type="button"].icon-button.icon-grid {
    background-size:                21px 21px;
}

input[type="button"].icon-button.icon-undo {
    background-image:               url('data:image/svg+xml, <svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M534 596.667q146 0 262-86t162-222l-100-32q-34 104-123 169t-201 65q-124 0-220-80l156-154h-384v384l152-154q126 110 296 110z" />    </g></svg>');
    background-position:            2px 1px;
    background-size:                22px 22px;
}
body.ide.dark input[type="button"].icon-button.icon-undo {
    background-image:               url('data:image/svg+xml, <svg version="1.1" baseProfile="full" width="16" height="16" viewBox="0 50 1000 1000" xmlns="http://www.w3.org/2000/svg">    <g transform="scale(1,-1) translate(0, -1000)">        <path fill="rgb(255,255,255)" stroke="rgb(255,255,255)" d="M534 596.667q146 0 262-86t162-222l-100-32q-34 104-123 169t-201 65q-124 0-220-80l156-154h-384v384l152-154q126 110 296 110z" />    </g></svg>');
    background-position:            2px 1px;
    background-size:                22px 22px;
}

input[type="button"].icon-button.icon-play {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <polygon points="4,4 4,16 16,10" fill="rgb(0,0,0)"/></svg>');
    background-position:            3.5px 2.5px;
    background-size:                22px 22px;
}
body.ide.dark input[type="button"].icon-button.icon-play {
    background-image:               url('data:image/svg+xml,<svg version="1.1" baseProfile="full" width="20" height="20" xmlns="http://www.w3.org/2000/svg">    <polygon points="4,4 4,16 16,10" fill="rgb(255,255,255)"/></svg>');
    background-position:            3.5px 2.5px;
    background-size:                22px 22px;
}
