.hint {
    position:                       absolute;
    z-index:                        5000;
    background-color:               var(--ui-background1);
    box-shadow:                     1px 1px 3px rgba(0, 0, 0, 0.5);
    display:                        none;
    pointer-events:                 none;
    margin:                         0;
    padding:                        8px;
}
.hint .title,
.hint .location {
    float:                          left;
    clear:                          both;
    width:                          100%;
    color:                          var(--ui-text1);
}
.hint .location {
    margin-top:                     4px;
    font-style:                     italic;
    font-size:                      12px;
    color:                          var(--ui-text1);
}
.hint pre.wheel {
    float:                          left;
    clear:                          both;
    width:                          100%;
    padding:                        0;
    margin:                         0;
    border:                         0;
    background-color:               transparent;
}
.hint pre.wheel span {
    font-size:                      12px;
}
.hint.visible {
    display:                        block;
}
.hint.with-arrow {
    font-size:                      10px;
    text-align:                     center;
}
.hint.with-arrow::before,
.hint.with-arrow::after {
    position:                       absolute;
    left:                           calc(50% - 10px);
    content:                        ' ';
}
.hint.with-arrow::after {
    top:                            -8.5px;
    border-left:                    10px solid transparent;
    border-right:                   10px solid transparent;
    border-bottom:                  10px solid var(--ui-background1);
}
.hint.with-arrow::before {
    top:                            -10px;
    border-left:                    10px solid transparent;
    border-right:                   10px solid transparent;
    border-bottom:                  10px solid rgba(0, 0, 0, 0.25);
}
