ul.list-items,
ol.list-items {
    min-width:                      32px;
    min-height:                     16px;
    color:                          var(--ui-text1);
    line-height:                    22px;
    font-size:                      15px;
    opacity:                        0.75;
    margin:                         0;
    padding:                        0 0 0 20px;
}
ul.list-items li,
ol.list-items li {
    margin:                         0;
    padding:                        0;
}
.list-items.design:before {
    position:                       absolute;
    z-index:                        -1;
    left:                           0;
    top:                            0;
    width:                          100%;
    height:                         100%;
    background:                     var(--design-background);
    border:                         var(--design-border);
    content:                        ' ';
}
