.non-visual {
    display:                        none;
}
.non-visual.design {
    display:                        block;
    position:                       absolute;
    width:                          48px;
    height:                         48px;
    z-index:                        1000;
    background-color:               rgba(255, 255, 255, 0.2);
    background-repeat:              no-repeat;
    background-size:                48px 48px;
    background-position:            0 0;
}
.non-visual.design:before {
    position:                       absolute;
    z-index:                        -1;
    left:                           0;
    top:                            0;
    width:                          calc(100% - 2px);
    height:                         calc(100% - 2px);
    background:                     var(--design-background);
    border:                         var(--design-border);
    content:                        ' ';
}
.non-visual.component-timer {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><g transform="scale(0.018,-0.018) translate(150, -1100)"><path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M512 84.667q124 0 211 88t87 212-87 211-211 87-211-87-87-211 87-212 211-88zM812 622.667q34-44 59-113t25-125q0-158-112-271t-272-113-272 113-112 271 112 271 272 113q54 0 125-26t115-60l60 62q32-26 60-60zM470 340.667v256h84v-256h-84zM640 896.667v-86h-256v86h256z" /></g></svg>');
}
body.ide.dark .non-visual.component-timer {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><g transform="scale(0.018,-0.018) translate(150, -1100)"><path fill="rgb(255,255,255)" stroke="rgb(255,255,255)" d="M512 84.667q124 0 211 88t87 212-87 211-211 87-211-87-87-211 87-212 211-88zM812 622.667q34-44 59-113t25-125q0-158-112-271t-272-113-272 113-112 271 112 271 272 113q54 0 125-26t115-60l60 62q32-26 60-60zM470 340.667v256h84v-256h-84zM640 896.667v-86h-256v86h256z" /></g></svg>');
}
.non-visual.component-clock {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><g transform="scale(0.018,-0.018) translate(150, -1100)"><path fill="rgb(0,0,0)" stroke="rgb(0,0,0)" d="M450 318.667l210 212 46-46-256-256-136 136 44 44zM512 84.667q124 0 211 88t87 212-87 211-211 87-211-87-87-211 87-212 211-88zM512 768.667q160 0 272-113t112-271-112-271-272-113-272 113-112 271 112 271 272 113zM336 794.667l-196-164-54 64 196 164zM938 694.667l-54-66-196 166 54 64z" /></g></svg>');
}
body.ide.dark .non-visual.component-clock {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><g transform="scale(0.018,-0.018) translate(150, -1100)"><path fill="rgb(255,255,255)" stroke="rgb(255,255,255)" d="M450 318.667l210 212 46-46-256-256-136 136 44 44zM512 84.667q124 0 211 88t87 212-87 211-211 87-211-87-87-211 87-212 211-88zM512 768.667q160 0 272-113t112-271-112-271-272-113-272 113-112 271 112 271 272 113zM336 794.667l-196-164-54 64 196 164zM938 694.667l-54-66-196 166 54 64z" /></g></svg>');
}
.non-visual.component-alert-dialog {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><rect x="3" y="7" width="18" height="10" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;"/><rect x="8" y="11" width="8" height="4" rx="1" ry="1" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;"/></svg>');
}
body.ide.dark .non-visual.component-alert-dialog {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><rect x="3" y="7" width="18" height="10" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;"/><rect x="8" y="11" width="8" height="4" rx="1" ry="1" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;"/></svg>');
}
.non-visual.component-confirm-dialog {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><rect x="3" y="7" width="18" height="10" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;"/><rect x="5" y="11" width="6" height="4" rx="1" ry="1" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;"/><rect x="13" y="11" width="6" height="4" rx="1" ry="1" style="stroke:rgb(0,0,0);stroke-width:1;fill:transparent;"/></svg>');
}
body.ide.dark .non-visual.component-confirm-dialog {
    background-image:               url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" baseProfile="full" version="1.1"><rect x="3" y="7" width="18" height="10" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;"/><rect x="5" y="11" width="6" height="4" rx="1" ry="1" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;"/><rect x="13" y="11" width="6" height="4" rx="1" ry="1" style="stroke:rgb(255,255,255);stroke-width:1;fill:transparent;"/></svg>');
}
