input[type="text"] {
    border:                         var(--text-input-border);
    color:                          var(--text-input-color);
    background-color:               var(--text-input-background);
}