/* io dialog */
.dialog.io {
	height: 							440px;
	margin: 							-220px 0 0 0;
}
.dialog.io .dialog-vertical {
	width: 								700px;
	height: 							440px;
}
.dialog.io .dialog-vertical .tabs {
	width: 								572px;
}
.dialog.io .io-content {
	float: 								right;
}
.dialog.io .io-content .half,
.dialog.io .io-content .third {
	float: 								left;
}
.dialog.io .io-content .row {
	float: 								left;
	width: 								100%;
	margin-bottom: 						8px;
}
.dialog.io .io-content .row .label {
	float: 								left;
	line-height: 						24px;
	margin-left: 						4px;
}
.dialog.io .io-content .row .checkbox {
	float: 								left;
}
.dialog.io .io-content .io-container {
	float:								left;
	width:								572px;
	height:								192px;
	overflow:							hidden;
	overflow-y:							scroll;
	background-color:					WhiteSmoke;
	border-radius: 						4px;
}
.dialog.io .io-content .io-add {
	float:								left;
	width:								572px;
}
.dialog.io .io-content .io-add .button {
	float: 								left;
	margin: 							8px 0 0 0;
}
.dialog.io .io-content .io-header,
.dialog.io .io-content .io-row {
	float:								left;
	width:								572px;
	height:								32px;
}
.dialog.io .io-content .io-row:hover {
	background-color: 					#7FB800; /* LimeGreen */
}
.dialog.io .io-content .io-row:hover div {
	color: 								White;
}
.dialog.io .io-content .io-header {
	background-color:					#00A6ED; /* LightSkyBlue */
	border-radius: 						4px 4px 0 0;
}
.dialog.io .io-content .io-row .id,
.dialog.io .io-content .io-row .display,
.dialog.io .io-content .io-row .port,
.dialog.io .io-content .io-row .out,
.dialog.io .io-content .io-row .i2c,
.dialog.io .io-content .io-row .io-number,
.dialog.io .io-content .io-row .type {
	float: 								left;
	width: 								128px;
	height: 							32px;
}
.dialog.io .io-content .io-header .id,
.dialog.io .io-content .io-header .port,
.dialog.io .io-content .io-row .port,
.dialog.io .io-content .io-row .out,
.dialog.io .io-content .io-header .io-number,
.dialog.io .io-content .io-row .io-number {
	width: 								64px;
}
.dialog.io .io-content .io-header .id,
.dialog.io .io-content .io-row .id,
.dialog.io .io-content .io-header .display,
.dialog.io .io-content .io-row .display {
	width: 								64px;
}
.dialog.io .io-content .io-row .display {
	padding: 							4px 0 0 8px;
}
.dialog.io .io-content .io-row .id,
.dialog.io .io-content .io-row .port,
.dialog.io .io-content .io-row .i2c,
.dialog.io .io-content .io-row .io-number,
.dialog.io .io-content .io-row .type {
	padding: 							4px 0 0 4px;
}
.dialog.io .io-content .io-row .out {
	padding: 							7px 0 0 4px;
}
.dialog.io .io-content .io-row .id input,
.dialog.io .io-content .io-row .i2c input {
	width: 								40px;
}
.dialog.io .io-content .io-header div {
	float: 								left;
	width: 								128px;
	line-height: 						32px;
	font-weight: 						400;
	color: 								White;
}
.dialog.io .io-content .io-header div.id {
	width: 								64px;
	padding-left: 						8px;
}
.dialog.io .io-content .io-row .remove {
	float: 								right;
	width:								32px;
	height: 							32px;
	margin-right: 						16px;
	cursor: 							pointer;
}
.dialog.io .io-content .io-row .remove .icon-close,
.dialog.io .io-content .io-row .remove .icon-close:before {
	width: 								32px;
	height: 							32px;
	line-height: 						32px;
	text-align: 						center;
}