/* Alert/Confirm dialog */
.dialog-background.alert-dialog .dialog-center .dialog-content,
.dialog-background.confirm-dialog .dialog-center .dialog-content {
    margin:                         0 auto 0 auto;
    margin-top:                     -100px;
    width:                          600px;
    height:                         200px;
    background-color:               var(--ui-background2);
    position:                       relative;
    border-radius:                  2px;
}
.dialog-background.alert-dialog .dialog-center .dialog-content .alert-text,
.dialog-background.confirm-dialog .dialog-center .dialog-content .confirm-text {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
    height:                         calc(56px);
    line-height:                    28px;
}
.dialog-background.alert-dialog img {
    display:                        none;
}
.dialog-background.alert-dialog.with-image img {
    display:                        block;
    width:                          64px;
    margin-left:                    32px;
}
.dialog-background.alert-dialog.with-image .dialog-center .dialog-content .alert-text {
    margin-left:                    80px;
    width:                          504px;
}
.dialog-background.alert-dialog.with-image .dialog-center .dialog-content .buttons input[type="button"].button {
    float:                          right;
}
