/* Alert/Confirm dialog */
.dialog-background.alert-dialog .dialog-center .dialog-content,
.dialog-background.confirm-dialog .dialog-center .dialog-content {
    margin-top:                     -100px;
    width:                          600px;
    height:                         200px;
}
.dialog-background.alert-dialog .dialog-center .dialog-content .alert-text,
.dialog-background.confirm-dialog .dialog-center .dialog-content .confirm-text {
    height:                         calc(56px);
    line-height:                    28px;
}
.dialog-background.alert-dialog img {
    display:                        none;
}
.dialog-background.alert-dialog img.dialog-content-image {
    display:                        block;
}
.dialog-background.alert-dialog.with-image img {
    display:                        block;
    width:                          64px;
    margin-left:                    32px;
}
.dialog-background.alert-dialog.with-image .dialog-center .dialog-content .alert-text {
    margin-left:                    80px;
    width:                          504px;
}
.dialog-background.alert-dialog.with-image .dialog-center .dialog-content .buttons input[type="button"].button {
    float:                          right;
}
.dialog-background.alert-dialog .dialog-center .dialog-content a,
.dialog-background.alert-dialog .dialog-center .dialog-content a:visited,
.dialog-background.alert-dialog .dialog-center .dialog-content a:hover {
    color:                          #3498DB;
}
