.dialog-background.daisy-chain-dialog .dialog-center .dialog-content {
    margin-top:                     -118px;
    width:                          380px;
    height:                         236px;
}
