.dialog-background.device-count-dialog .dialog-center .dialog-content {
    margin-top:                     -80px;
    width:                          480px;
    height:                         180px;
}
.dialog-background.device-count-dialog .dialog-center .dialog-content .dropdown {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          128px;
}
