.dialog-background.new-directory-dialog .dialog-center .dialog-content {
    margin-top:                     -88px;
    width:                          440px;
    height:                         176px;
}
.dialog-background.new-directory-dialog .dialog-center .dialog-content .new-directory-row {
    padding:                        0 0 8px 0;
}
.dialog-background.new-directory-dialog .dialog-center .dialog-content .new-directory-row div,
.dialog-background.new-directory-dialog .dialog-center .dialog-content .new-directory-row input {
    float:                          left;
    height:                         32px;
    font-size:                      16px;
    line-height:                    32px;
}
.dialog-background.new-directory-dialog .dialog-center .dialog-content .new-directory-row input.invalid {
    border:                         var(--text-input-invalid-border);
}
.dialog-background.new-directory-dialog .dialog-center .dialog-content .new-directory-row div {
    width:                          128px;
    -webkit-user-select:            none;
}
.dialog-background.new-directory-dialog .dialog-center .dialog-content .new-directory-row input {
    width:                          180px;
    outline:                        none;
    padding:                        0 0 0 8px;
}
