/* Alert/Confirm dialog */
.dialog-background.example-dialog .example {
    height:                         386px;
}
.dialog-background.example-dialog .example .example-category {
    padding:                        16px 16px 16px 48px;
}
.dialog-background.example-dialog .example .example-category .title {
    width:                          32px;
    height:                         32px;
    line-height:                    32px;
    text-align:                     center;
    font-size:                      18px;
    border-radius:                  16px;
    color:                          #FFFFFF;
    left:                           16px;
}
.dialog-background.example-dialog .example .example-category .title.e {
    background-color:               #0984E3;
}
.dialog-background.example-dialog .example .example-category .title.p {
    background-color:               #F9CA24;
}
.dialog-background.example-dialog .example .example-category .title.s {
    background-color:               #1ABC9C;
}
.dialog-background.example-dialog .example .example-category .title.i {
    background-color:               #4CD137;
}
.dialog-background.example-dialog .example .example-category .title span {
    font-family:                    latolight;
    font-size:                      17px;
}
.dialog-background.example-dialog .example .example-category .title img {
    width:                          64px;
    margin:                         16px 0 0 0;
}
.dialog-background.example-dialog .example .example-category .example-category-item {
    text-align:                     left;
    height:                         32px;
    line-height:                    30px;
    border:                         1px solid transparent;
    border-radius:                  16px;
    padding:                        0 0 0 16px;
    outline:                        none;
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    white-space:                    nowrap;
}
.dialog-background.example-dialog .example .example-category .example-category-item.category-title {
    font-family:                    latolight;
    font-size:                      17px;
}
.dialog-background.example-dialog .example .example-category .example-category-item.selectable {
    cursor:                         pointer;
}
.dialog-background.example-dialog .example .example-category .example-category-item.selectable:hover,
.dialog-background.example-dialog .example .example-category .example-category-item.selectable:focus {
    background-color:               var(--files-hover-background);
    border:                         var(--files-hover-border);
}
.dialog-background.example-dialog .example .example-category .example-category-item span.example-name {
    width:                          160px;
}
.dialog-background.example-dialog .example .example-category .example-category-item span.example-description {
    font-style:                     italic;
    opacity:                        0.75;
}
