.dialog-background.ev3-file-viewer-dialog .copy-to-ev3,
.dialog-background.ev3-file-viewer-dialog .delete,
.dialog-background.ev3-file-viewer-dialog .create-dir {
    top:                            56px;
}
.dialog-background.ev3-file-viewer-dialog .create-dir {
    font-size:                      20px;
    line-height:                    21px;
}
.dialog-background.ev3-file-viewer-dialog .icon-button.copy-to-ev3 {
    right:                          calc(50% + 56px);
    margin:                         8px 4px 0 0;
}
.dialog-background.ev3-file-viewer-dialog .files.left {
    top:                            104px;
    width:                          calc(50% - 36px);
    height:                         calc(456px);
}
.dialog-background.ev3-file-viewer-dialog .files.left.loading div,
.dialog-background.ev3-file-viewer-dialog .files.right.loading div {
    pointer-events:                 none;
}
.dialog-background.ev3-file-viewer-dialog .files.right.loading,
.dialog-background.ev3-file-viewer-dialog .files.right.loading {
    cursor:                         wait;
}
.dialog-background.ev3-file-viewer-dialog .delete {
    right:                          84px;
}
.dialog-background.ev3-file-viewer-dialog .create-dir {
    right:                          112px;
}
.dialog-background.ev3-file-viewer-dialog .tool-options.left-view {
    right:                          calc(50% + 8px);
}
.dialog-background.ev3-file-viewer-dialog .left-label,
.dialog-background.ev3-file-viewer-dialog .right-label {
    line-height:                    24px;
    font-weight:                    bold;
}
.dialog-background.ev3-file-viewer-dialog .left-path,
.dialog-background.ev3-file-viewer-dialog .right-path {
    top:                            86px;
    line-height:                    24px;
    width:                          calc(50% - 36px);
    font-size:                      11px;
    text-overflow:                  ellipsis;
    overflow:                       hidden;
    white-space:                    nowrap;
    pointer-events:                 none;
}
.dialog-background.ev3-file-viewer-dialog .files.right {
    position:                       absolute;
    top:                            104px;
    width:                          calc(50% - 36px);
    height:                         456px;
}
.dialog-background.ev3-file-viewer-dialog .right-label,
.dialog-background.ev3-file-viewer-dialog .right-path {
    left:                           calc(50% + 4px);
}
