.dialog-background.file-dialog .current-path,
.dialog-background.file-dialog .label {
    top:                            44px;
    max-width:                      calc(100% - 128px);
    height:                         64px;
    line-height:                    64px;
    overflow:                       hidden;
    font-size:                      11px;
}
.dialog-background.file-dialog .tool-options,
.dialog-background.file-dialog .label {
    position:                       absolute;
}
.dialog-background.file-dialog .label {
    left:                           auto;
    right:                          88px;
}
.dialog-background.file-dialog .current-file,
.dialog-background.file-dialog .current-file-input {
    bottom:                         32px;
    height:                         32px;
    line-height:                    32px;
}
.dialog-background.file-dialog .current-file-input {
    width:                          180px;
    font-size:                      16px;
    outline:                        none;
    padding:                        0 0 0 8px;
}
.dialog-background.file-dialog .files {
    top:                            96px;
    width:                          calc(100% - 64px);
    height:                         calc(464px);
}
