.dialog-background.file-new-dialog .include-file-label {
    top:                            104px;
    height:                         32px;
    line-height:                    32px;
    width:                          128px;
    text-align:                     right;
    padding:                        0 8px 0 0;
}
.dialog-background.file-new-dialog .include-files {
    left:                           160px;
    width:                          408px;
    height:                         272px;
}
.dialog-background.file-new-dialog .include-files,
.dialog-background.file-new-dialog.project .include-file-label {
    top:                            104px;
}
.dialog-background.file-new-dialog.project .include-files,
.dialog-background.file-new-dialog.project .include-file-label {
    top:                            188px;
}
.dialog-background.file-new-dialog .file-new-row:last-child {
    display:                        none;
}
.dialog-background.file-new-dialog.project .file-new-row:last-child {
    display:                        block;
}
