.dialog-background.file-rename-dialog .file-rename-row.name {
    height:                         32px;
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    white-space:                    nowrap;
}
