/* Alert/Confirm dialog */
.dialog-background.form-dialog .dialog-center .dialog-content {
    margin-top:                     -100px;
    width:                          600px;
    height:                         200px;
}
.dialog-background.form-dialog .dialog-center .dialog-content input[type="text"] {
    height:                         32px;
    font-size:                      16px;
    line-height:                    32px;
    outline:                        none;
    padding:                        0 0 0 8px;
}
