.dialog-background.graph-dialog .dialog-center .dialog-content {
    margin:                         0 auto 0 auto;
    margin-top:                     -108px;
    height:                         216px;
    width:                          640px;
    background-color:               var(--ui-background2);
    position:                       relative;
    border-radius:                  2px;
}
.dialog-background.graph-dialog.new-graph .dialog-center .dialog-content {
    margin-top:                     -128px;
    height:                         256px;
}
.dialog-background.graph-dialog .dialog-center .dialog-content .graph-dialog-text {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
}
.dialog-background.graph-dialog .dialog-center .dialog-content .graph-dialog-row {
    float:                          left;
    width:                          100%;
    height:                         40px;
    padding:                        0 0 8px 0;
}
.dialog-background.graph-dialog .dialog-center .dialog-content .graph-dialog-row .label {
    float:                          left;
    width:                          40%;
}
