.dialog-background.hint-dialog .dialog-center .dialog-content {
    margin:                         0 auto 0 auto;
    margin-top:                     -200px;
    width:                          600px;
    height:                         400px;
    background-color:               var(--ui-background2);
    position:                       relative;
    border-radius:                  2px;
}
.dialog-background.hint-dialog.open-file .dialog-center .dialog-content {
    margin-top:                     -100px;
    height:                         200px;
}
.dialog-background.hint-dialog .dialog-center .dialog-content .hint-text {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
    height:                         calc(56px);
    line-height:                    20px;
}
.dialog-background.hint-dialog .dialog-center .dialog-content a,
.dialog-background.hint-dialog .dialog-center .dialog-content a:visited,
.dialog-background.hint-dialog .dialog-center .dialog-content a:hover {
    color:                          #3498DB;
}
