.dialog-background.hint-dialog .hint-text {
    height:                         56px;
    line-height:                    20px;
}
.dialog-background.hint-dialog a,
.dialog-background.hint-dialog a:visited,
.dialog-background.hint-dialog a:hover {
    color:                          #3498DB;
}
