.dialog-background.image-dialog .dialog-center .dialog-content {
    margin:                         0 auto 0 auto;
    margin-top:                     -108px;
    height:                         216px;
    width:                          400px;
    background-color:               var(--ui-background2);
    position:                       relative;
    border-radius:                  2px;
}
.dialog-background.image-dialog.new-image .dialog-center .dialog-content {
    margin-top:                     -128px;
    height:                         256px;
}
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-text {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
}
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-row {
    float:                          left;
    width:                          100%;
    padding:                        0 0 8px 0;
}
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-row div,
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-row input {
    float:                          left;
    height:                         32px;
    font-size:                      16px;
    line-height:                    32px;
}
.dialog-background.image-dialog.new-image .dialog-center .dialog-content .image-dialog-row:first-child input {
    width:                          180px;
}
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-row input.invalid {
    border:                         var(--text-input-invalid-border);
}
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-row div {
    width:                          128px;
}
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-row div.form-label {
    text-align:                     right;
    padding:                        0 8px 0 0;
}
.dialog-background.image-dialog .dialog-center .dialog-content .image-dialog-row input {
    width:                          80px;
    outline:                        none;
    padding:                        0 0 0 8px;
}
