.dialog-background.license-dialog .dialog-center .dialog-content {
    margin-top:                     -300px;
    width:                          600px;
    height:                         600px;
}
.dialog-background.license-dialog .dialog-center .dialog-content .license-text {
    position:                       absolute;
    left:                           32px;
    top:                            51px;
    width:                          calc(100% - 64px);
    height:                         calc(100% - 144px);
    line-height:                    18px;
    background-color:               var(--ui-background1);
    border:                         var(--ui-border1);
    border-radius:                  2px;
    overflow:                       hidden;
    overflow-y:                     scroll;
    padding:                        8px;
}
