.dialog-background.list-dialog .dialog-center .dialog-content {
    margin:                         0 auto 0 auto;
    margin-top:                     -200px;
    width:                          500px;
    height:                         400px;
    background-color:               var(--ui-background2);
    position:                       relative;
    border-radius:                  2px;
}
.dialog-background.list-dialog .dialog-center .dialog-content .list-comment {
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
    padding:                        0 32px 0 32px;
    font-style:                     italic;
    -webkit-user-select:            none;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
    height:                         256px;
    background-color:               var(--ui-background1);
    border:                         var(--ui-border1);
    border-radius:                  2px;
    overflow:                       hidden;
    overflow-x:                     scroll;
    outline:                        none;
}
.dialog-background.list-dialog.with-comment .dialog-center .dialog-content .item-list {
    top:                            96px;
    height:                         224px;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item {
    float:                          left;
    width:                          100%;
    height:                         48px;
    line-height:                    48px;
    padding:                        0;
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    border:                         var(--ui-border3);
    border-width:                   0 0 1px 0;
    cursor:                         pointer;
    outline:                        none;
    -webkit-user-select:            none;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item a {
    float:                          left;
    position:                       relative;
    width:                          100%;
    height:                         100%;
    padding:                        0 16px 0 16px;
    border:                         1px solid transparent;
    outline:                        none;
    color:                          var(--ui-text1);
    text-decoration:                none;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item.focus a {
    border:                         var(--focus-border-dotted);
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item img,
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item span {
    float:                          left;
    pointer-events:                 none;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item img {
    width:                          32px;
    height:                         32px;
    margin:                         7px 8px 0 0;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item span {
    width:                          calc(100% - 72px);
    height:                         48px;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item span.item-title {
    height:                         24px;
    line-height:                    24px;
    margin-top:                     4px;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item span.item-sub-title {
    font-size:                      10px;
    height:                         16px;
    width:                          312px;
    white-space:                    nowrap;
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    line-height:                    16px;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item div.item-state {
    pointer-events:                 none;
    font-size:                      10px;
    height:                         16px;
    line-height:                    18px;
    width:                          auto;
    position:                       absolute;
    right:                          16px;
    bottom:                         4px;
    border-radius:                  10px;
    color:                          #FFFFFF;
    padding:                        0 8px 0 8px;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .loading-dots {
    position:                       absolute;
    left:                           50%;
    top:                            50%;
    margin:                         -19px 0 0 -25px;
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item div.item-state.green {
    background-color:               var(--color-green);
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item div.item-state.red {
    background-color:               var(--color-red);
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item:hover {
    background-color:               var(--ui-background4);
    color:                          var(--ui-text2);
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item.selected {
    background-color:               var(--ui-background5);
}
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item:hover a,
.dialog-background.list-dialog .dialog-center .dialog-content .item-list .list-item.selected a {
    color:                          var(--ui-text1);
}
.dialog-background.list-dialog .dialog-center .dialog-content .buttons .button.blue {
    margin-right:                   0;
    float:                          right;
}
