.dialog-background.settings-dialog .dialog-center .dialog-content {
    margin:                         0 auto 0 auto;
    margin-top:                     -300px;
    width:                          580px;
    height:                         600px;
    background-color:               var(--ui-background2);
    position:                       relative;
    border-radius:                  2px;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
    height:                         calc(100% - 144px);
    line-height:                    28px;
}
.dialog-background.settings-dialog.with-image img {
    display:                        block;
    width:                          64px;
    margin-left:                    32px;
}
.dialog-background.settings-dialog.with-image .dialog-center .dialog-content .settings-text {
    margin-left:                    80px;
    width:                          504px;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tabs {
    z-index:                        1000;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel {
    position:                       absolute;
    top:                            39px;
    width:                          100%;
    height:                         calc(100% - 40px);
    background-color:               var(--ui-background1);
    border-radius:                  2px;
    border:                         var(--ui-border1);
    overflow:                       hidden;
    overflow-y:                     scroll;
    z-index:                        50;
    display:                        none;
    padding:                        4px 0 0 0;
    font-size:                      13px;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel.visible {
    display:                        block;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel hr {
    float:                          left;
    width:                          calc(100% - 40px);
    margin:                         8px 0 4px 8px;
    opacity:                        0.25;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .boolean-setting {
    float:                          left;
    width:                          calc(100% - 40px);
    margin:                         8px 0 4px 8px;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .boolean-setting .checkbox {
    float:                          left;
    width:                          22px;
    height:                         22px;
    margin:                         0 8px 0 0;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .boolean-setting .description {
    float:                          left;
    width:                          calc(100% - 40);
    line-height:                    22px;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .update {
    float:                          left;
    width:                          calc(100% - 40px);
    margin:                         8px 0 4px 8px;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .update .current-file,
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .update .progress-bar,
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .update-button {
    float:                          left;
    width:                          100%;
    min-height:                     20px;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .update .current-file {
    overflow:                       hidden;
    text-overflow:                  ellipsis;
    white-space:                    nowrap;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .update .progress-bar {
    height:                         16px;
    visibility:                     hidden;
}
.dialog-background.settings-dialog .dialog-center .dialog-content .settings-text .tab-panel .update .progress-bar .bar {
    margin:                         0;
}
