/* Statistics dialog */
.dialog-background.statistics-dialog .dialog-center .dialog-content {
    margin-top:                     -300px;
    width:                          600px;
    height:                         600px;
}
.dialog-background.statistics-dialog .dialog-center .dialog-content .statistics-text {
    position:                       absolute;
    left:                           32px;
    top:                            64px;
    width:                          calc(100% - 64px);
    height:                         calc(456px);
    line-height:                    28px;
    background-color:               var(--ui-background1);
    border:                         var(--ui-border1);
    overflow:                       hidden;
    overflow-y:                     scroll;
    padding:                        16px 0 0 0;
}
.dialog-background.statistics-dialog.with-image .dialog-center .dialog-content .buttons input[type="button"].button {
    float:                          right;
}
.dialog-background.statistics-dialog .text-line {
    float:                          left;
    width:                          100%;
    height:                         20px;
    line-height:                    20px;
    padding:                        0 16px 0 16px;
}
.dialog-background.statistics-dialog .chart {
    float:                          left;
    width:                          100%;
    padding:                        16px;
}
.dialog-background.statistics-dialog .chart .chart-row {
    float:                          left;
    margin:                         0;
    width:                          100%;
    height:                         28px;
}
.dialog-background.statistics-dialog .chart .chart-bar,
.dialog-background.statistics-dialog .chart .chart-title {
    float:                          left;
    position:                       relative;
    width:                          50%;
    color:                          var(--ui-text2);
    padding:                        0 0 0 8px;
}
.dialog-background.statistics-dialog .chart .chart-bar {
    height:                         28px;
    padding:                        8px 0 0 0;
}
.dialog-background.statistics-dialog .chart .chart-title {
    color:                          var(--ui-text1);
    height:                         28px;
    line-height:                    28px;
}
.dialog-background.statistics-dialog .chart .chart-bar,
.dialog-background.statistics-dialog .chart .chart-bar .chart-bar-perc {
    line-height:                    8px;
}
.dialog-background.statistics-dialog .chart .chart-bar .chart-bar-perc {
    float:                          left;
    position:                       absolute;
    left:                           0;
    top:                            8px;
    height:                         8px;
    overflow:                       hidden;
    white-space:                    nowrap;
    color:                          var(--ui-text1);
    padding:                        0 0 0 8px;
    border-radius:                  4px;
    box-shadow:                     1px 1px 3px rgba(0, 0, 0, 0.5);
}
.dialog-background.statistics-dialog .chart .chart-bar .chart-bar-perc.green {
    background-color:               var(--color-green);
}
.dialog-background.statistics-dialog .chart .chart-bar .chart-bar-perc.red {
    background-color:               var(--color-red);
}
