.dialog-background.volume-dialog .dialog-center .dialog-content {
    margin:                         0 auto 0 auto;
    margin-top:                     -104px;
    width:                          512px;
    height:                         208px;
    background-color:               var(--ui-background2);
    position:                       relative;
}
.dialog-background.volume-dialog .dialog-center .dialog-content .volume-row {
    float:                          left;
    width:                          100%;
    height:                         32px;
    padding:                        0 0 0 32px;
}
.dialog-background.volume-dialog .dialog-center .dialog-content .volume-row span.label,
.dialog-background.volume-dialog .dialog-center .dialog-content .volume-row input {
    float:                          left;
    height:                         32px;
    font-size:                      16px;
    line-height:                    32px;
}
.dialog-background.volume-dialog .dialog-center .dialog-content .volume-row input.invalid {
    border:                         var(--text-input-invalid-border);
}
.dialog-background.volume-dialog .dialog-center .dialog-content .volume-row span.label {
    width:                          160px;
    -webkit-user-select:            none;
}
.dialog-background.volume-dialog .dialog-center .dialog-content .volume-row .slider {
    margin-left:                    8px;
}
.dialog-background.volume-dialog .dialog-center .dialog-content .volume-row input {
    width:                          48px;
    outline:                        none;
    padding:                        0 0 0 8px;
}
