.dialog-background.volume-dialog .volume-row {
    height:                         32px;
    padding:                        0 0 0 32px;
}
.dialog-background.volume-dialog .volume-row span.label,
.dialog-background.volume-dialog .volume-row input {
    float:                          left;
    height:                         32px;
    font-size:                      16px;
    line-height:                    32px;
}
.dialog-background.volume-dialog .volume-row span.label {
    width:                          160px;
}
.dialog-background.volume-dialog .volume-row .slider {
    margin-left:                    8px;
}
.dialog-background.volume-dialog .volume-row input {
    width:                          48px;
    outline:                        none;
    padding:                        0 0 0 8px;
}
